[2019-08-17 14:59] guillaumevernieres opened #5 "Keeping track of obs DA window"
We need to eventually indicate the size of the window, so ioda.adt.nc should be ioda.adt.24h.nc ... or something.

[2019-08-17 15:00] guillaumevernieres opened #6 "loading anaconda module doesn't work"
Not finding the anaconda module in obs_prep jjob.

[2019-08-17 15:32] flampouris commented on #6
I think that the problem is more general, the information from places.yaml is not communicated correctly.

[2019-08-17 15:41] flampouris commented on #5
I added the the **DA_SLOT_LEN** from godas/workflow/defaults/da.yaml to  the name of the output file (jjobobsproc branch)

[2019-08-17 15:50] guillaumevernieres commented on #6
Probably, but that seems simpler that that. I can't load your anaconda:

$ module purge
$ module use -a /home/Stylianos.Flampouris/modulefiles/anaconda
$ module load anaconda/2019.08.07
Lmod has detected the following error:  The following module(s) are unknown: "anaconda/2019.08.07"

Please check the spelling or version number. Also try "module spider ..."
It is also possible your cache file is o

[2019-08-17 16:01] flampouris commented on #6
I have to different ideas:

1. at the top of the script, #!/bin/bash, it needs “-l”

2. I screwed somehow the permissions

Ps I am writing from my phone now on my way to a hike.

[2019-08-17 16:04] guillaumevernieres commented on #6
No need to work today @flampouris ! Just adding to the todo list as I jack my way through the workflow!

[2019-08-22 15:12] guillaumevernieres opened #9 "jjobs currently not providing exit status"
set -e at the head of the script ...

[2019-08-22 18:25] flampouris commented on #6
Fixed on the way loading the modulefiles

module use -a /home/Stylianos.Flampouris/modulefiles/

The fix is at the PR_ForObs

[2019-08-22 22:17] #5 closed, assigned to nobody

[2019-08-22 22:17] #6 closed, assigned to nobody

[2019-08-29 20:00] flampouris opened #14 "Script replicating the same filters to all the yaml files of SOCA"
Script replicating the same filters to all the yaml files of SOCA

[2019-08-29 20:04] ShastriPaturi opened #15 "Add scripts for other obs types"

[2019-08-30 00:20] flampouris opened #17 "The fix files have been updated"
Point to the correct path, the same as previously with suffix UPD

[2019-09-07 14:11] flampouris opened #19 "Hera has closed ports... python fails"
Open ticket with helpdesc

[2019-09-07 17:50] flampouris opened #22 "Change of the coodinate system"
The app has to run at the JJOB_PREP_LETKF

@guillaumevernieres can you prepare the app fro

[2019-09-07 19:52] flampouris opened #23 "create the platform depending yaml file"
@JianKuang-NOAA
Could you create the platforms/hera.yaml file?

[2019-09-07 20:39] flampouris opened #24 "Put the job files for the ensemble to a temporary job-dir"
Currently, the JJOB for each member is generated in the [...]/godas/jobs. This has to change to a tmp_jobs path

[2019-09-07 21:48] jkuang-exploro commented on #23
Sure. Will do.

Jian

[2019-09-09 16:21] guillaumevernieres opened #26 "Check for presence of ioda obs"
If not present, submit obs jjobs in user's "scratch"

[2019-09-09 20:05] jkuang-exploro commented on #23
I've created a pull request containing hera platform file.

[2019-09-10 01:30] guillaumevernieres opened #28 "Merged #27 too quickly"
@JianKuang-NOAA , sorry, I approved and merged your last pr too quickly.
- You have leftover conflict syntax (places.yml).
- Whatever you did doesn't seem to work on hera, at least for me. Were you able to test?

@JianKuang-NOAA , @flampouris : Let's agree that at a minimum we test that the creation of the workflow, on Hera, runs OK (running ./setup_case.sh ...) before we submit a pr.

[2019-09-10 02:11] flampouris commented on #28
@guillaumevernieres I agree

[2019-09-10 12:09] guillaumevernieres opened #30 "Update readme"
- setup_case.sh needs -p HERA
- Typo in rocoto stat

[2019-09-10 12:10] guillaumevernieres opened #31 "Update 3dvar yaml to reflect recent changes in ufo"
The filter arguments have changed and need to be updated.

[2019-09-10 12:53] #28 closed, assigned to nobody

[2019-09-10 13:05] flampouris commented on #26
@guillaumevernieres  I had done this and not merged.

[2019-09-10 13:18] #23 closed, assigned to nobody

[2019-09-10 13:19] flampouris commented on #17
Continue at #31

[2019-09-10 13:19] #17 closed, assigned to nobody

[2019-09-10 13:20] guillaumevernieres commented on #26
@flampouris , create a pr. I'll look at it.

Side note and fyi: If you mention the issue with specific keywords, the issue will be closed when the pr is merged.

EX: in your pr description, finish with
closes #123

where #123 is the issue #

[2019-09-10 13:22] flampouris commented on #19
Tried and failed:
- The working installation from Theia transferred to Hera
- My own installation on Hera
- Todd's installation on Hera

[2019-09-10 13:24] flampouris commented on #26
... I deleted the branch before merging. Just restarted.

On Tue, Sep 10, 2019 at 9:20 AM guillaumevernieres <notifications@github.com>
wrote:

--
Dr. Rer. Nat. Stylianos Flampouris
Team Leader for Marine Data Assimilation
IMSG at NOAA​​/NWS/NCEP/EMC
*​P: *+1(301)683-3789​ *E: *stylianos.flampouris@noaa.gov

[2019-09-10 13:32] guillaumevernieres opened #32 "Duplicate static files for soca"
- Remove ..../marineda/soca-staticUPD
- Make ..../marineda/soca-static readable by the group
- Update places.yml and replace soca-staticUPD by soca-static

[2019-09-10 14:00] guillaumevernieres commented on #32
"closes #32"
Should have been at the end of your pr description... details.

[2019-09-10 14:00] #32 closed, assigned to flampouris

[2019-09-10 14:01] flampouris commented on #32
Not before merging! :)

[2019-09-10 14:06] guillaumevernieres commented on #32
Not sure what you mean. Your pr addresses #32, if you want 32 to be closed after the merge ... which is what you usually would wand, you just add "closes #32". Not important, but it cleans up the issues.

[2019-09-10 14:15] flampouris opened #35 "Do we need this branch revert-27-feature?"
Deleting it?

[2019-09-10 14:19] guillaumevernieres commented on #35
@flampouris : Nope, from yesterday's snafu. Removed.

[2019-09-10 14:19] #35 closed, assigned to nobody

[2019-09-10 14:19] jkuang-exploro commented on #28
Sorry for that. Not got a chance testing it on Hera yet. I've just test it on Hera and it works after your fixes.

[2019-09-10 14:24] guillaumevernieres commented on #28
@JianKuang-NOAA , no worries. Thanks for checking.

[2019-09-10 14:26] guillaumevernieres commented on #31
@flampouris : I removed the filters from the obstypes in the yaml, not great science, but that should make the yaml compatible between soca-stable and soca-develop ... We'll fix that later.
Currently testing.

[2019-09-18 19:10] guillaumevernieres opened #37 "Issues with intel 19, switch back to 17"
Adjoint of getvalue is extremely slow with intel19, fine with 17.

[2019-09-18 19:21] guillaumevernieres opened #38 "Check multiple cycles"
replace model forecast by a dummy forecast and test multiple cycle.

[2019-09-18 19:49] guillaumevernieres opened #39 "Move soca yaml files from soca_static dir to soca-config repo"
- Moving the soca configurations to a dedicated repository (github.com/JCSDA/soca-config.git)
- Scripts will need to be adjusted accordingly

[2019-09-24 14:25] guillaumevernieres commented on #38
Multiple cycles tested, but fake forecast is not yet implemented.

[2019-09-25 21:55] guillaumevernieres opened #41 "Layout for 1/4 deg mom6 is wrong"

[2019-09-26 17:19] flampouris commented on #9
This is urgent.

[2019-09-26 17:53] flampouris opened #42 "The number of processors at the JJOBs should be variable"
Currently, the # processors at the JJOBS submitting scripts is hardcoded but should be variables, defined by the template at the workflow.

[2019-09-26 18:17] guillaumevernieres opened #43 "soca checkpoint app not working"
Requires ocean model forcing, currently not in temporary "model scratch".

[2019-09-26 18:18] guillaumevernieres opened #44 "Add MOM6/CICE to workflow"

[2019-09-26 21:21] guillaumevernieres opened #46 "SST filename not correct for windsat"

[2019-09-27 12:10] flampouris opened #47 "Rocoto Warnings"
Since this morning, I get the message below, not sure what is the reason for it.

`[Stylianos.Flampouris@hfe03 workflowtest001]$ rocotorun -w workflow.xml -d workflow.db

09/27/19 12:08:18 UTC :: workflow.xml :: WARNING: Rocoto does not support Slurm's heterogeneous job feature.  However, Rocoto

09/27/19 12:08:18 UTC :: workflow.xml :: WARNING: does support Slurm requests for non-unifortm task ge

[2019-09-27 15:15] flampouris opened #48 "Cleanup of workflow/defaults/resources.yaml"
The workflow/defaults/resources.yaml needs to be cleaned up from the `default_resources: &default_resources` (line 26) and below.

[2019-09-27 15:54] hyunchul386 opened #49 "error in cloning src/soca-bundle"
In git clone github.com/NOAA-EMC/godas.git
there occur error, like
Cloning into 'godas'...
...
error: no such remote ref b016f6c5f807850d8494fbbb2b2ade900c3b954f
Fetched in submodule path 'src/soca-bundle', but it did not contain b016f6c5f807850d8494fbbb2b2ade900c3b954f. Direct fetching of that commit failed.

in git site, the soca-bundle is
https://github.com/JCSDA/soca-bundle/tree/b016f6c5f80785

[2019-09-27 16:12] flampouris commented on #49
The soca-bundle was updated 15 min ago. The submodule has to be updated.

On Fri, Sep 27, 2019 at 11:54 AM Hyun-Chul Lee -NOAA <
notifications@github.com> wrote:

--
Dr. Rer. Nat. Stylianos Flampouris
Team Leader for Marine Data Assimilation
IMSG at NOAA/NWS/NCEP/EMC
*P: *+1(301)683-3789 *E: *stylianos.flampouris@noaa.gov

[2019-09-27 16:18] guillaumevernieres commented on #49
Why I don't like submodules ... There has to be a way to track a branch as opposed to a commit #. I'll look into it.

[2019-09-27 18:14] jkuang-exploro commented on #47
This means that rocoto doesn't support heterogeneous job, where you have different cpu count across the nodes. In this case, you want 20 cpu per node for 16 of nodes, and 19 cpu per node for another 16 nodes. Instead, rocoto allocates you 20 cpu per node for 32 nodes.

We would need to change the resource to 32:ppn=20 to get rid of this message.

[2019-09-27 19:22] hyunchul386 opened #50 "to set rocoto retries"
In my test there occurs segment fault  in da_3dvar_run, and rocoto resubmitted 14 times (may be more, but I stopped manually there).
We may need to set the maximum parameter for retry by add at the default xml, like
<task name="da_3dvar_run" maxtries="3">
the number (like 3) can be defined other places, and may applied to all other tasks also.

[2019-09-27 19:24] hyunchul386 commented on #50
<task name="da_3dvar_run" maxtires="3">

[2019-09-27 19:25] hyunchul386 commented on #50
"<task name="da_3dvar_run" maxtries="3">"

[2019-09-27 19:27] hyunchul386 commented on #50
task name="da_3dvar_run" maxtries="3"

[2019-09-27 19:41] guillaumevernieres commented on #50
@hyunchul386 good point, hera had a fs issue earlier today, that could be why the var failed. can you email the path to where you run? I'd like to have a look at the log.

[2019-09-27 19:57] jkuang-exploro commented on #50
Under workflow/default/settings, there's a variable named "**max_job_tries**" set default to be 2.

That's the variable that will pass to rocoto xml.

If you like to configure it in a case file, simply create a "settings" session and include that variable. It should work.

[2019-09-27 20:00] jkuang-exploro commented on #42
Could you please point me to the specific file that need to updated?

[2019-09-27 20:13] hyunchul386 commented on #50
The logs are in

/scratch2/NCEPDEV/climate/Hyun-Chul.Lee/HybGODAS/godas/workflow/workflowtest001/log/2011100112

After rewind the rocoto job, there are another issue in
 10   File
"/scratch2/NCEPDEV/climate/Hyun-Chul.Lee/HybGODAS/godas/build/bin/rads_adt2ioda.py",
line 13, in <module>
 11     import netCDF4 as nc
 12 ImportError: No module named netCDF4

 15   File
"/scratch2/NCEPDEV/climate/Hyun-

[2019-09-27 20:20] hyunchul386 commented on #50
For me, workflow/default/settings "*max_job_tries*" is clear.
So, I guess this settting will insert <maxtries="2"> to xml.

Hyun-Chul

On Fri, Sep 27, 2019 at 3:57 PM JianKuang-NOAA <notifications@github.com>
wrote:

[2019-09-27 20:36] guillaumevernieres commented on #50
@hyunchul386 , can you access this: /scratch2/NCEPDEV/marine/marineda
That's where we keep the obs for now

[2019-09-27 20:38] guillaumevernieres commented on #50
The error that you see is already in a ticket, but the script should have found the pre-processed obs.
On the positive side, the b-matrix init and grid generation worked ...

[2019-09-27 21:03] hyunchul386 commented on #50
I can access for part of it, it seems that marine account is needed.

On Fri, Sep 27, 2019 at 4:36 PM guillaumevernieres <notifications@github.com>
wrote:

[2019-09-27 21:16] guillaumevernieres commented on #50
@flampouris , can @hyunchul386 be added to the group?

[2019-09-30 13:00] #37 closed, assigned to guillaumevernieres

[2019-09-30 13:03] guillaumevernieres commented on #26
@flampouris , I think we can clase that issue, agree?

[2019-09-30 13:04] guillaumevernieres commented on #38
Checked a few days ago, to be rechecked tonight (09/30/2019)

[2019-09-30 13:06] #48 closed, assigned to jkuang-exploro

[2019-09-30 13:12] guillaumevernieres opened #53 "Candidate release branch"
We need to have a candidate release branch today, and a master by cob (cob being before 9am 10/01/2019) ...

[2019-09-30 13:18] guillaumevernieres opened #54 "Remove soca-bundle from submodules"
We can't track changes of the repositories in the bundle, and I don't think adding all the repositories in the bundle as a submodule is a good idea.

[2019-09-30 13:21] guillaumevernieres commented on #54
addresses bug reported in #49

[2019-09-30 13:23] guillaumevernieres opened #55 "Prepare tutorial"
Check that the info in the readme is still accurate and sufficient to run a simple tutorial.

[2019-09-30 13:26] #26 closed, assigned to flampouris

[2019-09-30 15:21] #41 closed, assigned to guillaumevernieres

[2019-09-30 15:23] #49 closed, assigned to nobody

[2019-09-30 15:23] #54 closed, assigned to guillaumevernieres

[2019-09-30 19:02] flampouris commented on #50
We are waiting for approval from the management.

On Fri, Sep 27, 2019 at 5:16 PM guillaumevernieres <notifications@github.com>
wrote:

[2019-09-30 22:08] #38 closed, assigned to flampouris, guillaumevernieres

[2019-09-30 22:08] #53 closed, assigned to nobody

[2019-09-30 22:18] guillaumevernieres opened #58 "Point to soca-config"
godas is currently using yaml's from soca_static, chnage to pointing to soca-config repo

[2019-09-30 22:19] flampouris opened #59 "LETKF"
Finish the LETKF tasks

[2019-09-30 22:24] guillaumevernieres opened #60 "System Documentation"
- Workflow
- Yaml for configuration of soca (doxygen)
- Model
- Observation
- Explain fix files
- Explain run directory content

[2019-10-01 15:09] flampouris opened #62 "Check the "recursive" for gitclone"
Recursive cloning can create issues. Check if we should remove it.

[2019-10-01 15:10] flampouris opened #63 "rocotoviewer"
Check if the rocotoviewer is available on Hera, if ye describe how to use it.

[2019-10-01 15:41] flampouris opened #64 "Make the installation of crtm optional"

[2019-10-02 12:28] guillaumevernieres opened #66 "develop is broken"
@JianKuang-NOAA , did you revert your push from yesterday?
Please, go in the setting and disallow direct pushes to develop, and set at least 1 approval to merge.
@flampouris , could you give it a shot as well. Unfortunate timing ...

[2019-10-02 12:31] jkuang-exploro commented on #66
I did revert it.

Jian

[2019-10-02 12:58] guillaumevernieres commented on #66
@JianKuang-NOAA , btw, for future reference, the revert should have been done through a PR, not a direct push to develop. I just did a fresh clone, still no go.
Please issue your bug fix through a PR.
The following commit works: 8b533c37ad446050a1760b6f1f02bc79515df639

[2019-10-02 13:01] flampouris commented on #66
@guillaumeverieres what's the failing message?

[2019-10-02 13:08] guillaumevernieres commented on #66
@flampouris is it working for you? I had to revert 1 or 2 commits to get back to a working version.
Here's the beginning of the traceback:

ERROR:crow.config:doc.platform.least_used_temp[0][0]: AttributeError error doc: no settings in ['user_places', 'accounting', 'platform_common', 'partition_
ERROR:crow.config:doc.platform.least_used_temp[0]: CalcKeyError error doc.platform.least_used_temp[0][0]

[2019-10-02 13:20] flampouris commented on #66
This is awkward, the FIX_SCRUB was introduced with Jian's PR, which I am
currently testing.

I will keep you posted.

[2019-10-02 13:25] jkuang-exploro commented on #66
Yeah sorry again.

The FIX_SCRUB feature is included in the updated PR of PR_ens branch. I've accidentally pushed it into the develop yesterday.

I've reverted one commit but it's possible that more than 1 commits need to be reverted.

I've set up the protection rule for develop. This will never happens.

[2019-10-02 13:26] guillaumevernieres commented on #66
FIX_SCRUB was merged and is the last commit in develop ...

[2019-10-02 13:29] guillaumevernieres commented on #66
:+1: @JianKuang-NOAA , mistakes happen, you still don't come close to the number of blunders I have pushed to the various project I work on :)
If you scroll up, you'll see #tag of the last commit that worked for me.

[2019-10-02 13:37] jkuang-exploro commented on #66
@guillaumevernieres
@flampouris
A bugfix PR has been created to revert the develop back to 8b533c3. Please check.

I've added the protection rule which will prevent this from happening again.

[2019-10-02 13:41] flampouris commented on #66
Thank you Jian for taking care of this and it's good that you updated the
settings.

About the error, I was not working with the develop branch.

[2019-10-02 13:46] guillaumevernieres commented on #66
Perfect, that's something that any of us could do inadvertently. That's why I never do `git push` (hint hint @flampouris :) ) by itself, I make a habit of specifying the branch every time ... Too easy to make a mistake, more so when we multi-task with several projects. Which I know we all are!

[2019-10-02 17:35] flampouris commented on #42
@JianKuang-NOAA we have hardcoded the number of processors at every JJOB file, e.g. [...]/jobs/JJOB_DA_3DVAR

Could you make it variable?

[2019-10-02 17:56] jkuang-exploro commented on #42
Sure. Will do.

Jian

[2019-10-02 18:32] flampouris commented on #66
we are already ahead of this, closing.

[2019-10-02 18:32] #66 closed, assigned to nobody

[2019-10-02 19:45] jkuang-exploro commented on #63
I've updated CROW so that a soft link to rocoto_viewer.py will be included in EXPDIR

[2019-10-02 20:16] hyunchul386 commented on #50
Just update the account issue for me.
I cannot access to /scratch2/NCEPDEV/marine/marineda/ioda_observations (GodasOceanObs001)
so, in da_3dvar_run, there occur error related with the ioda obs data.

[2019-10-02 20:16] jkuang-exploro commented on #63
PR created for this inclusion, please check.

[2019-10-02 20:37] flampouris commented on #63
I dont know how to use rocoto_view.py, please provide some instructions.

[2019-10-02 21:49] flampouris commented on #50
@hyunchul386

1. could you copy and paste here with the output of `id` ?

2. please try again, I updated the permissions and let me know.

[2019-10-02 21:51] #62 closed, assigned to nobody

[2019-10-03 13:41] hyunchul386 commented on #50
@flampouris

My id in Hera is
uid=10706(Hyun-Chul.Lee) gid=11905(cpc)
groups=11905(cpc),504(nescc),511(rstprod),11806(climate),11830(stmp),16517(fv3-cpu)

In the directory of marine group, /scratch2/NCEPDEV/marine/marineda
now I can read and copy files but cannot make directory or write file.

I am preparing for 201110 forcing from CFSR and is this directory for the
data?

On Wed, Oct 2, 2019 at 5

[2019-10-03 14:26] flampouris commented on #50
@yunchul386

- Working on creating one group (marineda), it is broader the issue as we
are at least from 3 groups.
- Yes, this will be the directory, but please use a different directory for
now.
- Before starting preparation, ask Jessica to test a couple of days

[2019-10-03 17:01] flampouris commented on #50
All, the account has been approved and the helpdesk actively works on it.

[2019-10-04 19:32] flampouris opened #71 "Update the MODEL_SCRATCH at godas/jobs/JJOB_DA_PREP"
At line 20 of the JJOB_DA_PREP, the MODEL_SCRATCH=/scratch4/NCEPDEV/ocean/scrub/Guillaume.Vernieres/JEDI/mom6-cice5-fv3/test-initcice5/ has to be updated.

[2019-10-04 20:50] flampouris opened #73 "Clean up / optimize the letkf"
@JianKuang-NOAA

The workflow at the "develop" has been updated for the 3dvar at the same time, there are updates at the core of the workflow for the ensemble, but the JJOB at the PR_letkf take care some of the needs of the ensemble.

Could you clean up the JJOBS scripts for the LETKF ( feature/PR_letkf branch), the way that it is optimal for running the system?

In case of questions, we can meet

[2019-10-08 13:11] jkuang-exploro opened #74 "Create top level "modules" directory"
The modules directory is a central place to store modules that are loaded at both build and runtime. This could alleviate the JJOB scripts.

[2019-10-09 16:03] guillaumevernieres opened #75 "Add filename convention to wiki"

[2019-10-09 17:29] flampouris opened #76 "Short documentation for the oceanview.py"

[2019-10-09 18:17] guillaumevernieres commented on #76
see [wiki](https://github.com/NOAA-EMC/godas/wiki)

[2019-10-10 11:36] #46 closed, assigned to nobody

[2019-10-10 13:34] flampouris commented on #76
Very nice!

[2019-10-10 13:34] #76 closed, assigned to nobody

[2019-10-10 19:39] #75 closed, assigned to guillaumevernieres

[2019-10-11 16:14] guillaumevernieres opened #79 "Split ADT into instruments, use file name convention"
* adt is currently not following the proper filename convention
* Expand per instrument ...

[2019-10-14 16:53] flampouris opened #80 "The sst_prep_obs.sh is not compatible with staged and real time processing conversion"
The problem is more involved than it appears.

For staged sst obs the sst_prep_obs.sh takes as an input the expected names of converted names. For converting the observations, the input is the path with the observations.

Currently, the develop works for staged but it will fail -with one or the other way (filenames wrong, some obs not found, etc)- for not staged. From the other side the feature/Ob

[2019-10-15 17:40] hyunchul386 commented on #80
I guess, my issue would be related with this problem also, that is;

(may be related with ...
    142 --- Logging error ---
    143 Traceback (most recent call last):
    144   File "/scratch2/NCEPDEV/marine/Stylianos.Flampouris/save/anaconda3/lib/python3.7/logging/handlers.py", line 939, in emit
    145     self.socket.sendto(msg, self.address)
    146 OSError: [Errno 101] Network is unreachable

[2019-10-15 17:50] flampouris commented on #80
It's on the Wiki. The Errno 101 is an error related to the diagnostics.
Check the output directory, the ioda file is present.

[2019-10-15 17:55] hyunchul386 opened #81 "parallel operation for non-parallel access in da_prep_soca"
task da_prep_soca has 10 nodes and io_fld_write has some inconsistency in non-parallel acess, like

     35 NOTE from PE     0: close_param_file: INPUT_MOM6/MOM_input has been closed successfully.
     36 NOTE from PE     0: close_param_file: INPUT_MOM6/MOM_override has been closed successfully.
     37 !!! ABORT in io_fld_write on task #0064: NetCDF: Parallel operation on file opened for non-para

[2019-10-15 18:13] hyunchul386 commented on #80
In my case,

    193 SST SOURCE = sst.avhrr19_l3u.nesdis
    194 obsrundir: /scratch1/NCEPDEV/stmp2/Hyun-Chul.Lee/Hyun-Chul.Lee/Hyun-Chul.Lee/rundir/workflowtest002/2011100112/Data/2011100112
    195 obsrundir: /scratch1/NCEPDEV/stmp2/Hyun-Chul.Lee/Hyun-Chul.Lee/Hyun-Chul.Lee/rundir/workflowtest002/2011100112/Data/2011100112
    196 + echo There are no SST observations from sst.avhrr19_l3u.nesdis

[2019-10-15 18:39] flampouris commented on #80
I see, you are trying to process the observations. The AVHRR obs will be
created correctly as soon as the PR #78 goes through. For now, you can use
the prestaged obs.

[2019-10-15 18:42] guillaumevernieres commented on #81
@hyunchul386 : It doesn't look like you built the master branch of the soca-bundle.

[2019-10-15 21:52] guillaumevernieres opened #82 "Add option to run different resolutions"
Start by adding a 1 degree option to reduce the resources required for testing.
* Useful to speed-up the testing
* Easier implementation of a forecast step with "mom solo"

[2019-10-15 22:49] guillaumevernieres opened #83 "Still pointing to soon to be offline file system"
[... still pointing to scratch4](https://github.com/NOAA-EMC/godas/blob/8bf4ceda48e19aff63c8b52d9774b44fbc77ca4a/workflow/defaults/places.yaml#L32)

[2019-10-16 19:55] guillaumevernieres opened #84 "How to build MOM6-CICE-DATAATM"
Add link to base README

[2019-10-17 19:33] flampouris opened #86 "Copying linking to the observations in two different scripts"
The observations are copied/linked to the RUNCDIR at the Obs processing scripts and at the SetupJo.

The code to be cleaned up.

[2019-10-17 22:49] flampouris opened #88 "Updates for LETKF"
- Group for JJOB_PREP_LETKF*
- Update H(x) yaml files

[2019-10-18 22:27] YanHao-NOAA opened #89 "Update Python at the JJOB_OBS_PREP"
@flampouris Point to Todd's anaconda.

[2019-10-20 14:20] flampouris commented on #42
It's the NPE variable at JJOBS defined at workflow/defaults/places.yaml

[2019-10-20 14:21] flampouris opened #91 "Move all the observation processing from SetupJoCostFunction.sh to Obs_Prep JJOB and scripts"

[2019-10-20 14:23] flampouris opened #92 "CROW submodule updates to be communicated better"
Currently, CROW is a black box, we have to be aware of what's happening to that side.

[2019-10-20 15:03] jkuang-exploro commented on #92
This type of confusion is normal when the system has reached certain level of complexity. The best solution is a intra-group workflow demonstration. I would like to do it at the first week of November.

[2019-10-20 15:32] flampouris commented on #92
Hey @JianKuang-NOAA, ignore my messages till you are back! Focus on the new
member of the family and enjoy every moment!

I am just adding items to the todo list before, I forgot them.

[2019-10-21 12:47] guillaumevernieres opened #93 "Error traps in scripts"
Currently, a failure in any of the jjobs will not trigger a failure when exiting the scripts.

[2019-10-21 13:00] guillaumevernieres opened #94 "Wrong dependency in 3dvar_only.yaml"
As currently implemented, da_prep should depend on obs_prep ... Oops. The fact that it works most of the time is that obs_prep runs faster than da_prep, but not always.
Related to #91

[2019-10-21 13:05] #42 closed, assigned to nobody

[2019-10-21 13:06] flampouris commented on #82
I close this for now

[2019-10-21 13:06] #82 closed, assigned to guillaumevernieres

[2019-10-21 13:13] flampouris commented on #93
Use err_check and err_exit as described here:

https://www.nco.ncep.noaa.gov/idsb/implementation_standards/Implementation%20Standards%20v10.2.pdf

[2019-10-21 14:02] guillaumevernieres opened #95 "Static B initialization and Grid generation could be done earlier"
Moving the yaml generation for "gridgen" and "Bgen" from DA_PREP to SOCA_PREP would allow the submission of soca_prep earlier in the workflow.
No reason for SOCA_PREP to depend on da_prep and obs_prep.

[2019-10-22 16:57] ShastriPaturi commented on #79
Expanded and added to the PR.

[2019-10-22 16:58] ShastriPaturi commented on #80
Addressed the issue in the PR

[2019-10-23 00:13] #91 closed, assigned to nobody

[2019-10-23 00:13] #93 closed, assigned to guillaumevernieres

[2019-10-23 00:13] #94 closed, assigned to nobody

[2019-10-23 00:38] flampouris commented on #30
I am closing this.

There is no PR that will go through without the appropriate documentation.

[2019-10-23 00:38] #30 closed, assigned to guillaumevernieres

[2019-10-23 00:39] #71 closed, assigned to guillaumevernieres

[2019-10-23 01:27] flampouris commented on #50
We have discussed several issues here:

1.  Max_tries is set to 2.
2. The marineda group has been created, everybody should be able to read and write.

[2019-10-23 01:27] #50 closed, assigned to nobody

[2019-10-23 01:29] flampouris commented on #86
PR #96 closes #86

[2019-10-23 01:29] #86 closed, assigned to guillaumevernieres

[2019-10-23 01:29] flampouris commented on #83
It is addressed.

[2019-10-23 01:29] #83 closed, assigned to guillaumevernieres

[2019-10-23 01:42] flampouris commented on #64
Add ecbuild -DBUILD_CRTM=OFF at the readme.

[2019-10-23 11:56] #89 closed, assigned to nobody

[2019-10-23 12:20] guillaumevernieres opened #99 "Implementation of Ensembe VAR"
### Add a 3denvar case and layout, no LETKF for the first implementation:
See loose representation of the workflow in the figure below.

![EnVAR](https://user-images.githubusercontent.com/14031856/67598993-f3afe480-f73c-11e9-925b-e01ae0023496.png)

### Generate EnVAR yaml file on the fly
- [x] Create 3dhybenvar.yaml file with proper hash tags
- [x] Recursively add members to above yml => create me

[2019-10-23 12:25] #58 closed, assigned to guillaumevernieres

[2019-10-24 03:11] flampouris commented on #88
@JianKuang-NOAA At the layout/letkf_only.yaml, there are two entries for the da_prep_letkf. The single job works correctly, but I did not manage to make the group works correctly.  Could you take care of it?

To run the system, you will need to checkout the soca-config feature/hofx.

[2019-10-24 11:48] flampouris commented on #60
@guillaumevernieres we need the documentation for the Yaml files.

[2019-10-24 11:52] #24 closed, assigned to nobody

[2019-10-24 11:53] flampouris opened #100 "Check if the soca_ensvariance.x could be utilized for the LEKTF"

[2019-10-25 16:56] jkuang-exploro opened #101 "read/write restart file, ensemble generation step"
The app is complaining some netCDF file couldn't be found.

FATAL from PE     0: NETCDF ERROR: No such file or directory File=RESTART/MOM.res.nc

This is likely in a write process where the model need to output RESTART file while cannot find the folder and file identifier.

[2019-10-25 17:05] guillaumevernieres commented on #101
@JianKuang-NOAA : You need to give more context. What case were you running? At what step did it fail?
MOM needs a RESTART directory to be created in order to run, it looks like that step was omitted in whatever that is you are testing.

[2019-10-28 16:50] #99 closed, assigned to guillaumevernieres

[2019-10-30 11:47] guillaumevernieres opened #105 "Switch to "soca nightly stable" tag (intel19)"
* While the libs built with intel 18 are being fixed, use Dan's intel 19 based modules
* Make sure the bump tests are OK
* Update soca-config to reflect changes from master to develop
* Clean-up modules and copy module files under ".../marine-da"
* Update wiki, basic plotting scripts will be in soca-config/scripts/plot

[2019-10-30 11:49] guillaumevernieres opened #106 "Switch to default compiler (intel 18)"

[2019-10-30 18:32] flampouris commented on #106
Hera helpdesk is informed that the HDF5 is not compiled with mpi.

[2019-10-31 18:35] flampouris commented on #106
The develop branch of SOCA passes all the tests with the default installations of the Intel (18), and default parallel NetCDF, supported by Hera IT.

To use it, load the following module:

/scratch2/NCEPDEV/marine/marineda/modulefiles/jedi-18.0.5.274

[2019-10-31 18:56] guillaumevernieres commented on #106
April's fool! In October ... I don't understand. :)
Nice @flampouris thanks for pushing them!

[2019-11-03 23:21] flampouris opened #107 "Clean up the workflow to save space"
Update the workflow to transfer files to $comrot and delete the content of $RUNCDATE.

Currently, we run out of space on Hera.

[2019-11-04 14:39] #100 closed, assigned to guillaumevernieres

[2019-11-04 16:30] #105 closed, assigned to guillaumevernieres

[2019-11-07 21:05] #81 closed, assigned to nobody

[2019-11-07 21:08] #14 closed, assigned to nobody

[2019-11-07 21:08] #15 closed, assigned to nobody

[2019-11-07 21:08] #79 closed, assigned to ShastriPaturi

[2019-11-07 21:08] #80 closed, assigned to nobody

[2019-11-08 19:54] flampouris opened #112 "README.md updates"
The README needs updating

1. Update the git clone for soca-bundle
git clone --branch release/stable-nightly https://github.com/JCSDA/soca-bundle.git $CLONE_DIR/src/soca-bundle.git

2. Load the correct modules for intel 18.

[2019-11-12 00:14] flampouris opened #113 "GODAS fails to run because of the necessary modules have been moved."

[2019-11-12 16:58] #113 closed, assigned to flampouris

[2019-11-12 16:58] #112 closed, assigned to flampouris

[2019-11-13 13:49] ShastriPaturi opened #116 "Run QC Experiments"
0. Run QC Experiments
   1. Test the UFO filters from JCSDA/UFO repository
   2. Visualize the results
       2a. Use oceanview.py
       2b. Update 2a, if necessary
       2c. Add new stats to 2a or create new scripts
   3. Adjust filter values
       3a. To toss out bad ocean data
       3b. Retain/not toss out good data

[2019-11-13 21:17] ShastriPaturi opened #117 "Update Directory path in README"
Fix directory path in README at:
Building the soca-bundle
   5. Change the soca-config branch:  cd $CLONE_DIR/soca-bundle/soca-config
Add path to load python module

[2019-11-14 17:19] #117 closed, assigned to ShastriPaturi

[2019-11-15 14:02] guillaumevernieres opened #119 "Automate pull request template"
Add a PR template to force the developers to better describe their work, and make the review process easier on the reviewers.

[2019-11-15 15:52] #119 closed, assigned to nobody

[2019-11-15 18:07] guillaumevernieres opened #121 "Presence of raw sst obs not checked properly"
**Observed failure**
The scripts marks avhrr19 as being present in the raw obs directory while it is not for 10/22. Failure happens when trying to list the none existing files.

**How to reproduce**
Run the 3dvar with the start/end date:
SDATE: 2011-10-22t12:00:00
EDATE: 2011-10-22t12:00:00

[2019-11-15 20:41] guillaumevernieres commented on #121
@ShastriPaturi : Also, adding -O when calling ncks will allow debugging without having to manually remove the obs files in the scratch directory.

[2019-11-15 22:24] ShastriPaturi commented on #121
@guillaumevernieres,
I Run the 3dvar succesfully with the start/end date:
SDATE: 2011-10-22t12:00:00
EDATE: 2011-10-22t12:00:00

I did not see the **Observed failure** that you see.

My log files are at: /scratch2/NCEPDEV/marine/Shastri.Paturi/WORKFLOW_QCexp/workflowtestSST/log/2011102212
In the obs_prep.log file, the message regarding avrhrr19 is misleading. I will fix it.

[2019-11-15 22:48] flampouris commented on #121
@guillaumevernieres where is your log file?

[2019-11-15 23:37] guillaumevernieres commented on #121
Humm, weird. I'll look into it some more. I'm running a few experiments right now, so I'm not touching my sandbox for a while.

You've got a few 100 of them to chose from:
/scratch2/NCEPDEV/ocean/Guillaume.Vernieres/runs/test06/log/2011102212/obs_prep.log.0
Around line 73:
*SST Observations from sst.avhrr_l3u.nesdis-AVHRR19 for 20111022 exist and will be processed, obs directory: /scratch2/NCEPDEV

[2019-11-17 03:17] flampouris commented on #121
- The error is reproducible under conditions.

- The solution is to check for the existence of at least one $sat file and not only for the existence of the expected directory containing the observations.

[2019-11-17 04:52] ShastriPaturi commented on #121
Under what conditions - please specify.

[2019-11-18 14:47] #121 closed, assigned to ShastriPaturi

[2019-11-18 16:28] JessicaMeixner-NOAA opened #125 "rundir has FirstName.LastName twice"
The run directory structure is typically:
/scratch1/NCEPDEV/stmp2/Jessica.Meixner/Jessica.Meixner/rundir/workflowtest001
so
/some/path/to/tmp/FirstName.LastName/FirstName.LastName/rundir/<nameofworkflow>

Why do we have FirstName.LastName twice?

[2019-11-18 18:16] flampouris commented on #125
Oh man, we have fixed this thing 2-3 times till now, let this be the last one...

To answer @JessicaMeixner-NOAA 's question, we expand the temporary paths at the definitions of the "base" by the $USER which is already included at the *term_temp.

[2019-11-18 18:21] JessicaMeixner-NOAA opened #126 "Access to NDATE and NHOUR in scripts"
In the workflow/platforms/hera.yaml (in the feature/addmodel) branch I added:
[code]
However, when trying to use NHOUR or NDATE in a script (for example in scripts/prep_forecast.sh in the feature/addmodel branch) this variable would be undefined.  I currently got around this by hard-coding NHOUR to the above path directly in this script, but I'm not sure why it can't be set in this platform depend

[2019-11-19 19:56] #44 closed, assigned to JessicaMeixner-NOAA

[2019-11-19 20:14] flampouris commented on #126
@JessicaMeixner-NOAA Check the workflow/config/base.yaml, probably you need to add them there.

[2019-11-19 20:47] JessicaMeixner-NOAA commented on #84
There is a script in src/build_DATM-MOM6-CICE5.sh that will build the model.

Other options for more information: https://github.com/noaa-emc/datm-mom6-cice5/wiki#to-compile-the-coupled-model

I'm closing this issue.

[2019-11-19 20:47] #84 closed, assigned to JessicaMeixner-NOAA

[2019-11-20 16:39] guillaumevernieres opened #129 "Create obs-prep_only layout"
Along the line of the other layouts, create a case that will stage the obs i.e. cycle without a model/da.
 something like this:

**obsprep_only.yaml**
[code]
Testing would have to be outside of the period where we have pre-stagged obs.
I suggested who should be doing this work, but feel free to re-assign (as long as you don't assign me :) ).

[2019-11-21 00:04] #88 closed, assigned to flampouris

[2019-11-21 00:13] flampouris commented on #59
Open tasks:

- Add variables at the letkf.yaml and use yaml processor for updating the letkf.yaml.
- Add the forecast model in a group, output at the forecast/mem# (without destroying the deterinistic)
- RESTART --> ROTDIR and ln ROTDIT --> NEXT cycle
- Remapping before hofx
- Recentering after analysis
- PR at soca-config

Note to myself:

[2019-11-22 21:07] guillaumevernieres opened #131 "Multiple resolution/models"
Add the possibility of running multiple resolutions/models.
Start with:
- MOM6 forecast from soca 1deg only
- MOM6 CICE5 from EMC 1/4 deg only
- Possibly add MOM6 solo (built in soca-bundle) 1deg only

[2019-12-03 16:29] JessicaMeixner-NOAA opened #132 "checkout.sh or README needs updating"
If you follow the README step-by-step, you will attempt to clone the soca-bundle twice as it's cloned in the checkout.sh script and in step 0.  We should remove one or the other. Preference on which one to remove? @guillaumevernieres  @flampouris    I can make a PR with whichever removed or if someone has one coming up they can add that to theirs.

[2019-12-03 16:38] guillaumevernieres commented on #132
@JessicaMeixner-NOAA : Thanks for spotting that! Sure, issue a pr.

[2019-12-03 16:40] JessicaMeixner-NOAA commented on #132
@guillaumevernieres   Do you want it left in the checkout.sh script (we could even add the LETKF @flampouris ) or do you want people to do it explicitly?

[2019-12-03 17:54] flampouris commented on #132
I vote for all the checkout actions to be bundled.

[2019-12-10 18:15] #74 closed, assigned to nobody

[2019-12-13 18:15] #131 closed, assigned to guillaumevernieres

[2019-12-13 18:57] guillaumevernieres opened #138 "Use the same MOM6 config between Forecast and DA"
While the grid and vertical coordinate of mom are the same between the forecast and the DA, the details of mom's configuration are not. Reconcile the 2.

[2020-01-03 21:06] flampouris opened #140 "gensespert4envar.yml and gensespert.yml to be merged."

[2020-01-09 20:06] flampouris opened #141 "Issues with MOM6Tools"
@jkbk2004 and @ShastriPaturi

This is a list of identified issues of the current version of the mom6tools.

Please modify this message of issues that have to be tackled for the next PR.

- During the installation, the tools should be copied to the [...]/build/bin/
- Update the examples at readme, according to the GODAS.
- To be called at the Post-processing

[2020-01-09 20:15] jkbk2004 commented on #141
@flampouris and @ShastriPaturi yes, src/mom6-tools.plot/*.py should be copied or linked in build/bin.

[2020-01-21 20:12] ShastriPaturi opened #145 "Run HOFX for verification"
1. Create a separate case to run HOFX through workflow.
2. This can be used as an independent verification tool.
3. Avoids use of interpolation for verification.

This is part of issue #116

[2020-01-24 20:02] ShastriPaturi opened #147 "Failing profile T&S obs in HOFX"
1. The profile T&S obs fail with empty vector, when the HOFX is un with 400 processors and the no of obs are less than the no of processors.

This is part of issue #116 and continuation of issue #145

[2020-01-27 15:57] ShastriPaturi opened #149 "Cannot copy pre-processed files into ${GODAS_RC}/ioda_observations"
The pre-processed ioda.sst.avhrr19_l3u.nesdis.24h.nc file in ${GODAS_RC}/ioda_observations is incomplete for 2011120212.

The complete set of pre-processed observations for satellite SST exist at /scratch2/NCEPDEV/marine/Shastri.Paturi/ioda_observations/2011120212.

However, the complete files cannot be moved to ${GODAS_RC}/ioda_observations as no write permissions exist.

[2020-01-27 19:40] flampouris commented on #149
Please use the marineda role account to update, let me know if there is an
issue. Closing the ticket.

[2020-01-28 16:04] jkbk2004 commented on #141
included mom6-tools inside workflow.

[2020-01-28 16:04] #141 closed, assigned to nobody

[2020-01-31 16:16] ShastriPaturi opened #150 "Error in workflow/cases/hofx3d.yaml file"
In the workflow/cases/hofx3d.yaml file
workflow_file: layout/hofx_only.yaml is incorrectly spelled as lnayout/hofx_only.yaml

[2020-01-31 16:33] #150 closed, assigned to nobody

[2020-02-07 16:37] ShastriPaturi commented on #149
Thank you.

[2020-02-07 16:37] #149 closed, assigned to flampouris

[2020-02-07 16:42] ShastriPaturi opened #153 "Add vertical cross-section plots to mom6tools."
Vertical cross-section plots added to mom6tools suite.
1. Zonal
2. Meridional

[2020-02-07 16:44] ShastriPaturi opened #154 "Bug in sfc.plot.py for plotting SSH field in mom6tools"
A bug related to plotting SSH field in sfc.plot.py
1. Uses SSU field instead of SSH

[2020-02-09 19:38] #153 closed, assigned to nobody

[2020-02-09 19:38] #154 closed, assigned to nobody

[2020-02-19 14:12] guillaumevernieres opened #157 "Plotting in the post processing job does not work with "MOM6solo""

[2020-04-09 23:18] flampouris opened #164 "Transfer of the Workflow to Orion"
Update the workflow to be able to run on Orion, with the same functionality as at Hera.

@JianKuang-NOAA let's talk on the phone, before starting the porting.

[2020-04-11 22:39] guillaumevernieres opened #166 "Negative obs error in insitu Salinity files"
When in doubt, assign a large positive number to the "sigos" instead of -999.
Pinging @flampouris ...

[2020-04-11 23:26] flampouris commented on #166
Sure thing.

Should it be applied to the analysis before restaring the next cycle?

[2020-04-16 18:04] #164 closed, assigned to flampouris, jkuang-exploro

[2020-05-15 22:43] flampouris opened #170 "Update the prep scripts and templates to conform the updated DATM-MOM6-CICE5"

[2020-05-19 14:37] #170 closed, assigned to flampouris

[2020-06-10 22:29] flampouris opened #175 "Update the README.md"
1. Remove the RUNCDATE three instances
2. Update the test/README.md to match the code

[2020-08-14 15:59] hyunchul386 opened #181 "module issue in orion"
Following issue occured in the orion run,
Lmod has detected the following error:  The following module(s) are unknown: "modules.nems"

[2020-10-12 14:53] guillaumevernieres opened #186 "Remove binary files from the repository"
Binary files were recently added to the repository, they need to be removed or handled in a different way.

[2020-11-02 14:17] guillaumevernieres opened #187 "Missing link to module files on Orion"
ufs/INSTALL/orion.intel.fcst should point to orion.fcst

[2020-11-02 14:19] guillaumevernieres opened #188 "Update mom's config to be the same as SPEAR, switch from ALE to Z*"

[2022-03-09 14:56] guillaumevernieres opened #191 "CPC ocean monitoring"
Provide a working setup of JEDI based GODAS to CPC to allow the real-time monitoring of the ocean and sea-ice.

[2022-03-09 14:58] guillaumevernieres opened #192 "Real time observations (insitu bufr2ioda convertion)"

[2022-03-09 15:00] guillaumevernieres opened #193 "Move/convert the ADT ng-godas obs to R2D2"

[2022-03-09 15:04] guillaumevernieres opened #194 "Prepare forcing files"
- [ ] GEFS (2000-2019) time stamp needs corrections
- [ ] CFSv2 (2020 to March 2021)
- [ ] GFS onward

[2022-03-09 15:06] guillaumevernieres opened #195 ""Tag" repositories"
Take snapshots of repositories as possible candidate for tagging.
- [x] soca-science bundle
- [ ] godas (where our soca config is)
- [x] UFS-weather model (current tag used is p7c, room for discusion)

[2022-03-09 15:16] guillaumevernieres opened #196 "QC for FNMOC profiles"
Latency is 1 day: Check if qc'ed (@ShastriPaturi )

[2022-03-09 15:18] guillaumevernieres opened #197 "JEDI environement on GAEA"
JCSDA work with some help from EMC for testing.

[2022-03-09 15:42] guillaumevernieres opened #198 "QC for real time insitu observations"

[2022-03-09 19:57] hyunchul386 commented on #194
Currently
GEFS_DATM update for time stamp has been done  from 2000-01 to 2008-02, and continued.
CFSR_DATM from CFSv2 has been converted from 1980-01 to 2022-02
GFS_DATM has been prepared from 2021-03-22 to 2021-06 and continued

[2022-03-09 23:48] guillaumevernieres commented on #193
From @ShastriPaturi , "old ng-godas obs:
[code]

[2022-03-10 12:16] #22 closed, assigned to nobody

[2022-03-10 12:16] #64 closed, assigned to flampouris

[2022-03-10 12:16] #9 closed, assigned to nobody

[2022-03-10 12:16] #19 closed, assigned to flampouris

[2022-03-10 12:16] #43 closed, assigned to nobody

[2022-03-10 12:16] #63 closed, assigned to nobody

[2022-03-10 12:17] #186 closed, assigned to nobody

[2022-03-10 12:17] #187 closed, assigned to guillaumevernieres

[2022-03-10 12:17] #188 closed, assigned to guillaumevernieres

[2022-03-10 12:18] #95 closed, assigned to nobody

[2022-03-10 12:18] #101 closed, assigned to nobody

[2022-03-10 12:18] #106 closed, assigned to flampouris, guillaumevernieres

[2022-03-10 12:18] #107 closed, assigned to nobody

[2022-03-10 12:18] #116 closed, assigned to ShastriPaturi

[2022-03-10 12:18] #125 closed, assigned to jkuang-exploro

[2022-03-10 12:18] #126 closed, assigned to JessicaMeixner-NOAA

[2022-03-10 12:18] #129 closed, assigned to flampouris, YanHao-NOAA

[2022-03-10 12:18] #132 closed, assigned to JessicaMeixner-NOAA

[2022-03-10 12:18] #138 closed, assigned to guillaumevernieres

[2022-03-10 12:18] #140 closed, assigned to nobody

[2022-03-10 12:18] #145 closed, assigned to ShastriPaturi

[2022-03-10 12:18] #147 closed, assigned to nobody

[2022-03-10 12:18] #157 closed, assigned to nobody

[2022-03-10 12:18] #166 closed, assigned to nobody

[2022-03-10 12:18] #175 closed, assigned to nobody

[2022-03-10 12:18] #181 closed, assigned to nobody

[2022-03-10 12:18] #31 closed, assigned to guillaumevernieres

[2022-03-10 12:18] #39 closed, assigned to guillaumevernieres

[2022-03-10 12:18] #47 closed, assigned to nobody

[2022-03-10 12:18] #55 closed, assigned to nobody

[2022-03-10 12:18] #59 closed, assigned to flampouris

[2022-03-10 12:18] #60 closed, assigned to nobody

[2022-03-10 12:18] #73 closed, assigned to jkuang-exploro

[2022-03-10 12:18] #92 closed, assigned to jkuang-exploro

[2022-03-10 13:00] guillaumevernieres opened #199 "Short reanalysis and S2S case study initialization"
**Reanalysis (PSL)**
- May 2019 to Nov 2020

**Case studies initialization (EMC)**
- 2021 hurricane season (06/01/2021 to 11/30/2021)
- 2021 winter season (12/01/2020 to 03/01/2021)
- 2022 snow storm and dropout cases (12/01/2021 to 05/01/2022)
- 2020 summer and hurricane season (06/01/2020 to 11/30/2020)

[2022-03-10 13:06] guillaumevernieres opened #200 "Initialize from ORAS5 and CPC sea ice"
**From Phil Pegion:**

The ensemble reanalysis data the we downloaded from the copernicus sits is on HPSSS in
[code]
with a file naming convention of grepv2_daily_<YYYYMMDD>.nc

We currently have Jan 1993 through Dec. 2019. The 2020 and 2021 data will not be available until this fall.

The files I have already processed are in
[code]

I will be processing the entire period, but it will take a mont

[2022-03-10 13:08] guillaumevernieres opened #201 "Estimate of required spinup time when "cold starting""
Since we have to split a reanalysis into multiple streams in order to meet deadlines, we need to estimate the time it takes for unrealistic transient modes to dissipates when cold starting from unrealistic or incomplete initial conditions.

[2022-03-10 13:10] guillaumevernieres opened #202 "Altimeter DA is unstable"

[2022-03-10 13:13] guillaumevernieres opened #203 "Seaice de-aggregation is suboptimal"
Known issue. Considering the time frame, the strategy is going to be similar to what will be done for the altimeters: **Increase the obs error** until the model is happy ...

[2022-03-10 13:14] guillaumevernieres opened #204 "Superob the EMC's icec"
Superob icec ...

[2022-03-10 13:39] guillaumevernieres opened #205 "Merge Yi-Cheng's iau configuration with "develop""
Issue a PR in ``soca-science`` which adds an iau option (for the ufs only).

[2022-03-10 13:52] guillaumevernieres commented on #194
Thanks for the info @hyunchul386 , do you have an estimate of when the forcing mentioned here will be processed?

[2022-03-11 13:52] hyunchul386 commented on #194
@guillaumevernieres, I think
GEFS_DATM would be completed the process for 2009-12, in two weeks from now.
GFS_DATM would be estimated for the process for 2021-03, in three weeks from now.
CFSR_DATM is now in near-real time process with one-month delay.

[2022-03-11 14:36] guillaumevernieres opened #206 "Real time processing of observation"
Write the necessary software/scripting tools to fetch the real time observations.

[2022-03-15 12:26] guillaumevernieres commented on #206
Who is working on this issue @ShastriPaturi ?

[2022-03-15 12:31] guillaumevernieres opened #207 "Process FNMOC observations from Jan 2015 to ~present"
Develop converter, process obs for 2015-present(ish), provide a yaml configuration and move to R2D2:
- [x] Argo, Moorings, CTD, XBT (FNMOC)
- [x] Ship (FNMOC)
- [x] Trak FNMOC

[2022-03-15 12:32] guillaumevernieres commented on #207
@ShastriPaturi , can you have a look at the above list and add what's missing?

[2022-03-18 13:00] hyunchul386 commented on #194
Just update for current status of DATM forcing files:
GEFS_DATM would be completed the process for 2014-12, in two weeks from now.
GFS_DATM would be estimated for the process for 2021-09, in two weeks from now.
CFSR_DATM is now in near-real time process with one-month delay.

[2022-03-24 12:08] guillaumevernieres commented on #206
How is that work going @ShastriPaturi ?

[2022-03-24 12:57] ShastriPaturi commented on #206
@guillaumevernieres, the script to fetch obs and run ioda-converters has been tested for ADT with a cron job on orion.
I am working on the rest. Will push the scripts to a feature branch when SST: OSTIA, insitu: FNMOC and icec: NSIDC CDR are tested.

[2022-03-24 14:35] hyunchul386 commented on #194
Update  for current status of DATM forcing files:
GEFS_DATM has been completed for the period of 2000-01 ~ 2019-12,
    the new updated data will be replaced to the previous data after announcements.
GFS_DATM has been generated for 2021-12, and would be completed in a week from now.
CFSR_DATM is now in near-real time process with one-month delay.

[2022-03-25 14:17] hyunchul386 commented on #194
Updates for current status of DATM forcing files:
GEFS_DATM :  the updated data in HPSS currently is in /5year/NCEPDEV/marineda/DATM_INPUT/GEFS_new
                       this will be replace to /5year/NCEPDEV/marineda/DATM_INPUT/GEFS, sooner or later.
                       let me know if you have any issue in this replacement. The GEFS data in Orion is also considering to be replaced

[2022-03-29 13:24] guillaumevernieres commented on #207
@ShastriPaturi , @YanHao-NOAA I see the FNMOC "profile" are in R2D2. Thanks for doing this.
- Was it tested?
- @YanHao-NOAA has the markdown table been converted to a google sheet/doc and updated with what's available in the benchmark_v2 database?
- Could the same thing be done for ship and track?

[2022-03-29 14:03] ShastriPaturi commented on #207
@guillaumevernieres, I have not tested it yet.

[2022-04-01 12:42] hyunchul386 commented on #194
Updates for current status of DATM forcing files:
GEFS_DATM :  20 year (2000-01 ~ 2019-12) update has been done. Keep the previous data until June 30, as is.
GFS_DATM : Update for 2021-01 ~ 2022-02 has been done, in near real time
CFSR_DATM : in near retime

[2022-04-01 12:47] guillaumevernieres opened #210 "1/4 deg Static B is not working anymore"
See [here](https://github.com/JCSDA-internal/soca/issues/732)

~~Contingency plan: Revert back to the latest working commit from the "release/stable-nightly" branch.~~

512 pes works with the 1/4 deg:
- Check if the model and DA can run on different layout (pretty sure that would work)
- If not: create issue in ``soca-science`` to decouple the model and DA layout (might not have to do anything, ch

[2022-04-01 13:42] guillaumevernieres opened #211 "Update the UFS configuration"
Something is wrong in the current UFS/MOM6 configuration used and leads to unrealistic state when using iau.
Right: (6 hour forecast with iau) - (6 hour forecast without iau) for surface temperature.
Left: Increment passed to MOM6 iau.
Same results when passing the full field.

![more-iau-stuff](https://user-images.githubusercontent.com/14031856/161276053-ae49cef1-f537-42c3-b615-ece3525ebdec.png)

[2022-04-04 13:23] guillaumevernieres commented on #196
@guillaumevernieres to provide minor changes to the profile QC checks.

[2022-04-04 15:49] guillaumevernieres opened #212 "Observation sanity check: Obs count, missing files"
Write a python script that will return a plot of the obs count of a list of ioda files.
Input: A path to ioda files
Ouput: A plot of numver of obs vs date

As a first step, the api would look something like this:

Example:
``godas_obssanitycheck.py --file_descriptor adt_c2 --path </path/to/ioda/files>``

[2022-04-04 15:52] hyunchul386 opened #213 "Preparing Forcing for S2S"
Preparing surface flux forcing for S2S runs

[2022-04-04 15:55] ShastriPaturi opened #214 "Firewall on orion for FNMOC download"
1. FNMOC download on orion has a firewall issue.
2. Data to be downloaded on hera, ioda-v2 converted and moved to orion.
3. FNMOC data downloaded and converted till end of 2021.

[2022-04-04 16:05] guillaumevernieres opened #215 "Move/convert the EMC icec ng-godas obs to R2D2"
waiting for  #212

[2022-04-04 16:05] guillaumevernieres opened #216 "Move/convert the SSS ng-godas obs to R2D2"

[2022-04-04 16:08] guillaumevernieres opened #217 "Download AVHRR SST's in multiple streams"

[2022-04-04 16:46] ShastriPaturi opened #218 "Move/convert the ADT ng-godas obs to R2D2"
Download and convert ADT observations that use the egm2008 MDT from 2015 to 2022.

[2022-04-04 16:47] ShastriPaturi commented on #218
The path to the ioda-v2 obs for ADT (2015-2020) is:
/work/noaa/ng-godas/spaturi/nggodas_realtime_ext/ng-godas/obs/ioda-v2/adt

[2022-04-04 16:48] ShastriPaturi commented on #216
The path to the ioda-v2 obs for SSS (2015-2020) is:
/work/noaa/ng-godas/spaturi/nggodas_realtime_ext/ng-godas/obs/ioda-v2/sss

[2022-04-04 16:48] ShastriPaturi commented on #215
The path to the ioda-v2 obs for EMC icec (2015-2020) is:
/work/noaa/ng-godas/spaturi/nggodas_realtime_ext/ng-godas/obs/ioda-v2/icec

[2022-04-04 16:57] guillaumevernieres opened #219 "Parallelize the ioda conversion and the superobing"

[2022-04-04 18:56] guillaumevernieres commented on #218
@ShastriPaturi , I'm moving your files to the benchmarkv2 database. Once done I'll have to rename ``obs_absolute_dynamic_topography`` to ``absolute_dynamic_topography`` . I'll close the issue after that.

[2022-04-04 19:04] hyunchul386 commented on #213
DATM forcing for S2S runs

-----------------------------------------------------------------------------------------------------

**PSL** [ 2019-05-01 ~ 2020-11-30 ]  : **GEFS_new + CFSR**
       - GEFS_new :  2019-05-01 ~ 2019-12-31
       - currently HPSS
       - will be ported to Orion :  /work/noaa/ng-godas/marineda/DATM_INPUT/GEFS_new

       - CFSR : 2020-01-01 ~ 2020-11-30
       - saved a

[2022-04-04 19:35] ShastriPaturi commented on #215
The 2021 EMC icec for 2021 is at:
/work/noaa/ng-godas/spaturi/icel2_emc_2021.

The SSMI instrument died on 20210809. No more SSMI data.

[2022-04-04 20:01] guillaumevernieres commented on #193
duplicate issue, closing.

[2022-04-04 20:40] guillaumevernieres commented on #218
@ShastriPaturi ,looks like Jan 2019 is missing, also, some have been renamed or created with a newer converter ...
As of now we have 2015-2018, missing Jan 2019, Feb 2019 to Dec 2020

[2022-04-04 21:07] ShastriPaturi commented on #218
@guillaumevernieres, for Jan 2019, data is missing till Jan 27. Feb 2019 to Dec 2020, ioda-ve files are available:
/work/noaa/ng-godas/spaturi/nggodas_realtime_ext/ng-godas/obs/ioda-v2/adt

[2022-04-05 13:44] guillaumevernieres commented on #217
FYI @ShastriPaturi , I'm downloading a few days of viirs npp.

[2022-04-05 18:27] ShastriPaturi commented on #218
A new satellite: SENTINEL 6A is added from 20220111.
Also, the adt_xgm2016 is removed from 20220116/rads_adt_<sat>_YYYYJDAY.nc and only adt_egm2008 is being retained.
WCOFS team at NOS has found the geoid egm2008 better than xgm2016.

The rads_adt2ioda.py has been updated to read adt_egm2016.
Re-converting from 2015-20220314 with name: adt_<sat>_egm2008_YYYYMMDD.nc
/work/noaa/spaturi/nggodas_realt

[2022-04-05 20:32] hyunchul386 commented on #213
A sanity check of GFS/CFSR

![datm_zonal_CFSR_GFS_2021033112](https://user-images.githubusercontent.com/14810515/161844044-2b29760a-0b3a-485e-96d8-de67bde7ce58.gif)

[2022-04-05 21:31] mjhossen commented on #212
I wrote a python script using a class to find missing files, to plot number of observations and min/max value of a variable, such as absolute_dynamic_topography. The path of the file is
/work/noaa/ng-godas/jhossen/s2s_sprint_apr23
The command is
python godas_obssanitycheck.py -v nlocs -o obscount -f adt_c2 -d 20150101 20150130 -g ObsValue

[2022-04-06 11:32] guillaumevernieres commented on #213
Thanks @hyunchul386 . Can you replace your above plot by a higher resolution version? I can't read the legend. Could you push your plotting scripts to this repo as well?

[2022-04-06 11:50] guillaumevernieres commented on #218
``soca_store_obs.py --start 20150101 --end 20211231 --source ./obs/adt --provider jcsda_soca --experiment benchmark_v2 --obstype adt --platforms 3a_egm2008 3b_egm2008 c2_egm2008 j2_egm2008 j3_egm2008 sa_egm2008``

Copying to `benchmark_v2``. @ShastriPaturi , am I missing an instrument from the list above?

[2022-04-06 11:56] ShastriPaturi commented on #218
@guillaumevernieres, you are not missing an instrument yet. I have completed till 2021. Running 2022 now till 20220314.
SENTINEL 6A is available from 20220111, as mentioned yesterday,

[2022-04-06 12:19] guillaumevernieres commented on #218
Looks like your conversion is complete @ShastriPaturi , can you confirm?

[2022-04-06 12:23] guillaumevernieres commented on #218
I'm too impatient ... Here's the next copy to R2D2, with 6a added:
``soca_store_obs.py --start 20220101 --end 20220314 --source ./obs/adt --provider jcsda_soca --experiment benchmark_v2 --obstype adt --platforms 3a_egm2008 3b_egm2008 c2_egm2008 j2_egm2008 j3_egm2008 sa_egm2008 6a_egm2008``

[2022-04-06 12:27] guillaumevernieres commented on #218
I'm closing this issue @ShastriPaturi ! Your converted obs are in R2D2.

[2022-04-06 12:51] ShastriPaturi commented on #217
@guillaumevernieres, downloading AVHRR from NESDIS, 3 streams: 2015, 2016, 2017.
Orion performance: (6 months: ~12 hrs). NOAA18 and NOAA19 (10 min files)
/work/noaa/ng-godas/spaturi/nggodas_realtime_ext/DATA_realtime/cron/sst.avhrr_l3u.nesdis/

[2022-04-06 12:51] guillaumevernieres commented on #207
I think this is done ... closing.

[2022-04-06 12:55] guillaumevernieres commented on #217
Thanks @ShastriPaturi . Can you re-prioritize the download like this:
2019-2022
2015
2016-2018 (bonus points)

[2022-04-06 13:03] ShastriPaturi commented on #217
@guillaumevernieres.
I will let the current download continue and start the download from 2019-2022 on a separate stream.

[2022-04-06 13:03] mjhossen commented on #212
![minmax_adt_c2_2015](https://user-images.githubusercontent.com/65732322/161980741-32725861-5092-4ecc-9171-1e4e0ddc8f47.png)
![nloc_adt_c2_2015](https://user-images.githubusercontent.com/65732322/161980911-ef36b42f-5215-47ca-8835-e28f15f05776.png)

[2022-04-06 13:09] guillaumevernieres commented on #212
for date interval, use: ``--start`` (or `-s`)and ``--end`` (or `-e`).

[2022-04-06 13:20] ShastriPaturi commented on #214
@guillaumevernieres, can this issue be closed?
The FNMOC profile, ship and trak have been moved with the obsspace names.

[2022-04-06 13:26] guillaumevernieres commented on #217
Also, create the same issue for viirs @ShastriPaturi .

[2022-04-06 13:36] guillaumevernieres commented on #217
We're still missing MetOp @ShastriPaturi ... Any idea where to get those?

[2022-04-06 13:43] ShastriPaturi opened #220 "Download VIIRS SST's in multiple streams"
1. Download VIIRS SST data from NASA JPL PODAAC server
https://podaac-tools.jpl.nasa.gov/drive/files/allData/ghrsst/data/GDS2/L3U
2. Period:
    2019-2022
    2015
    2016-2022

[2022-04-06 13:45] ShastriPaturi commented on #217
@guillaumevernieres, you read my mind and you are ahead of me. Adding that:

Download MetOp AVHRR SST data from NASA JPL PODAAC server:
https://podaac-tools.jpl.nasa.gov/drive/files/allData/ghrsst/data/GDS2/L3U

Period:
 2019-2022
 2015
 2016-2018

[2022-04-06 14:14] guillaumevernieres opened #222 "Store the 10mn sst retrieval ioda files in R2D2"
- Convert the original files to ioda
- move to r2d2

[2022-04-06 14:23] guillaumevernieres commented on #222
For ref., the conversion takes ~3m20s per day for avhrr on 1 node/40 pe's.

[2022-04-06 15:37] hyunchul386 commented on #194
Updates for current status of DATM forcing files:
GEFS_DATM : 20 year (2000-01 ~ 2019-12) update has been done. Keep the previous data until June 30, as is.
GFS_DATM : 2021-01 ~ 2022-03 has been done, in near real time
CFSR_DATM : 1980-01 ~ 2022-03 has been done,  in near real time

[2022-04-06 15:40] hyunchul386 commented on #213
@guillaumevernieres The scripts can be found https://github.com/hyunchul386/godas/tree/feature/gfs2datm/DATM_FORCING/DATM_Sanitycheck

[2022-04-06 16:07] guillaumevernieres commented on #194
closing, redundant with #213

[2022-04-06 16:10] guillaumevernieres commented on #212
@mjhossen look here for the r2d2 database:
[code]

[2022-04-07 17:11] guillaumevernieres opened #226 "Check the 10mn sst obs"
Run the basic check that @mjhossen developed on the ioda files that are staged to be moved to r2d2 eventually:
[code]
the above should contain `noaa18` and `noaa19` sst retrievals .

[2022-04-07 18:38] YanHao-NOAA commented on #216
I copied three days (2015-04-01  to  2015-04-03) sss_smap and sss_smos data in R2D2: e.g. /work/noaa/marine/marineda/r2d2/obs/jcsda_soca/ob/benchmark_v2/P1D/2015-04-01/jcsda_soca.benchmark_v2.ob.P1D.sss_smos_esa.2015-04-03T00:00:00Z.nc4  and jcsda_soca.benchmark_v2.ob.P1D.sss_smap_jpl.2015-04-03T00:00:00Z.nc4, please let me know if it is okay to move forward to transfer all sss files ( we have dat

[2022-04-08 12:08] hyunchul386 commented on #213
All of following data has been transferred to Orion

GFS ; [EMC-1/2]
2021-06-01 ~ 2022-05-01

GEFS_new ; [Test, PSL]
2015-01-01 ~ 2015-12-31
2019-05-01 ~ 2019-12-31

CFSR ; [PSL + EMC-3/4]
2020-01-01 ~ 2021-03-01

[2022-04-08 19:35] hyunchul386 commented on #213
Sanity checks
![datm_zonal_CFSR_GFS_2021071512](https://user-images.githubusercontent.com/14810515/162512588-d9976de6-4f8b-4c7a-ad1a-e04620cff4b0.gif)
![datm_zonal_CFSR_GFS_2021091512](https://user-images.githubusercontent.com/14810515/162512684-308c67c3-7ddc-4478-968f-d9edc8c7e50f.gif)
![datm_zonal_CFSR_GEFS_new_2015011512](https://user-images.githubusercontent.com/14810515/162512769-15396eb9-9c9

[2022-04-10 13:10] ShastriPaturi commented on #220
Download of VIIRS SST data for the period: 2015-2022 is complete:
/work/noaa/ng-godas/spaturi/nggodas_realtime_ext/DATA_realtime/cron/sst.viirs_n20_l3u.JPL & sst.viirs_npp_l3u.JPL.

@guillaumevernieres, the issue can be closed.

[2022-04-10 13:14] ShastriPaturi commented on #216
@guillaumevernieres, the SSS IODA-v2 (2015-2020) data have been moved to R2D2 at its new location:
**/work/noaa/ng-godas/r2d2/gdas_marine/ob/s2s_v1**

The issue can be closed.

[2022-04-10 13:15] ShastriPaturi commented on #215
The EMC ICEC IODA-v2 data (2015-2020) have been moved to R2D2 at its new location:
**/work/noaa/ng-godas/r2d2/gdas_marine/ob/s2s_v1**

@guillaumevernieres, the issue can be closed.

[2022-04-10 14:05] guillaumevernieres commented on #216
Feel free to close it next time @ShastriPaturi

[2022-04-10 14:19] guillaumevernieres commented on #212
Closing this issue. @mjhossen provided a first prototype. Refinement will be addressed in separate issues.

[2022-04-11 12:16] ShastriPaturi commented on #217
The AVHRR SST (NOAA18,19, MetOp-<A,B,C>) are downloaded from 2015-2022 (realtime)
/work/noaa/ng-godas/spaturi/nggodas_realtime_ext/DATA_realtime/cron/sst.avhrr_l3u.nesdis/

[2022-04-11 12:17] #217 closed, assigned to ShastriPaturi

[2022-04-11 13:54] mjhossen commented on #226
Updated godas-obsssanitycheck.py for the ioda files. Please see the attached.
![Screen Shot 2022-04-11 at 7 52 50 AM](https://user-images.githubusercontent.com/65732322/162754707-d4fc61bb-b0f9-4d64-b8de-04d2e13e509f.png)

[2022-04-11 14:29] #210 closed, assigned to nobody

[2022-04-11 14:29] #193 closed, assigned to guillaumevernieres, ShastriPaturi, YanHao-NOAA

[2022-04-11 14:29] #207 closed, assigned to ShastriPaturi, YanHao-NOAA

[2022-04-11 14:29] #218 closed, assigned to guillaumevernieres, ShastriPaturi

[2022-04-11 14:29] #214 closed, assigned to nobody

[2022-04-11 14:29] #196 closed, assigned to guillaumevernieres, ShastriPaturi

[2022-04-11 14:29] #194 closed, assigned to hyunchul386

[2022-04-11 14:29] #212 closed, assigned to nobody

[2022-04-11 14:29] #215 closed, assigned to ShastriPaturi

[2022-04-11 14:29] #220 closed, assigned to ShastriPaturi

[2022-04-11 14:29] #216 closed, assigned to ShastriPaturi, YanHao-NOAA

[2022-04-11 14:30] guillaumevernieres opened #229 "Obs database inventory"
Write python based tools to generate an inventory of the database.

**Input:**
- A list of obstype (`adt`, `sst`, `sss`, `icec`, ...), or maybe we simply get the full list from the DB
- path to an r2d2 database

**Output:**
- A complete detailed report of the list of platforms/instruments available from the database for the obs type specified in the input, along with the date range of availability

[2022-04-11 14:33] mjhossen opened #230 "modifying godas-obssanitycheck script"
-  Will improve the plot by changing the subtitle, resizing the figure, putting grid and  a plot for obs error

-  Make the script so that it works for different types of observations

[2022-04-11 14:38] hyunchul386 opened #231 "Sanity check of forcing files"
Sanity check code of DATM forcing files in python

[2022-04-11 16:01] ShastriPaturi opened #232 "Download MW SST's in multiple streams"
1. Download MW daily SST's for AMSR-2, GMI and WINDSAT SST data from NASA JPL PODAAC server
    https://podaac-tools.jpl.nasa.gov/drive/files/allData/ghrsst/data/GDS2/L3U
3. Period:
    2019-2022
    2015
    2016-2022

[2022-04-11 19:23] ShastriPaturi commented on #232
MW daily SST data for AMSR-2, GMI and WINDSAT are completed for:
2019-2022
2015
2016-2022
/work/noaa/ng-godas/spaturi/nggodas_realtime_ext/DATA_realtime/cron

[2022-04-11 19:27] #232 closed, assigned to ShastriPaturi

[2022-04-11 19:29] ShastriPaturi opened #233 "Split ioda converted FNMOC insitu and move to R2D2"

[2022-04-12 13:40] #233 closed, assigned to ShastriPaturi

[2022-04-12 13:47] guillaumevernieres opened #234 "Test GFS forcing"
Test within the UFS framework

[2022-04-13 12:25] guillaumevernieres commented on #222
Tested this for noaa18 and 19. Closing.

[2022-04-13 12:31] guillaumevernieres commented on #234
@hyunchul386 , is that something you can do?

[2022-04-13 12:31] #222 closed, assigned to guillaumevernieres

[2022-04-13 12:37] hyunchul386 commented on #234
@guillaumevernieres Working on it

[2022-04-13 12:38] hyunchul386 commented on #234
@guillaumevernieres Does the recent SOCA workflow use UFS p7 or p8?

[2022-04-13 12:57] guillaumevernieres opened #235 "Add the specific soca and ufo config to this repo"
Add the the last config used in the testing from the `soca-config` repo to this repository. Remove the ensemble DA yamls and other unused configurations.

[2022-04-13 14:46] guillaumevernieres opened #238 "Test the tools to convert to ioda and move to r2d2"
Test converting to ioda and moving to r2d2 of a few days for:
- [x] MetOp-A
- [x] MetOp-B
- [x] MetOp-C
- [x] VIIRS NPP
- [x] VIIRS N20

[2022-04-13 17:11] hyunchul386 commented on #231
Sanity check of CFSR/GFS at 2021071512 by the developing tool
![CFSR_GFS_2021071512](https://user-images.githubusercontent.com/14810515/163234115-d98db898-10e5-47aa-b86a-735521cca553.png)

[2022-04-13 20:32] ShastriPaturi commented on #238
Accomplishment with @guillaumevernieres

[2022-04-13 20:32] #238 closed, assigned to ShastriPaturi

[2022-04-13 20:33] guillaumevernieres opened #239 "Test the tools to superob sst retrievals & move so obs to r2d2"

[2022-04-13 21:30] #219 closed, assigned to guillaumevernieres

[2022-04-14 13:32] hyunchul386 commented on #231
PR for godas repo

[2022-04-14 13:32] mjhossen commented on #229
Produce a preliminary figure. It shows there is no data for adt_3a and adt_j3 between Jan 01 2015 to Dec 31, 2015. Also few dates are missing for adt_c2.
![Screen Shot 2022-04-14 at 7 16 16 AM](https://user-images.githubusercontent.com/65732322/163401428-34b37154-8a56-43df-8440-b3492813effc.png)

[2022-04-14 15:47] guillaumevernieres commented on #229
Looks good @mjhossen . Could you do the same fot the other platforms/instruments? And maybe for a wider time interval, say, 2015-2022.
 I don't think the "Obs_type" legend is necessary.

[2022-04-14 16:27] mjhossen commented on #229
Here is the file from 2015 to 2022. I tried to remove y label, then I cannot see any file_descriptor, only some numeric number. It seems it is hard to put the text inside the box that you wants.
![Screen Shot 2022-04-14 at 10 25 20 AM](https://user-images.githubusercontent.com/65732322/163432675-2ea08263-a659-4b56-907f-cf67d5c61843.png)

[2022-04-14 16:52] mjhossen commented on #229
Please see the full report. Still I can improve it.
![Screen Shot 2022-04-14 at 10 39 39 AM](https://user-images.githubusercontent.com/65732322/163436596-d98f65cf-78f3-4516-889a-95747dbc789f.png)

[2022-04-14 18:07] mjhossen commented on #229
Latest one. I think this shows us what we have and what are missing.
![Screen Shot 2022-04-14 at 12 06 01 PM](https://user-images.githubusercontent.com/65732322/163450816-3bf7e919-816d-4fed-9e60-960215b974c6.png)

[2022-04-14 18:51] guillaumevernieres commented on #229
Thanks @mjhossen . That is very useful!
Repeating what I said on slack, but let try to post the comments related to this issue here instead of slack.
- Remove the y-label (file_descriptor), I think we know what it is
- Replace the title by something relevant to what inventory you are making, something like: `gdas_marine` `s2s_v1` `P1D files` (P1D because it looks like you are only making an invent

[2022-04-14 20:07] ShastriPaturi commented on #229
@mjhossen, we are missing adt_3b.
Thanks for doing this. Concur with @guillaumevernieres.
I have populated the r2d2 db with missing adt files from 2019-01 to 2019-07.

[2022-04-14 20:35] guillaumevernieres commented on #229
copy paste from @mjhossen 's slack post:

![image](https://user-images.githubusercontent.com/14031856/163471071-1cd4dcfc-25ce-4a32-9e75-1d99c9a7ba88.png)

Looks good but reread my post with the comments above, we're still missing the info of what it is we are making an inventory of.

[2022-04-14 20:40] guillaumevernieres commented on #234
I think @ShastriPaturi is testing as well.

[2022-04-14 20:55] #239 closed, assigned to ShastriPaturi

[2022-04-14 20:56] guillaumevernieres commented on #230
I think this is done @mjhossen . Closing this issue.

[2022-04-14 20:56] #230 closed, assigned to mjhossen

[2022-04-14 20:58] mjhossen commented on #229
Title is corrected and y-axis label is removed. All the observation types are added as suggested. Also order is maintained as Shastri suggests. adt_3b is added too!

![Screen Shot 2022-04-14 at 3 01 27 PM](https://user-images.githubusercontent.com/65732322/163474731-609bb7be-735d-42ae-8e96-647d9f70caff.png)

[2022-04-15 00:46] ShastriPaturi commented on #229
@mjhossen sss_smos data is populated for 2015.

[2022-04-15 02:55] mjhossen commented on #229
Yes. I checked sss_smos is there. Don't you think?

[2022-04-15 02:55] mjhossen commented on #229
Or shouldn't it be there?

[2022-04-15 12:39] ShastriPaturi commented on #229
@mjhossen, some data were not populated. Now they are.

[2022-04-15 18:21] #235 closed, assigned to guillaumevernieres

[2022-04-15 18:41] guillaumevernieres opened #241 "Fetch and concatenate the 10MN ioda files for the h(x) and 3dvar application"
- Add a option to fetch the 10 mn files
- Concatenate using Travis' tools

[2022-04-15 18:58] ShastriPaturi opened #242 "Add ufo yamls to soca-config for new obsspaces"
New obsspaces include:
1. FNMOC: profile, ship and trak
2. ICEC: NSIDC, ssmi, ssmis
3. SSS: smos
4. SST: MetOp-<B,C>, VIIRS_<npp, n20>, ostia

[2022-04-18 13:56] ShastriPaturi commented on #242
Issue closed via PR #246

[2022-04-18 13:56] #242 closed, assigned to ShastriPaturi

[2022-04-18 16:59] ShastriPaturi opened #247 "Move drifter SST from jcsda_soca/bechmark_v1 to gdas_marine/s2s_v1"
Populate drifter SST in the new obs DB.

[2022-04-18 17:00] ShastriPaturi opened #248 "Move Copernicus L4 adt from jcsda_soca/bechmark_v1 to gdas_marine/s2s_v1"
Populate Copernicus L4 adt in the new obs DB.
Rename obs_absolute_dynamic_topography to absolute_dynamc_topography

[2022-04-18 18:05] hyunchul386 commented on #231
Checks for 2021061512, 2021071512, 2021081512 by the clean-up code

![CFSR_GFS_2021081512](https://user-images.githubusercontent.com/14810515/163853041-ebe57efb-2739-42e3-b05e-55807bd21cec.png)

![CFSR_GFS_2021061512](https://user-images.githubusercontent.com/14810515/163852982-55d44e8f-8e82-4c9b-8a9b-8e66f5c76b89.png)

![CFSR_GFS_2021071512](https://user-images.githubusercontent.com/14810515/1638

[2022-04-18 19:05] ShastriPaturi commented on #247
Moved to the new r2d2 ob DB: gdas_marine/s2s_v1/P1D drifter SST from:
2015-01-01 till 2020-09-30.

[2022-04-18 19:05] #247 closed, assigned to ShastriPaturi

[2022-04-18 19:40] ShastriPaturi commented on #248
Populated Copernicus L4 adt in the new obs DB: gdas_marine/s2s_v1/P1D
Rename obs_absolute_dynamic_topography to absolute_dynamc_topography

from 2015-01-01 till 2016-12-30

[2022-04-18 19:40] #248 closed, assigned to ShastriPaturi

[2022-04-19 13:30] guillaumevernieres opened #250 "Typo in adt copernicus filename"
There's a typo in the name of the copernicus adt files. It should be `l4` instead of `14`.

Hard to see, but for example,
``gdas_marine.s2s_v1.ob.P1D.adt_coper14.2015-02-02T00:00:00Z.nc4``
should be:
``gdas_marine.s2s_v1.ob.P1D.adt_coperl4.2015-02-02T00:00:00Z.nc4``

[2022-04-19 14:50] ShastriPaturi commented on #250
Updated the r2d2 DB with the corrected adt_coperl4 filename for 2015-2016.

[2022-04-19 14:50] #250 closed, assigned to ShastriPaturi

[2022-04-19 14:54] ShastriPaturi commented on #234
First Step: @guillaumevernieres and @hyunchul386, tested the DATM_GFS forcing for 1 month (2021-06) forecast from the ufs-weather-model (March 22, 2020 develop branch) RT test.

[2022-04-19 15:44] hyunchul386 commented on #234
@guillaumevernieres and @ShastriPaturi,  I am working on the test of UFS with GFS from 2021-03-22

[2022-04-19 17:33] guillaumevernieres commented on #241
In review in soca-science, but currently in use, so closing this issue.

[2022-04-19 17:33] #241 closed, assigned to guillaumevernieres, ShastriPaturi

[2022-04-19 17:37] guillaumevernieres commented on #202
We will revisit this issue in the future, but a combination of QC, obs error and iau seems to fix the earlier problems that we were seeing.

[2022-04-19 17:37] #202 closed, assigned to guillaumevernieres, ShastriPaturi

[2022-04-25 11:56] guillaumevernieres opened #252 "DA Diagnostics"
- iodaplot
- simple MAE of omb's
Anything else @ShastriPaturi that EMC developed for ng-godas and could be used?

[2022-04-25 14:52] guillaumevernieres opened #253 "SSMI & SSMIS for 2021 in R2D2"
- [x] Convert 2 `ioda`  (@mjhossen , @hyunchul386 )
- [x] Move to R2D2 (@ShastriPaturi )

[2022-04-25 14:56] guillaumevernieres opened #254 "Test the superobing tools for SSMI and SSMIS"
Profiling of the superobing P1D files.

[2022-04-25 15:26] hyunchul386 opened #255 "EMC4-scout runs"
Setting and running EMC4-Scout run

EMC-4 [2020-06-01 ~ 2020-11-30] : with CFSR forcing
- Spinning : 2020-05-15 ~ 2020-05-31
- Running : 2020-06-01 ~ 2020-11-30

[2022-04-25 16:38] guillaumevernieres commented on #254
@ShastriPaturi , @mjhossen and @hyunchul386 :
It takes about 20 to 30 seconds per file (1 day of obs per file). The obs count is about 1/3rd of the original file. So totally doable. However, the original file seems to contain 0 values in the middle of the ice-pack, which is probably not correct ...

![ice-superob-test](https://user-images.githubusercontent.com/14031856/165134161-8576e92a-4ed8-4236

[2022-04-25 16:42] guillaumevernieres commented on #254
Closing this issues. The conclusion is that we can superob, but the results would be wrong unless we QC the original obs first ...

[2022-04-25 16:42] #254 closed, assigned to guillaumevernieres

[2022-04-25 16:58] mjhossen opened #256 "EMC1 and EMC3 Final"
Setting and running EMC1- and EMC3-final run

EMC1: 2022 snow storm (12/01/2021 to 05/01/2022)
Spinning : 2021-11-15 ~ 2021-11-30
Running : 2021-12-01 ~ 2022-05-01

EMC3: 2021 winter season (12/01/2020 to 03/01/2021)
Spinning : 2020-11-15 ~ 2020-11-30
Running : 2020-12-01 ~ 2021-03-01

[2022-04-25 17:02] mjhossen commented on #256
I run EMC1 and EMC3 by copying restart file on Dec 15, 2017 for both run Jan 2021 and Jan 2022.
First run one cycle to create background files and others. Then run both experiments started from 6 hrs after Dec 15 until next year Mar 15.

[2022-04-25 18:31] guillaumevernieres commented on #205
PR submitted. Closing since it doesn't really matter if it is in develop or not.

[2022-04-25 18:31] #205 closed, assigned to guillaumevernieres

[2022-04-25 18:34] guillaumevernieres commented on #213
It seems under control ... Closing this issue @hyunchul386 . We'll open a new one if need be.

[2022-04-25 18:34] #213 closed, assigned to hyunchul386

[2022-04-25 18:39] hyunchul386 commented on #255
Observations -
-rw-r----- 1 hlee ng-godas 240K Apr 25 10:08 adt_3a_egm2008.20200516.nc
-rw-r----- 1 hlee ng-godas 164K Apr 25 10:08 adt_c2_egm2008.20200516.nc
-rw-r----- 1 hlee ng-godas 266K Apr 25 10:08 adt_j3_egm2008.20200516.nc
-rw-r----- 1 hlee ng-godas 174K Apr 25 10:08 adt_sa_egm2008.20200516.nc
-rw-r----- 1 hlee ng-godas 1.3M Apr 25 10:08 salt_profile_fnmoc.20200516.nc
-rw-r----- 1 hlee ng-

[2022-04-26 13:01] ShastriPaturi opened #257 "Scout run for PSL (201905 - 202011)"
1. Set-up scout run with all obs except icec, 6-hour DA window.
2. Spin-up for 15 days: 2019041500 - 2019043018.

- Restart from CPC ocean and sea-ice.

4. CFSR bias corrected forcing.

[2022-04-26 19:07] mjhossen commented on #253
Completed the conversion of ssmi data (2021) into ioda format. Now ready for moving to R2D2 database.

[2022-04-26 21:09] mjhossen commented on #229
I think the script is completed. Now I push in in the feature/obssanitycheck_new.
It can be closed.

[2022-04-29 11:50] #229 closed, assigned to mjhossen

[2022-04-29 11:52] guillaumevernieres commented on #234
assuming this is done.

[2022-04-29 11:52] #234 closed, assigned to hyunchul386

[2022-04-29 11:53] guillaumevernieres commented on #231
should have been closed with the PR ...

[2022-04-29 11:53] #231 closed, assigned to nobody

[2022-04-29 11:53] guillaumevernieres commented on #204
We're not superobing icec, for multiple reasons.

[2022-04-29 11:53] #204 closed, assigned to guillaumevernieres, ShastriPaturi

[2022-04-29 11:56] guillaumevernieres commented on #201
15 days ... of course ... It would have been nice to spend more time figuring out more precisely what spinup time is needed depending on the purpose, but ho well. 15 days is good enough to saturate the omb's in the mixed layer and for ssh.

[2022-04-29 11:56] #201 closed, assigned to guillaumevernieres

[2022-04-29 11:56] #226 closed, assigned to mjhossen

[2022-04-29 12:13] guillaumevernieres commented on #252
@ShastriPaturi gave a tutorial on how to use iodaplots.

[2022-04-29 12:13] #252 closed, assigned to nobody

[2022-04-29 12:16] guillaumevernieres commented on #203
Yup ... and still is. We've added a filter to increase the obs error in places where the background temperature was larger than a specified value. This "should" help somewhat but doesn't really fix the issue. That won't stop me from closing!

[2022-04-29 12:16] #203 closed, assigned to guillaumevernieres, ShastriPaturi

[2022-04-29 12:18] guillaumevernieres commented on #211
We are keeping 7c as the version of the model used for this project. Closing!

[2022-04-29 12:18] #211 closed, assigned to guillaumevernieres, ShastriPaturi

[2022-04-29 17:24] guillaumevernieres opened #259 "SSMIS UFO yamls"
Add the ufo yamls for f17-18 north/south.

[2022-04-30 00:03] guillaumevernieres commented on #200
ORAS5 is not available for EMC1-4. Closing this issue but we might want to revisit for the PSL experiment.

[2022-04-30 00:03] #200 closed, assigned to guillaumevernieres, ShastriPaturi

[2022-04-30 00:04] guillaumevernieres commented on #253
I think we're done ...

[2022-04-30 00:04] #253 closed, assigned to hyunchul386, mjhossen

[2022-05-02 14:32] #259 closed, assigned to guillaumevernieres

[2022-05-02 16:15] guillaumevernieres opened #261 "[bug] Missing yaml config for altimeter 3B"

[2022-05-02 23:36] guillaumevernieres opened #263 "Split the FNMOC profile files per platform and adjust obs error"
## Description
The observation errors are set to what probably is measurement errors, as it should be, and differ between platforms. This is however too small for our needs.

The figure below is showing an example of an Argo float temp and salt obs(blue)/background(g)/analysis(r). Distance between Dashed blue lines is 6 sigo's
![fnmoc-sigos](https://user-images.githubusercontent.com/14031856/16634

[2022-05-03 18:34] mjhossen opened #264 "EMC2 experiment"
EMC2: 2021 hurricane season (06/01/2021 to 11/30/2021)

Spinning : 2021-05-15 ~ 2021-05-31
Running : 2021-06-01 ~ 2021-11-30

[2022-05-04 12:32] ShastriPaturi opened #266 "Adding adt_6a_egm2008 yaml"

[2022-05-04 20:38] guillaumevernieres opened #268 "Change the R2D2 group owner to da"
da should be the group owner of the obs database, not ng-godas.

[2022-05-04 20:39] guillaumevernieres opened #269 "Move the R2D2 obs db to work2"
We have 85TB in /work2/noaa/ng-godas/

[2022-05-05 12:23] #266 closed, assigned to nobody

[2022-05-08 14:55] guillaumevernieres opened #270 "Filter out non-seaice obs where sea-ice is present"
I thought I added that filter in the ufo yaml's ... But apparently not. Something got lost in translation somewhere.

[2022-05-11 14:43] guillaumevernieres commented on #269
can this be closed @ShastriPaturi ?

[2022-05-11 15:11] guillaumevernieres opened #271 "Ocean & sea-ice monitoring: Generate and organize surface plots"
### Generate png figures for:
Develop a "script" python or/and shell that will generate the following fiures:
- Background states: `sss`, `sst`, `ssh`, `aicen` & `hicen` with the 3 following projection
     - Global projection (pick your favorite one)
     - North polar stereo
     - South polar stereo
- Obs-spaces: png figures of the omb's for each observation space assimilated

### Organization

[2022-05-12 14:46] mjhossen opened #273 "Bug fix for adt conversion: "copernicus_l4adt2ioda.py""
"copernicus_l4adt2ioda.py" produces a wrong date format, such as 2019-05-09T12:00:00Z" when it should be "2019-05-10T00:00:00Z.
Soca-science produce an empty observation file for adt_coperl4.

[2022-05-12 18:06] mjhossen commented on #271
I have completed scripts for plotting state vectors such as bkg, ana etc. You can find the scripts in the folder: /work/noaa/marine/jhossen/Plot_field. There are two scripts: soca_plotfield.sh and soca_plotfield.py. Please read the Readme.md file to run the plot scripts.

[2022-05-12 18:08] mjhossen commented on #271
I will include the scripts for ombg which has been provided  by Guillaume.

[2022-05-12 19:05] guillaumevernieres commented on #271
copy/paste of my comments on slack:
- You are missing aicen and hicen (north & south)
- color scale for global temp should be ~[-1.8, 32]
- color scale for ssh are saturated too, try something like [-2, 1.3]

[2022-05-16 19:40] ShastriPaturi commented on #269
Yes @guillaumevernieres

[2022-05-16 19:40] #269 closed, assigned to ShastriPaturi

[2022-05-16 19:41] ShastriPaturi commented on #268
Changed the group owner in /work2/noaa/ng-godas/r2d2 to da

[2022-05-16 19:41] #268 closed, assigned to ShastriPaturi

[2022-05-17 17:17] mjhossen opened #275 "godas monitoring tools for experiment runs"
To plot bkg, incr and ombg, we develop plotting tools to monitor experiments.

[2022-05-18 15:10] #270 closed, assigned to nobody

[2022-05-18 15:10] #261 closed, assigned to nobody

[2022-05-18 15:28] guillaumevernieres opened #276 "Document the code that generates the forcing"
A forcing generation step is going to be required within the global workflow. The code provided [here](https://github.com/NOAA-EMC/godas/blob/develop/forc/) is the prototype candidate but lacks documentation and isn't usable or easily understandable by a third party.
For example, [conv_gfs2datm_long_beta4.f](https://github.com/NOAA-EMC/godas/blob/develop/forc/GFS/conv_gfs2datm_long_beta4.f) is com

[2022-05-18 16:29] aerorahul commented on #276
I can provide a shell python substitute that can replace the fortran code and the scripts associated with generating the forcings.

In addition to the points in the discussion, it would be good to have documentation on:
1. input variables - what are the variables required in the program
2. output variables - what are the variables being written out to the forcing file
3. any calculations performed

[2022-05-18 16:40] hyunchul386 commented on #276
I am generating README.md for the descriptions of input output variables and calculations for the fortran code.
if there is some issues in the current code in global work and/or the substitute python code improves the efficiency of calculation time, I think it should be considered.

[2022-05-18 16:46] aerorahul commented on #276
@hyunchul386
There is likely nothing wrong with the code and the scripts.
The issue is to prepare it for use in the cycled ocean DA framework so users can understand it.
Thank you for taking the time to document and clarify potential points of confusions.

[2022-05-18 16:52] hyunchul386 commented on #276
@aerorahul Okay, I am preparing the documents for clarifying.

[2022-05-19 15:17] mjhossen commented on #271
Fixed

[2022-05-19 17:45] mjhossen opened #278 "Bug fixing for adt copernicus conversion: copernicus_l4adt2ioda.py"
Conversion problem occurs when converting adt copernicus sea level data obtain from
[code]
Two issues are fixed:
1. key error: keyword 'err' is not available in the data files.
- replace 'err' by 'err_sla' in the python script
2. datetime inconsistency: the date inside the file is one day earlier than the leveling date of the file.
- replace datetime yyyy-mm-ddT12:00:00 in the conversion by a date

[2022-05-23 11:46] guillaumevernieres commented on #278
Thanks @mjhossen for the fix. Here's the repository where you should submit that ticket and eventually issue a PR: https://github.com/JCSDA-internal/ioda-converters

[2022-06-01 17:56] hyunchul386 opened #280 "Update GFS forcing package"
To update the GFS_DATM forcing package for outputs of VBDSF, VDDSF, NBDSF, NDDSF, fprecp, precp,
by using GFS f006 data

[2022-06-03 15:10] hyunchul386 commented on #280
A comparison between the previous GFS_DATM and new GFS_DATM in 20220530 00Z
![GFS_ori_GFS_new_2022053000](https://user-images.githubusercontent.com/14810515/171881778-4d76b6e6-14d3-4bff-be58-463bb94aee9b.png)

[2022-06-07 16:06] mjhossen opened #281 "distance to coast filter"
We apply a distance to coast filter to remove some observation near the coast. For 0.25 deg simulation we use 100km distance which is 3-4 grids from the coast.

[code]

[2022-06-10 19:30] guillaumevernieres opened #283 "Horizontal scales are not the same as what was used in the 40 year reanalysis"
Because I WILL have forgotten comes Monday:
Just set this
https://github.com/NOAA-EMC/godas/blob/76f137f3c5a55d1c079b21cee410ab496f0f63f3/soca/soca_staticbinit.yaml#L15

to 0km
and `min grid mult` to 1.

Pinging people so they can remind me, or better yet test and commit the changes!
@ShastriPaturi , @liuxiao37k , @mjhossen , @hyunchul386 , this problem concerns you too!

[2022-06-10 21:57] liuxiao37k commented on #283
@guillaumevernieres So the issue is, with `min value` set to 50.0e3, and `min grid mult` set to 2, all part of the ocean higher than ~25°N/S is dominated by this 50.0e3 number, which is too large of a length scale?

[2022-06-11 15:07] guillaumevernieres commented on #283
yes.

[2022-06-17 14:25] #281 closed, assigned to nobody

[2022-06-18 01:11] guillaumevernieres opened #284 "[Bug] Missing observers key in yamls"
Update yamls to add `observations.observers` key

[2022-06-21 14:43] #284 closed, assigned to liuxiao37k

[2022-06-22 12:59] #275 closed, assigned to nobody

[2022-06-23 21:01] #264 closed, assigned to mjhossen

[2022-06-23 21:03] #276 closed, assigned to hyunchul386

[2022-06-23 21:03] #271 closed, assigned to mjhossen

[2022-06-23 21:04] #256 closed, assigned to nobody

[2022-06-23 21:04] #255 closed, assigned to nobody

[2022-06-23 21:06] #197 closed, assigned to ShastriPaturi

[2022-06-23 21:09] guillaumevernieres commented on #273
I'm closing this issue, which really belongs in the `ioda-converters` repositories anyways.
Your PR is failing the ci @mjhossen , you need to fix this:
https://github.com/JCSDA-internal/ioda-converters/pull/956

[2022-06-23 21:09] #273 closed, assigned to nobody

[2022-06-23 21:10] #278 closed, assigned to nobody

[2022-06-30 18:29] guillaumevernieres opened #287 "Ocean vertical coordinate configuration"
Since pressure, or layer thicknesses are not part of the control variables of the DA system, the vertical geometry will have to be static (at the very least within a DA window). states and increments read by soca will have to be remapped to the static geometry.

Several unknowns:
1 - Do we care about deep ocean obs? If not, could we reduce the number of levels (currently 75)?

2 - Vertical interpo

[2022-06-30 18:32] guillaumevernieres opened #288 "Marine DA for GFSv17"
Implement a JEDI/SOCA based marine DA system for the GFSv17

[2022-06-30 18:35] guillaumevernieres opened #289 "Variational DA (static B development)"

[2022-06-30 18:37] guillaumevernieres opened #290 "hybrid EnVAR for MOM6 & CICE6"

[2022-06-30 18:38] guillaumevernieres opened #291 "Sea ice DA"

[2022-06-30 18:39] guillaumevernieres opened #292 "Implementation in the global-workflow"

[2022-06-30 18:40] guillaumevernieres opened #293 "Estimate errors and biases of SST and SSS retrievals. (previously Observing System Experiment)"
## Description
We have access to error and bias estimates for the IR SST retrievals, which we currently rely on for correction and obs error estimates. The same isn't necessarily true for the MW retrievals of SSS and SST.
There are several ways one could estimate errors and biases
- collocate remote obs with insitu obs, bin and compute std and mean errors. **We're NOT going to do that**
- run data

[2022-06-30 18:41] guillaumevernieres opened #294 "Diagnostics/monitoring"

[2022-06-30 18:42] guillaumevernieres opened #295 "Observations QA/QC and processing"

[2022-06-30 18:43] guillaumevernieres opened #296 "Testing and Validation"

[2022-06-30 19:28] ShastriPaturi commented on #293
@guillaumevernieres I have asked Andre van der Westhuysen to create a task for me.

[2022-06-30 19:31] ShastriPaturi commented on #295
@guillaumevernieres this issue can be linked to #288.

I have asked Andre van der Westhuysen to create a task for me.

We can add NCEP data tank specific obs such as:
insitu: BUFR
Icec: AMSR-2
SST: GOES (ABI, AHI)

[2022-06-30 19:36] guillaumevernieres commented on #295
It's an epic, not an issue and it's already under epic #288 . I'll populate the issues related to this epic soon ... after which we can refine the details of what needs to be done and how.

[2022-06-30 19:41] guillaumevernieres opened #297 "Altimeter OSE"
**This is a simple observation denial experiment:**
- Base experiment off of emc_ref2 (... we need to standardize the naming ...)
- Add a passive filter to the adt obs yaml

[2022-06-30 19:41] guillaumevernieres opened #298 "MW SSS OSE's"
## Description
Setup and run a suite of experiments from which statistics will be computed to infer errors and biases of SSS and SST MW retrievals.

**Note #1:**
The following filter will make all obs passive:
[code]
@liuxiao37k , chime in if you can think of a better way to do this. The above works, but it's quite convoluted ...

**Note #2:**
The following obs will ALWAYS be passive:
- L3 GDP dri

[2022-06-30 19:42] guillaumevernieres opened #299 "IR OSE's"

[2022-06-30 19:50] guillaumevernieres opened #300 "Profiling of 3D BUMP at 1/4 deg"
**Documentation of:**
- Initialization timing and memory foot print
- B.multiply
- memory footprint within the variational application

[2022-06-30 19:51] guillaumevernieres opened #301 "Evaluation of 3D BUMP at 1/4 deg"
## Description
Document the quality (or lack!) of a 3D BUMP based ocean ice analysis. Compare against:
- [ ] PSL's short reanalysis for the 1/4 deg test
- [ ] EN4 and the 40 year godas reanalysis (over a short period) for the 1 deg. (This work is already done, is that correct @jieshunzhu ?)

**Notes:**
@jieshunzhu has already started that work at 1 deg and found significant improvement compared to

[2022-06-30 19:53] guillaumevernieres opened #302 "Ensemble estimate of the length scale in C"
## Description
Estimate the decorrelation length scale for all variables from an ensemble of climatological perturbations and use these scales to generate a BUMP correlation operator.

Notes:
- Make use of bump training. It will fit GC99 to sampled correlations on the subgrid and extrapolate to the DA grid (I think that's what it does)
- Generate climatological perturbations from already existing

[2022-06-30 19:54] guillaumevernieres opened #303 "Dual resolution"
Investigate the pros and cons of using dual resolutions in the variational solver.

*Dual resolution:* increment at lower-res than h(x)

To be refine, but here are the things we should investigate:
look at speed-up vs quality of analysis. Horizontal vs vertical coarsening

[2022-06-30 19:55] guillaumevernieres opened #304 "State dependent optimization of the vertical geometry"
Generate a vertical coordinate that better represents the state within the DA window: Since bump’s vertical geometry for soca is defined in layers (indices), one could adjust the layer thicknesses without having to re-initialize bump. This would allow a better representation of the thermocline and mixed-layer depth.

[2022-07-01 13:38] #195 closed, assigned to nobody

[2022-07-01 13:40] guillaumevernieres commented on #263
To be revisited ...

[2022-07-01 13:40] #263 closed, assigned to nobody

[2022-07-01 13:42] #199 closed, assigned to nobody

[2022-07-01 14:23] guillaumevernieres opened #305 "IAU in CICE"
Check with the CICE developers if this is in the pipe line, if not, decide to ignore or implement.

[2022-07-01 14:24] guillaumevernieres opened #306 "CICE initialization"
## Description
Initialize CICE from a 2D analysis of ice concentration and ice thickness.

## Implementation

Create a variable change from `soca` to `cice` and call it `soca2cice`:

**Forward var change:**
  - _Inputs:_
    - 2D `soca` ocean and ice `State`
    - background `cice` restart

  - _Output:_
    - de-aggregate ice in `cice` restart
    - adjusted `cice` restart fields (not part of soc

[2022-07-01 14:25] guillaumevernieres opened #307 "Revive the use of freeboard observations"
Investigate the use of freeboard observations:
- Identify issues to be addressed. Freeboard DA has not been exercised for a very long time, there will be bugs!
- Simple data denial exp to identify the pros & cons of ingesting freeboard obs

[2022-07-01 14:26] guillaumevernieres opened #308 "Set up a low resolution test case"

[2022-07-01 14:26] guillaumevernieres opened #309 "Revive the ecbuild/cmake build system for CICE/Icepack"
# Description
Update the currently broken `ecbuild` build system in the JCSDA-internal fork of CICE.

# Criteria for done
A branch with the bug fix allowing to build the CICE and Icepack library as well as the CICE stand alone executable.

[2022-07-01 15:25] guillaumevernieres opened #310 "3D vs 4D ensemble"
Low priority
## Description
Pros-cons of a 4D vs 3D ensemble. Do we really need a 4D ensemble for a 6 hr DA window?

Test by looking at the time dependent representers?

[2022-07-01 15:25] guillaumevernieres opened #311 "Profiling of the 30 members hybrid EnVAR"
## Description
Document the profiling of the  HybEnVAR with 30 members at ¼ deg for 1 cycle.
- [x] Memory footprint with all obs
- [x] Detailed timing for specific layout

[2022-07-01 15:28] guillaumevernieres opened #312 "Off-diagonal blocks of the ensemble B"
Low priority for now but this will be re-evaluated after the profiling of the hybrid envar.

## Description
30 ens. members might be too small to trust some of the off diagonal elements of the sample covariance matrix.

## Possible solution
Build the selected off diagonal element and implement as a linear change of variable.

[2022-07-01 16:13] guillaumevernieres opened #314 "Automate the monitoring of experiments"
## Description

**Add a few figures to the current monitoring script(s):**
- [ ] Antarctic/Arctic ice concentration for the background and if available the L4 NSIDC ice concentration product
- [ ] Arctic ice concentration/ice thickness/snow depth from PIOMAS and GIOMAS.
- [ ] Antarctic ice concentration/ice thickness/snow depth from PIOMAS and GIOMAS

**Experiment comparison:**
- [ ] Time series o

[2022-07-01 16:14] guillaumevernieres opened #315 "Present experiment results through a web interface"

[2022-07-01 16:14] guillaumevernieres opened #316 "Use EVA to generate the relevant obs space plot for 1 DA cycle"
## Descriptiuon
Use the existing python tool in the GDASApp [gen_eva_obs_yaml.py](https://github.com/NOAA-EMC/GDASApp/blob/develop/ush/eva/gen_eva_obs_yaml.py) to generate marine DA EVA yaml files ...

- [x] get a valid `var.yaml` file from an existing experiments (this is the input to the script above)
- [x] create eva templates for the marine obs
- [x] test the generated yaml with eva

## Notes

[2022-07-01 16:15] guillaumevernieres opened #317 "Compare against RTOFS"
## Description
Develop the necessary tools to compare the UFS/JEDI system to RTOFS

## Possible solution
- generate a `soca` geometry for HYCOM
- convert gribs or binary to an `soca` readable format (`fms` restart)
- use the `soca` h(x) application to compute the "RTOFS" omb's

[2022-07-01 16:42] guillaumevernieres opened #318 "Perturbation model: Stochastic physics"
# Description
Figure out what is available and implement

[2022-07-01 16:44] guillaumevernieres opened #319 "Perturbation model: LETKF"
Implement and evaluate a turn-key LETFK provided by @travissluka ,@kbhargava and @frolovsa

[2022-07-01 17:00] guillaumevernieres opened #320 "System evaluation"
## Description
Open-ended Epic: Regularly test the development of the various component of the system to make sure the added feature are neutral or improve the chosen metrics.

Live list of experiment can be found in this [spread sheet](https://docs.google.com/spreadsheets/d/19dP5Gq2M_fjQ29rwREFHrNaFcOEDHSauufiaD8jgr2g/edit#gid=0)

[2022-07-05 13:44] guillaumevernieres opened #321 "Real time obs: bufr to ioda"
Apply bufr2ioda.x to IODA convert insitu (temp and salinity) BUFR data from NCEP data, monthly and daily, tanks.

A second step (PreQC) is needed to
- [ ] Add missing variables, e.g., ObsError, PreQC (the values are borrowed from RTOFS-DA decoder)
- [ ] Convert temp from degK to degC

Data to be converted
- [ ] Profile : ARGO, DBUOY, MBUOY, CTD, XBT, etc
- [ ] Surface: ship, TESAC, etc
- [ ] Add a

[2022-07-05 13:45] guillaumevernieres opened #322 "Real time obs: Detailed list of QC steps for RTODS/RTOFS-DA"

[2022-07-05 13:46] guillaumevernieres opened #323 "Real time obs: Pre QA/QC step"

[2022-07-05 13:46] guillaumevernieres opened #324 "Real time obs: Superobing of high-res profiles"
Use @travissluka 's tools, or develop from scratch.

[2022-07-05 13:47] guillaumevernieres opened #325 "Split FNMOC insitu obs by WMO id [NOT POSSIBLE]"
- split insitu instruments/platforms per obsspace
- add UFO yaml and add to godas, and possibly GDASApp

[2022-07-05 13:48] guillaumevernieres opened #326 "Diagnostic L4/objsective analysis in R2D2"

[2022-07-05 13:49] guillaumevernieres opened #327 "Implement QC for ship and trak (FNMOC)"
PreQC to filter out probablity error values >=1.
- [ ] - sst from ship and trak
- [ ] - sss from trak
- [ ] - Run 3dvar on 1 deg to test filters

[2022-07-05 13:49] guillaumevernieres opened #328 "Real time obs: Seaice concentration"

[2022-07-05 13:49] guillaumevernieres opened #329 "Superobing of EMC's seaice concentration"

[2022-07-05 13:58] guillaumevernieres opened #330 "Test the vertical interpolation"
We need to make sure that part of the code is working properly. It is used when recentering, and possibly to interpolate the increment into a coarser vertical resolution (still tbd).

[2022-07-05 15:41] guillaumevernieres opened #331 "Develop tools to generate vertical geometries for MOM6"
Generate a soca geometry based on the 1/4 deg grid but with fewer layers.

[2022-07-05 15:42] guillaumevernieres opened #332 "Should the vertical geometry be DA window dependent"
Should we "freeze" the vertical coordinate used in the DA system of adjust it to what the model specifies?
- The parametric B should still work, but not extensively tested. Look at @ShastriPaturi 's 1/4, 41 layer exp.
- This would work without re-initializing BUMP at every cycle since we only pass the logical vertical geometry to BUMP
- Investigate the variability of the layer thicknesses over a s

[2022-07-05 17:47] guillaumevernieres commented on #206
Should have been closed with #209

[2022-07-05 17:47] #206 closed, assigned to guillaumevernieres, ShastriPaturi

[2022-07-05 17:49] guillaumevernieres commented on #198
Decided to us pre-qc'ed obs for CPC.

[2022-07-05 17:49] #198 closed, assigned to guillaumevernieres, ShastriPaturi

[2022-07-05 17:50] guillaumevernieres commented on #191
Mostly done. The rest of the issues will be part of regular support to the CPC project.

[2022-07-05 17:50] #191 closed, assigned to nobody

[2022-07-05 18:12] guillaumevernieres commented on #300
@liuxiao37k and @jieshunzhu , I'm adding you to the "assignees" list, since you will be running the system with 3D BUMP in the next few days/weeks. You're welcome to remove yourself.

[2022-07-05 19:39] guillaumevernieres opened #333 "Test the DART utilities"
## Todo list
- [x] Update @clouden90 's DART branch: https://github.com/JCSDA-internal/soca-science/tree/feature/dart-seaice-varchange
- [x] Understand how to use the utility

## Note:
The original DART code for `CICE` is here: https://github.com/NCAR/DART/tree/main/models/cice
soca-science branch is `git checkout feature/dart-seaice-varchange`

[2022-07-06 21:20] guillaumevernieres commented on #333
@kestonsmith-noaa : I merged `soca-science` `develop` into @clouden90 's branch and built it. It's good to go to have a look at the `DART` utility.

branch name is [feature/dart-seaice-varchange](https://github.com/JCSDA-internal/soca-science/tree/feature/dart-seaice-varchange)

[2022-07-06 22:34] guillaumevernieres opened #334 "3D FGAT for MOM6 in the gw"
## Description
Add the necessary steps in the g-w to cycle the `soca` 3dvar fgat implemented in the `GDASApp`.

## Dependencies
We're going to ignore the science for now and ignore the below dependencies.
- ~#332~
- ~#330~

## Criteria for done
- Ocean DA at least. Seaice, BGC, wave can be added later
- Marine DA tasks merged in the `global-workflow`

[2022-07-06 22:34] guillaumevernieres opened #335 "EnVAR with MOM6-CICE6"

[2022-07-06 22:36] guillaumevernieres opened #336 "Ocean and seaice UFO yamls"
[PR 236](https://github.com/NOAA-EMC/GDASApp/pull/236) should have closed this issue.

[2022-07-06 22:37] guillaumevernieres opened #337 "Low-res coupled UFS"
## Description
This issue is an attempt at finishing the work that @DeniseWorthen did a few years back (UFS issue [#289](https://github.com/ufs-community/ufs-weather-model/issues/289)). Here's what she can give us and what the issue is:
- A sandbox containing restarts for FV3 (C48), CICE6(5deg) and MOM6 already exist. MOM6 is based on what is used in `soca` but the model's initial conditions are b

[2022-07-06 22:37] guillaumevernieres opened #338 "Build system: build soca with the UFS lib"

[2022-07-06 22:38] guillaumevernieres opened #339 "Prototype Low-res weakly coupled DA system in the g-w/GDASApp"
## Description
It probably should have been its own epic ... but checking boxes is nice too:
- [x] **A:** 3dvar fgat with `soca` for the ocean only (sea-ice will come in later)
- [x] **B:** 3dvar fgat with the `gsi` for the atm (@RussTreadon-NOAA & @CoryMartin-NOAA )
- [x] **C:** trigger iau for MOM (G)
- [x] **D:** direct insertion of the `gsi` incr in the FV3 restart (@RussTreadon-NOAA and @Cory

[2022-07-08 14:37] guillaumevernieres opened #340 "Add yaml configurations for BUMP_NICAS"

[2022-07-08 15:53] guillaumevernieres opened #342 "Split the BUMP_NICAS initialization per variable"
## Description
Initialize the diagonal blocks of **C** separately

See Benjamin's workflow here:
- https://github.com/JCSDA-internal/fv3-jedi-tools/blob/982490360ef93bbd757522660e70b80b4ee07f56/src/Workflows/StaticB/bump_1.0/merge.sh#L92
- https://github.com/JCSDA-internal/fv3-jedi-tools/blob/982490360ef93bbd757522660e70b80b4ee07f56/src/Workflows/StaticB/bump_1.0/final.sh#L321

## Deliverable
- [x

[2022-07-09 14:07] guillaumevernieres opened #344 "IAU for ensemble members"

[2022-07-09 14:07] guillaumevernieres opened #345 "Checkpointing the ens. members is slow"

[2022-07-09 19:18] guillaumevernieres commented on #311
## Orion, 16 nodes/640 cores, 1/4 deg MOM6-CICE6, 30 members

### EnVAR (150 inner iterations)

[code]

### Ensemble re-centering
[code]

### Checkpointing the ensemble members
Example for 1 member:
[code]
If done sequentially (which is the case in soca-science), the total runtime for checkpointing 30 members is around **2000 seconds**

[2022-07-09 19:52] guillaumevernieres opened #346 "Ensemble size?"
Identify the ensemble size. Talk to @dtkleist , @CoryMartin-NOAA , @RussTreadon-NOAA , ...

[2022-07-09 19:56] guillaumevernieres opened #347 "Short cycling experiment with 30 members"
This will have to wait until all issues are sorted out ... The EnVAR currently fails in a few places.

[2022-07-09 20:39] guillaumevernieres opened #348 "BGC obs"
## Description
Populate BGC R2D2 experimental data base.

# Criteria for done
- Enough BGC obs to test post 2019

[2022-07-11 11:02] kestonsmith-noaa commented on #337
OK.  Let me know if you have a starting point in mind.  Also is the MOM6-CICE coupling intended to be tw0 way or just MOM6-> CICE6? - Keston

[2022-07-11 12:29] guillaumevernieres commented on #337
@kestonsmith-noaa There was an attempt a few month ago, but it was abandoned. We should start from where they left off.

[2022-07-11 12:53] kestonsmith-noaa commented on #337
OK sounds good- is there a git hub repository or link to that work?

On Mon, Jul 11, 2022 at 8:30 AM Guillaume Vernieres <
***@***.***> wrote:

--
Keston Smith
Support Scientist
IMSG at NWS/NCEP/Environmental Modeling Center
National Oceanic and Atmospheric Administration
(774) 766-1545

[2022-07-11 12:57] guillaumevernieres commented on #337
~~I think so, but I forgot where. I'll organize a meeting with the person(s) who worked on this issue.~~
Edited the description, but in case of, here's the issue link: https://github.com/ufs-community/ufs-weather-model/issues/289

[2022-07-12 12:23] ShastriPaturi commented on #298
The time period of Expt 1-4 is from 2019-01-01 till 2019-12-31 centered at 12z with 24 hr DA window on a 1 deg resolution.

[2022-07-12 12:25] ShastriPaturi opened #349 "MW (SST & SSS) OSE's"

[2022-07-12 19:22] liuxiao37k opened #350 "'BGC-ify' this repo - 1st round additions"
The current repo is missing most of the stuff required for to run soca-science with BGC (`ecbuild -DENABLE_OCEAN_BGC=ON`), if set as `SOCA_DEFAULT_CFGS_DIR`. We need to include at least:
1. obs yamls for a few satellite sensors (1st round), and for other in situ/surface sensors, such as Argos and saildrones, in the future.
2. a few yamls (e.g. `soca_3dvar.yaml`) needs to be updated to apply bkgerr

[2022-07-12 19:32] DeniseWorthen commented on #337
I have a sandbox on orion here: /work/noaa/stmp/dworthen/stmp/dworthen/FV3_RT/cpld_c48/cpld_control_c48

I've added the following to the MOM_input:
[code]

The error file (err) shows the following:
[code]

The model fails with
[code]

which I believe is caused by the _FillValue (E+36) appearing in non-masked areas of the ocean. To use a MOM6 restart, change the bottom of the input.nml (ie, MOM_inp

[2022-07-12 20:18] hyunchul386 commented on #337
Thanks a lot for the sandbox, and I will checking it at the sandbox and let you know if the rebuilding is required.

[2022-07-12 20:45] hyunchul386 commented on #337
I could reproduced the errors from my sandbox.

[2022-07-12 20:47] guillaumevernieres commented on #298
@ShastriPaturi  and @mjhossen : ~~Shouldn't "All obs" include the IR as well? I don't think you'll have enough insitu obs to get a reasonable sst analysis, plus the drifters are passive too ...~~
... never mind. I can't read.

@guillaumevernieres OSTIA SST is included, so IR SST obs are not needed in these experiements.

[2022-07-12 20:49] ShastriPaturi commented on #321
A test data for 20150101 centered at 00z for DBUOYB profile data was tested successfully with 3dvar on 1deg.

[2022-07-12 21:26] guillaumevernieres commented on #337
@kestonsmith-noaa : I tend to read 1/2 of the wordls and extrapolate the intent of a post, bad bad me, sorry! Yes, it's a two-way coupling between all components.

[2022-07-12 21:27] guillaumevernieres commented on #337
Very cool! Thanks @DeniseWorthen and @hyunchul386 .

[2022-07-12 21:29] guillaumevernieres commented on #337
I can't believe @hyunchul386 or @DeniseWorthen didn't click the boxes!!!! ... So I had to do it, sorry.

[2022-07-12 21:31] DeniseWorthen commented on #337
@guillaumevernieres That's what managers are for :-)

[2022-07-12 21:33] mjhossen commented on #298
Yes, I include IR obs as well.

[2022-07-13 12:35] #350 closed, assigned to liuxiao37k

[2022-07-13 12:36] #340 closed, assigned to guillaumevernieres

[2022-07-13 13:35] guillaumevernieres commented on #337
@hyunchul386 , are you planning to work on this today as well?

[2022-07-13 13:41] hyunchul386 commented on #337
@Guillaume Vernieres - NOAA Federal ***@***.***> Yes, the
one day run for 2021-03-22 is running at my sandbox with a new ocean IC.

On Wed, Jul 13, 2022 at 9:35 AM Guillaume Vernieres <
***@***.***> wrote:

[2022-07-13 13:49] mjhossen commented on #298
SST MW retrieval, windsat data has a problem. Got an error message when include them in the run, even after Jan 8.

[2022-07-13 13:54] mjhossen commented on #349
@guillaumevernieres  has already opened an issue with the same title #298

[2022-07-13 14:20] guillaumevernieres commented on #337
@hyunchul386 That is totally crazy!!!!

[2022-07-13 14:27] hyunchul386 commented on #337
@guillaumevernieres The one day run completed, which does not mean the correct (?) results, but the one day run finished.
Issues may be whether the results are reasonable or not, and to re-tune the memory. Currently 20 tasks and wallclock time is more than 80 min for one day run.

[2022-07-13 14:28] DeniseWorthen commented on #337
@hyunchul386 The compilation was in debug mode; to test the timing you would need to recompile w/o debug=on. Do you want to try that?

[2022-07-13 14:32] hyunchul386 commented on #337
@DeniseWorthen Thank you. I'll check it.

[2022-07-13 14:33] DeniseWorthen commented on #337
@hyunchul386 Do you want the instructions for re-compiling in debug mode, or do you know how to do that already?

[2022-07-13 14:33] hyunchul386 commented on #337
@DeniseWorthen, I think rebuild the run, and would you let me know about this rebuild?

[2022-07-13 14:48] DeniseWorthen commented on #337
To compile the model you can do this:

[code]

To compile in debug mode:
[code]

To compile in non-debug mode:

[code]

The first "YES" means to build cleanly. You can change this to "NO" if you're making code changes and want to test a code change. It will then only rebuild what is needed.

The "NO" means to clean afterwards. Generally leave this as NO so that you don't need to rebuild from scrat

[2022-07-13 15:00] hyunchul386 commented on #337
@DeniseWorthen Thank you, I'll check it

[2022-07-13 15:09] guillaumevernieres commented on #337
... Doing my part and clicking one more box!

[2022-07-13 15:25] DeniseWorthen commented on #337
@hyunchul386 I forgot the final step. You'll have in the tests directory both fv3.exe and modules.fv3. You'll need to remove the sym-links to my build in the sandbox. Then either copy those two files from your build into the sandbox (or sym link them).

[2022-07-13 15:28] hyunchul386 commented on #337
@DeniseWorthen Got it. Thanks a lot.

[2022-07-13 15:31] DeniseWorthen commented on #337
@hyunchul386 One more item. Turn off the verbosity and debug settings in the MOM_input.

[2022-07-13 15:33] hyunchul386 commented on #337
@DeniseWorthen Okay Thanks
By the way, the results of the debug run looks normal in my glance.
Just FYI, attached is a quick and dirt checkout for the previous debug mode run from ferret
![UFS-c48o5d25k_SST](https://user-images.githubusercontent.com/14810515/178773168-3af3213b-d5b0-4d24-b496-d80ba530162e.gif)

[2022-07-13 16:36] hyunchul386 commented on #337
Just update for the non-debug mode run, as expected, the run time of non-debug run is drastically reduced
from 6183 secs to 478 secs for one day run. @DeniseWorthen Thanks a lot.

[2022-07-13 17:01] guillaumevernieres commented on #337
How many nodes are you using @hyunchul386 ?

[2022-07-13 17:04] hyunchul386 commented on #337
@guillaumevernieres  The run uses1node with 20 tasks.

[2022-07-13 17:14] guillaumevernieres commented on #337
I'm going to ask for a few more features that we will need for the DA @hyunchul386 :
1 - a diag/history collection for MOM6 and CICE on the native grid containing snapshots of the DA variables every hour. Maybe @kestonsmith-noaa or @DeniseWorthen can guide us on the CICE side.
2 - save intermittent restarts for all the components. It's just 1 flag, but it needs to be tested.
3 - split the restart

[2022-07-13 17:17] mjhossen commented on #298
All four exps are running in the folder: /work/noaa/marine/jhossen/marine_DA_dev/OSEs

[2022-07-13 17:20] mjhossen commented on #298
Sim stopps at run.fcst with a message:  (icepack_warnings_aborted) ... (icepack_step_therm1)

[2022-07-13 17:25] mjhossen commented on #298
I got the same error message for MW SSS passivate:
 -80875474.6891365       -80875474.6891365
  (picard_nonconvergence)-------------------------------------
 (picard_solver) picard_solver: Picard solver non-convergence
    (icepack_warnings_setabort) T :file icepack_therm_mushy.F90 :line         13
 82
 (icepack_warnings_aborted) ... (picard_solver)
 (icepack_warnings_aborted) ... (two_stage_solve

[2022-07-13 17:38] DeniseWorthen commented on #337
I can help w/ the restart writing for the coupled system and the history writing for CICE. What are the needed DA variables for CICE?

[2022-07-13 17:45] hyunchul386 commented on #337
It seems that the Ice DA variables are "hsnon, hicen, cicen".

[2022-07-13 17:49] DeniseWorthen commented on #337
By the "n" do you mean you want these variables by thickness category? Normally we write out the composit values (ie, added up over all thickness categories). So snow thickness by category, ice thickness by category and ice concentration by category?

[2022-07-13 17:55] guillaumevernieres commented on #337
That's correct @DeniseWorthen , we need the seaice var per categories. We do currently aggregate these variables, but this is probably going to change soon-ish.

[2022-07-13 19:12] kestonsmith-noaa commented on #337
Do we want the other CICE state variables as well i.e. sice001, sice002,...sice007,and qice00x?

[2022-07-13 19:28] guillaumevernieres commented on #337
Good point @kestonsmith-noaa , at this point, all we need from CICE are the intermittent restart then. No point writing a history file which would have 90% of the content of a restart.

[2022-07-13 19:37] DeniseWorthen commented on #337
So what you want is just hourly restart files.

Do you need the full instructions for restarting the coupled model, or do you already have that set up somehow?

[2022-07-13 19:41] hyunchul386 commented on #337
Yes, would you give the instructions for restarting the coupled model?

[2022-07-13 19:49] guillaumevernieres commented on #337
There's 2 things here:
- dumping restarts on the fly, which should only be a one line change in one of the nems config files (`restart_n` ?). I think it works OK in the coupled model, but to be tested and part of the reg test.
- "cycling" the coupled model ... Which will be needed too. That's just dumping restarts after a finalize, and restarting from these restarts. We have scripts that do this i

[2022-07-13 20:34] DeniseWorthen commented on #337
@guillaumevernieres So all the models can write checkpoint restarts; the components are controlled w/ ``restart_n``, but FV3 is controlled with ``restart_interval`` in the ``model_configure``.  There is this reference [here](https://github.com/ufs-community/ufs-weather-model/wiki/Restarting-the-Coupled-Model) that should help.

I can work on adding a c48/5deg control and restart test to the RTs if

[2022-07-13 21:21] guillaumevernieres commented on #337
Yes, that is what we need @DeniseWorthen .

[2022-07-13 21:27] DeniseWorthen commented on #337
@hyunchul386 Could you provide me the location of the MOM6 restart you used?

[2022-07-13 23:44] guillaumevernieres commented on #348
@liuxiao37k , is this issue sorted out?

[2022-07-13 23:46] #283 closed, assigned to nobody

[2022-07-14 13:26] liuxiao37k commented on #348
@guillaumevernieres We have populated R2D2 with ocean color obs (2002-2022 May, thanks to @ShastriPaturi for transferring the files), but I am reprocessing everything this week to add an additional variable, and am also processing a new set of L4 data. I'd keep this open for a few more days until we replace the old files with new ones, if it's okay.

[2022-07-14 13:48] hyunchul386 commented on #337
@DeniseWorthen the location is /work/noaa/stmp/hlee/stmp/hlee/FV3_RT/cpld_c48/cpld_control_c48

[2022-07-14 15:44] guillaumevernieres commented on #346
After discussion with @dtkleist and @CoryMartin-NOAA , we are going to aim for **80 members**. Resolution of members is TBD.

[2022-07-14 15:53] guillaumevernieres opened #352 "Profiling of the 80 members hybrid EnVAR"
## Description
Similar to #311 , document the profiling of the  Hybrid EnVAR with 80 members at ¼ deg for 1 cycle.
- [ ] Test with coarser vertical resolution of the ensemble members compared to the deterministic
- [ ] Memory footprint with all obs
- [ ] Detailed timing for a specific layout

[2022-07-14 17:18] DeniseWorthen commented on #337
@guillaumevernieres I'm setting up the control/restart tests now.  I think there may be an issue writing the MOM6 restart on the first hour from a "cold start".

In this case, cold start means not having actual FV3 and CICE6 native ICs. For both these components, the model starts up using ICs from other sources. So they're not complete---for example, most ICs fields for CICE6 are filled w/ zero. W

[2022-07-14 17:24] guillaumevernieres commented on #337
@DeniseWorthen : I'm not too concerned about cold starting, is that a requirement for the RT ? If so, I would suggest to just make it work for the requirement of the RT and be done with it.

[2022-07-14 17:25] hyunchul386 commented on #337
@DeniseWorthen Just FYI, my run give 3 hourly restart files and one hourly MOM6 diag files,
/work/noaa/stmp/hlee/stmp/hlee/FV3_RT/cpld_c48/cpld_control_c48

I am not sure for the CICE diag/history files, because CICE diag would be differently controlled from MOM/FV3.

[2022-07-14 17:37] DeniseWorthen commented on #337
@hyunchul386 This is an issue w/ the restart file, not the diag file.

@guillaumevernieres The cold start is not a requirement for the RT per se, it is because we don't have the actual ICs for FV3 and CICE6 that we do the lagged startup. I need to fix MOM6 being able to write a restart (even if it doesn't advance) or we need to provide FV3 and CICE6 ICs---and our "control" run would then actually

[2022-07-14 17:47] guillaumevernieres commented on #337
@DeniseWorthen , couldn't we do a short forecast offline, dump fv3/cice/mom6 restarts and use that to build the RT?

[2022-07-14 18:13] ShastriPaturi opened #353 "Process SMOS ESA L2 SSS data for 2019"
IODA-v2 convert SSS SMOS L2 obtained from ESA for the period 2019. The variables (SSS data, ObsError and QC flags are what are used by RTOFS-DA as well).

**Purpose**
1. To run OSE experiments
2. As a step towards GFSv17, since these data are also available on NCEP data tanks.

[2022-07-14 18:20] ShastriPaturi commented on #348
Thanks @liuxiao37k . Let me know when you are ready.

[2022-07-14 20:51] guillaumevernieres commented on #309
While we wait to be granted `maintainer` role for the JCSDA CICE fork, the [feature/ecbuild-new](https://github.com/JCSDA-internal/CICE/tree/feature/ecbuild-new) branch of https://github.com/JCSDA-internal/CICE does the following:
- Addition of a bundle CMakeLists.txt that includes Icepack
- builds the CICE and Icepack libs as well as the CICE stand alone exec

[2022-07-14 20:51] #309 closed, assigned to guillaumevernieres, kestonsmith-noaa

[2022-07-14 20:53] guillaumevernieres commented on #311
Good enough for now, copy/paste of the log should allow us to document the profiling if need be.

[2022-07-14 20:53] #311 closed, assigned to guillaumevernieres

[2022-07-14 20:54] guillaumevernieres commented on #346
Added issue #352 to complement issue #311 .

[2022-07-14 20:54] #346 closed, assigned to guillaumevernieres

[2022-07-14 21:32] kestonsmith-noaa commented on #309
OK will do.  Might need some clarification though- the existing version does create:
Singularity> ls lib/*so -ltrh
-rwxrwxr-x 1 keston keston 3.0M Jul 14 17:24 lib/libicepack.so
-rwxrwxr-x 1 keston keston 7.1M Jul 14 17:25 lib/libcice6.so
Is there something else your looking for?

[2022-07-14 22:32] guillaumevernieres commented on #309
Nope, just closing the issue since it's mostly resolved, except for a pr that would update the feature/ecbuild branch ... not doing that until I can merge branches. Marking this ticket as solved.

[2022-07-15 22:37] mjhossen commented on #298
- The followings are used only for diagnostics for all experiments
soca/obs/adt_coperl4.yaml:      name: passivate
soca/obs/sst_ship_fnmoc.yaml:      name: passivate
soca/obs/sst_trak_fnmoc.yaml:      name: passivate
soca/obs/sss_trak_fnmoc.yaml:      name: passivate
soca/obs/sst_drifter.yaml:      name: passivate
- For Expt 1:
All are assimilated except the above fives
- For Expt 2 (SSS passive):

[2022-07-16 00:36] guillaumevernieres commented on #298
Thanks for the summary @mjhossen .

[2022-07-16 00:49] ShastriPaturi commented on #353
SSS SMOS ESA L2 data are converted for 2019 and pushed to R2D2.
2020 data files are empty.

Thanks @mjhossen for doing this.

[2022-07-16 01:01] mjhossen commented on #298
Run for first 15 days without windsat, then include it. Again I got an error message:
[code]
It seems we need to reconvert the data if we want to use it.

[2022-07-18 12:12] DeniseWorthen commented on #337
@guillaumevernieres What length of forecast would you want for the warmstart+restart tests?

The warmstart test will use a staged IC for FV3,CICE,MOM6 and CMEPS. Currently I've set it up to run a 6 hr forecast, and write restarts for FV3,MOM,CICE6 and CMEPS every hour. Does that set up work, or do you need something else (longer/shorter)?

The restart test will start from one of the warmstart test

[2022-07-18 12:26] #257 closed, assigned to ShastriPaturi

[2022-07-18 12:46] guillaumevernieres commented on #337
6 hr forecast is perfect @DeniseWorthen .

[2022-07-18 15:14] mjhossen commented on #298
EXPT3 (SST are passive, not SSS). Figures: SSS_<SMAP, SMOS> (top), SST_<GMI, AMSR2> (bottom)
![Screen Shot 2022-07-18 at 11 31 47 AM](https://user-images.githubusercontent.com/65732322/179569759-03e06bf9-d5e3-44af-8ab8-81aaf7e2f5e4.png)
![Screen Shot 2022-07-18 at 11 32 01 AM](https://user-images.githubusercontent.com/65732322/179569764-474a5427-5b3d-466e-9947-694515014618.png)

[2022-07-18 15:17] mjhossen commented on #298
EXPT2 (SSS are passive, not sst): Figures: SSS_<SMAP, SMOS> (top), SST_<GMI, AMSR2> (bottom)
![Screen Shot 2022-07-18 at 11 32 38 AM](https://user-images.githubusercontent.com/65732322/179569442-c01191aa-d990-4f37-b44a-ca89f4f48219.png)
![Screen Shot 2022-07-18 at 11 32 50 AM](https://user-images.githubusercontent.com/65732322/179569450-8d97bfde-8f5b-4719-9c10-5647a8e446a5.png)

[2022-07-18 15:39] guillaumevernieres commented on #298
FYI @mjhossen : It's `superobed`, not `superobs` ... neither are proper words of course :)

[2022-07-18 15:42] DeniseWorthen commented on #337
You can check ``/work/noaa/stmp/dworthen/stmp/dworthen/FV3_RT/rt_130933`` for the current setup, where ``cpld_warmstart_c48`` is the 6-hour warm start and `` cpld_restart_c48`` is the restart from the 3rd hour of the warm start run.

The restart files are all 1-hourly in both cases (assuming this is what you want?) and are located in the RESTART directories. For MOM6 and FV3 the final restarts are

[2022-07-18 15:56] ShastriPaturi commented on #298
Also, none of the MW SSTs are superobed.

[2022-07-18 15:59] guillaumevernieres commented on #337
Sounds good @DeniseWorthen , we'll use the restarts for now. I'll let you know when/if we revisit that strategy and decide to save a subset of the model variables instead, it's pretty far down the priority list but I suspect saving history has less overhead than dumping restarts on the fly ... To be revisited but good enough for now! Thanks again.

[2022-07-18 16:03] guillaumevernieres commented on #298
OK, that's what I thought, thanks for the clarification @ShastriPaturi . Did you mean something else by `superobs` @mjhossen ?

[2022-07-18 17:52] mjhossen commented on #298
No. I just use the previous script. Not superobing as @ShastriPaturi mentioned. Please see the corrected figures.

[2022-07-19 13:11] guillaumevernieres commented on #325
Should we delete this issue @ShastriPaturi ?

[2022-07-19 13:12] guillaumevernieres commented on #353
Is this done @ShastriPaturi and @mjhossen ?

[2022-07-19 13:15] ShastriPaturi commented on #353
@guillaumevernieres It is done for 2019. 2020 dataset is empty. Need to be downloaded again. Will mark it complete once I have done that.

[2022-07-19 13:20] guillaumevernieres commented on #337
I don't have the permission to link the `ufs-weather-model` to zenhub, so bumping the estimate to reflect the actual work that was dedicated to this issue. I also added @DeniseWorthen as an assignee since she has been doing most of the heavy lifting to resolve this issue.

[2022-07-19 13:44] ShastriPaturi commented on #325
Yes @guillaumevernieres

[2022-07-19 13:56] #325 closed, assigned to ShastriPaturi

[2022-07-19 15:06] ShastriPaturi commented on #353
Done and closing.

[2022-07-19 15:06] #353 closed, assigned to ShastriPaturi, mjhossen

[2022-07-20 15:43] guillaumevernieres commented on #337
@hyunchul386 and @DeniseWorthen :
@liuxiao37k looked at the issue of writing out split restarts with MOM6 and discovered that it is unfortunately hard-wired in MOM6 .... So let's give up on this problem, this isn't critical and we will test the scripting that gathers variables from multiple files in a different way.

[2022-07-20 16:46] guillaumevernieres opened #354 "MOM6 DA history collection"
## Description
As an alternative to dumping intermittent MOM6 restarts, add a DA history collection to the `diag_table` that would include hourly snapshots of:
[code]

## Deliverable
- A diag_table that will dump the above collection of variables in a file prefixed  `ocn_da`
- multiple option for the vertical coordinate:
   - save on the evolving layers
   - define a vertical coordinate and use th

[2022-07-20 21:01] liuxiao37k commented on #298
@Jakir Hossen-NOAA affiliate Hi Jakir, I am setting up a new BGC expt with the "default" phys obs, so I took the liberty to explore your OSEs directories (/work/noaa/marine/jhossen/marine_DA_dev/OSEs/) to get the information on what obs we are using by “default”. However, I am confused about how these OSEs are set up - so please help me. It looks like, to “passivate/activate” a SSS retrieval, you

[2022-07-20 22:08] mjhossen commented on #298
@liuxiao37k Thanks. Yes, we can talk about what I did.

[2022-07-20 23:51] guillaumevernieres commented on #298
@liuxiao37k . Not pretty but that's what we have been doing to "passivate" obs:
[code]

[2022-07-21 00:08] guillaumevernieres commented on #298
Here's the OSE issue as a ref. again @mjhossen  : https://github.com/noaa-emc/godas/issues/298

There was a reason why @ShastriPaturi and myself asked you to make sure your filters were correct by plotting the output, or like @liuxiao37k suggested, by just looking at the log ...

I'll be more descriptive in the future as to what deliverable is expected, I thought it made sense to check the configu

[2022-07-21 00:45] liuxiao37k commented on #298
a quick plot of the "361961 passed out of 492241 observations (effectiveQC0==0)" using the example above /work/noaa/marine/jhossen/marine_DA_dev/OSEs/expt4_both/sss_smap_jpl.20190808.nc

<img width="468" alt="image" src="https://user-images.githubusercontent.com/2281138/180106049-df8d0656-8345-401f-896b-825cd64b7f76.png">

[2022-07-21 00:53] guillaumevernieres commented on #298
**Experiment 4:** All Obs, keeping MW SSS and SST retrievals passive ... So this isn't right @mjhossen . Thanks for checking @liuxiao37k .

[2022-07-21 01:27] mjhossen commented on #298
Thanks @guillaumevernieres and @liuxiao37k! I will correct them.

[2022-07-21 01:41] mjhossen commented on #298
Thank you @guillaumevernieres for clear direction. It makes more sense!

[2022-07-21 01:46] liuxiao37k commented on #298
I don't have a better idea of passivating obs, but to me it is probably more intuitive to use the action key with `BlackList` and `minvalue` (at least this is what @guillaumevernieres did when he invented[ the key](https://github.com/JCSDA-internal/ufo/blob/4f2b49bdcd08ca2ec4093c00078807af5c0a9419/test/testinput/qc_actions.yaml#L159)... )
I think it produces the same results ...
[code]
Before this

[2022-07-21 04:14] mjhossen commented on #298
## Expt 4:
MW SST<gmi,amsr2> and SSS<smos, smap> are passivated using the filter
[code]

![Screen Shot 2022-07-20 at 10 09 49 PM](https://user-images.githubusercontent.com/65732322/180128500-4dd5b7b3-8b81-4728-bba3-ba50190e3b4e.png)
![Screen Shot 2022-07-20 at 10 10 05 PM](https://user-images.githubusercontent.com/65732322/180128504-0aa63ff0-f438-44bf-8f6a-1e2bf9a3f1c4.png)

[2022-07-21 04:16] mjhossen commented on #298
## Expt 1:
All obs including MW SSS and SST are assimilated

Figures: MW SSS <smos, smap> and SST<gmi, amsr2>

![Screen Shot 2022-07-20 at 10 08 55 PM](https://user-images.githubusercontent.com/65732322/180128803-1afa138c-f696-4ae7-8d2f-21316951abfd.png)
![Screen Shot 2022-07-20 at 10 09 10 PM](https://user-images.githubusercontent.com/65732322/180128812-2c639213-d323-4ec2-a33e-f9f62aae0eae.png)

[2022-07-21 12:51] ShastriPaturi commented on #298
These now make sense @mjhossen.

[2022-07-21 13:07] guillaumevernieres commented on #298
No, it does not.
We've had these discussions a few times already @mjhossen , it looks like you removed the filter that makes the sss obs passive when sst<10C  ... why? The only thing you were supposed to do is add or remove that filter from the yaml file:

[code]

@guillaumevernieres I meant in terms of the plots for making SSS and SST passive.

[2022-07-21 13:13] guillaumevernieres commented on #354
@hyunchul386 , happy to discuss this issue when you have time.

[2022-07-21 13:26] mjhossen commented on #298
@guillaumevernieres It means that you want me to keep the SSS passivate filter with SST < 10 C in both experiments. Does it mean that in expt 1, we want to assimilate MW SSS but not the locations where SST < 10 C, i.e we want to avoid polar regions?

[2022-07-21 13:29] liuxiao37k commented on #298
@guillaumevernieres @mjhossen I believe you two are on the same page. @mjhossen created a new directory for expt4, and did what @guillaumevernieres suggested:
[code]
I did a quick plot, and checked the log. expt1 and 4 look good to me now. @mjhossen FYI - besides ombg, one convenient quick check is to take a look at `effectiveQC0`. you can do a quick unique() check to see what QCflag has been appl

[2022-07-21 13:30] ShastriPaturi commented on #298
@mjhossen, yes. We had discussed this and that the 10C is a value from previous studies and we had discussed to adjust this value based on the results from the experiments during our call on Monday/Tuesday.

[2022-07-21 13:41] ShastriPaturi commented on #298
@liuxiao37k thanks for checking. However, the filter that removes SSS obs where the sea_surface_temperature@GeoVaLs minvalue=10.0 is missing.

[2022-07-21 13:47] liuxiao37k commented on #298
I see. ~~I think with or without that filter should work the same way for the purpose of these two experiments (all obs passivated)~~, but I see the point.

BTW, it was never there in its default version (do we want to add it?): https://github.com/NOAA-EMC/godas/blob/develop/soca/obs/sss_smap_jpl.yaml

[2022-07-21 13:55] ShastriPaturi commented on #298
Yes these need to be added based on this :"the 10C is a value from previous studies". The obs yamls need to be updated. You may notice that sss_smos_esa.yaml is missing.

[2022-07-21 14:10] mjhossen commented on #298
Added to MW SSS in EXP1 (folder: /work/noaa/marine/jhossen/marine_DA_dev/OSEs/expt1_nps_10c):
[code]
Figures: MW SSS <smos, smap>
![Screen Shot 2022-07-21 at 8 09 19 AM](https://user-images.githubusercontent.com/65732322/180234441-b619b341-6e9c-4d66-be66-633ce7e8a110.png)
[code]

[2022-07-21 15:16] liuxiao37k opened #355 "Passivate <10C in sss_smap_jpl.yaml"
The following filter to passivate high-lat sss obs is not present in sss_smap_jpl.yaml.

Please ignore and close the issue if this is intended.

[code]

[2022-07-21 15:37] ShastriPaturi commented on #355
@liuxiao37k that filter needs to be added, Also, the sss_smos_esa.yaml needs to be added to the repo.
The filter was supposed to be tested. Since it is now, I will create a PR.

[2022-07-21 15:39] guillaumevernieres commented on #355
~No, it is not intended and is definitely a "science" bug ... Can you push a fix / submit a pr @liuxiao37k ?~
... never mind ... got beaten by @ShastriPaturi by 22sec ...

[2022-07-21 15:43] liuxiao37k commented on #355
Thank you @ShastriPaturi!

[2022-07-21 16:01] ShastriPaturi opened #357 "Add sss_smos_esa.yaml file"
The yaml file for SMOS ESA L2 SSS data is missing.

[2022-07-21 18:34] hyunchul386 commented on #354
@guillaumevernieres Following is a collection in diag_table for the history of ODA.
This diag_table gave six sets of one hourly snap shop in each files.
for example,  ocn_2021_03_22_13.nc have the one hourly snap shots
from 2021-03-22 13Z to 2021-03-22 18Z.

######################
"ocn%4yr%2mo%2dy%2hr",      0,  "hours", 1, "hours", "time", 6, "hours", "1901 1 1 0 0 0"
############################

[2022-07-21 18:41] ShastriPaturi commented on #354
@hyunchul386 you could add:
 "ocean_model_z","umo","umo" (for transport)
 "ocean_model_z","vmo","vmo"
"ocean_model","MLD_003" , "MLD_003"

and other variables.

[2022-07-21 19:00] guillaumevernieres commented on #354
We're building a collection for DA, not diagnostic @ShastriPaturi . But we do need an mld estimate.

[2022-07-21 19:04] hyunchul386 commented on #354
The diag_table includes MLD, based on density. Do we need both MLD's?

[2022-07-21 19:07] guillaumevernieres commented on #354
Thanks @hyunchul386 .
A few comments:
- We need to call the history collection `ocn_da` ... or something.
- Dumb question: is there an option to only save 1 snapshot per file and have multiple files? instead of having a Time dimension>1 in the file?
- We need to keep our options open for the vertical coordinate:
   - save on the evolving layers
   - define a vertical coordinate and use that to sav

[2022-07-21 19:20] ShastriPaturi commented on #354
For CICE6 variables:
#"ice_model","siconc",   "sic", "sicm%4yr_%3dy_%2hr","all","mean","none",2
#"ice_model","sithick",  "sih", "sicm%4yr_%3dy_%2hr","all","mean","none",2

"sicm%4yr_%3dy_%2hr", 1,"days",  1, "days","Time", 1,"days" for daily.

[2022-07-21 19:31] hyunchul386 commented on #354
@ShastriPaturi, I will take a look at "siconc" and "sithick", and what is the variable for "hsnon"?

[2022-07-21 19:35] ShastriPaturi commented on #354
Good question. I will need to look.

[2022-07-21 21:06] guillaumevernieres commented on #354
@hyunchul386 & @ShastriPaturi , I'm not too interested in cice for now, sorting out the issues in my comment above would be more useful.

[2022-07-22 03:07] liuxiao37k commented on #298
@ShastriPaturi @mjhossen
Sorry for keeping bringing up questions here, but I am running a BGC experiment based on OSE expt1 (i.e., ostia included, IR not included), but noticed that ostia obs stops at 03/31/2019 in the r2d2 db these OSEs are using (R2D2_DB_DIR=/work2/noaa/ng-godas/r2d2/).
No sst_ostia obs files are present beyond 04/01 for Year 2019. e.g.,
[code]
you can see, no sst_ostia obs_out

[2022-07-22 12:42] ShastriPaturi commented on #298
@liuxiao37k Thanks for identifying.
I am on vacation today. However, I moved to /work2/noaa/ng-godas/r2d2 superobed ostia data from 2019-2021.

[2022-07-22 12:48] liuxiao37k commented on #298
@ShastriPaturi Much appreciated, so that I can now continue my run beyond 04/01/2019. Enjoy the day off!

[2022-07-22 13:35] mjhossen commented on #298
@liuxiao37k Thank you for noticing sst_ostia is missing after certain date.

[2022-07-22 15:18] liuxiao37k commented on #302
To summarize the immediate next steps per the discussion on July 22:
1. Generate an ensemble of 10-20 members using a version of the coupled UFS model w/ BGC at 0.25deg:
(i) Generate initial ocean perturbations using soca-science (default yaml parameters to start with);
(ii) Initialize the coupled UFS model independently (i.e., 1 job card for each run) from each perturbed member; @guillaumevernier

[2022-07-22 17:03] guillaumevernieres commented on #302
@liuxiao37k , wrt point 1-ii : the spread of the atm will saturate pretty quickly, so I wouldn't worry about perturbing the initial conditions

I sent you a pm too @liuxiao37k , but posting here for posterity as well :) ... Alternatively to 1, we could generate an ensemble of perturbations from forecast lag differences, similar to the NMC method. Happy to chat about this. It would be quite a bit l

[2022-07-22 18:20] mjhossen commented on #298
I found some adt obs are blacklisted/passivated (for expt 4 and expt 1), shown in the log file:
[code]

[2022-07-22 18:36] liuxiao37k commented on #302
Strategy change for (1):
(i) Generate a reasonable ocean reanalysis w/ bgc at 0.25deg using DATM, at least a year long.
(ii) As the reanalysis is running, branch off and initialize sequentially an ensemble of coupled hindcasts w/ bgc using simple time-lag techniques on Day 1, 8, 15, 22 of each month (DF=48, double the frequency or extend into Year 2 if needed; halve the frequency and blame G if be

[2022-07-22 19:15] liuxiao37k commented on #298
coperl4 makes sense. all obs are passivated. for the rest, please refer to this [table of qcflag](https://github.com/JCSDA-internal/ufo/blob/d87e0b6077bdbf1ea67e618c85d67becadbb6b1d/src/ufo/filters/QCflags.h).

[2022-07-25 11:43] guillaumevernieres opened #359 "Change group ownership of R2D2 DB to da"
Change the ownership of the R2D2 Orion DB,
[code]
from `ng-godas` to `da`.

[2022-07-25 13:39] mjhossen commented on #298
Icepack problem (expt4_sst_sss/logs/2019091412/run.fcst):
[code]

[2022-07-25 13:42] ShastriPaturi commented on #359
@guillaumevernieres the /work2/noaa/ng-godas/r2d2 is in ng-godas and the ownership has already been changed to da.
(base) Orion-login-1[218] spaturi$ ls -ltrh ng-godas/
total 20K
drwxr-sr-x 3 spaturi da       4.0K May  5 14:20 r2d2

[2022-07-25 14:15] guillaumevernieres commented on #359
arg ... must have been looking at the wrong fs. Thanks for checking @ShastriPaturi .

[2022-07-25 14:19] #359 closed, assigned to ShastriPaturi

[2022-07-25 14:22] guillaumevernieres opened #360 "Change group ownership from `ng-godas` to `da`"
Pinging @kestonsmith-noaa since there might be other permission issues.

Group ownership of  `/work/noaa/ng-godas/marineda/DATM_INPUT/` needs to be changed recursively from `ng-godas` to `da`.

[2022-07-25 14:28] #355 closed, assigned to nobody

[2022-07-25 14:28] #357 closed, assigned to ShastriPaturi

[2022-07-25 15:12] hyunchul386 commented on #354
The ocean_da history files by
/work/noaa/stmp/hlee/stmp/hlee/FV3_RT/cpld_c48/cpld_control_c48/diag_table_ocn_da :
- the history collections are ocn_da_yyy_mm_dd_hh.nc
- the history files are snap shots at each time
- the 3-D variables (T,S,U,V) are saving in the layers (h) which is evolving with time
- the evolving layers of "h" is saving in the file
- the initial conditioned are saved in 3-hourly

[2022-07-25 16:45] guillaumevernieres commented on #354
Thanks @hyunchul386 . A few questions/requests:
- couldn't we just append the new collection to the existing diag_table while still dumping the ocean da variables in a separate file? (thinking longer term when we will want to have that collection in the RT)
- what does `mean` means here: ``temp:cell_methods` = "area:mean zl:mean yh:mean xh:mean time: point" ;`
- it looks like we can name the varia

[2022-07-25 17:42] ShastriPaturi commented on #360
@guillaumevernieres, I do not have permission. The owners are:
ycteng and hlee

drwsrwsr-x  8 ycteng  ng-godas 16K Apr  4 13:37 DATM_INPUT

ls -ltrh DATM_INPUT

drwxrwsr-x  86 ycteng ng-godas 428K Mar 19  2021 org
drwxrwsr-x   4 ycteng da        16K Oct 30  2021 corr_factor
drwxrwsr-x 242 ycteng da        16K Jan 10  2022 GEFS
drwxr-s---  22 hlee   ng-godas 4.0K Apr  7 09:54 GEFS_new
drwxr-s---  1

[2022-07-25 17:59] guillaumevernieres commented on #360
@awest-noaa , could you take care of this? The files belong to @clouden90 (YC), we would need the ownership to be transferred to @ShastriPaturi .

[2022-07-25 18:02] hyunchul386 commented on #360
JFY, I tried to change the group of DATA_INPUT to da, but the operation not
permitted for me.

On Mon, Jul 25, 2022 at 1:59 PM Guillaume Vernieres <
***@***.***> wrote:

[2022-07-25 20:15] ShastriPaturi opened #361 "Add DistancefromCoast filter to icec_ssmis*yaml"
distancefromCoast filter is missing from icec_ssmis_f<17,18>_<north,south>.yaml

[2022-07-25 20:38] mjhossen commented on #298
I solve the icepack problem by adding a distance_from_coast filter
[code]
to the **"icec_ssmis_<f17, f18>_<north, south>.yaml"** files

[2022-07-25 20:58] hyunchul386 commented on #354
- the update table (/work/noaa/stmp/hlee/stmp/hlee/FV3_RT/cpld_c48/cpld_control_c48/diag_table) is appended the ocn_da to the existing one
- "mean" in cell methods means the method to get the variable at the cell, e.g. ``temp:cell_methods = "area:mean zl:mean yh:mean xh:mean time: point" ==> temp has been obtained by the average (mean) of xh,yh,zl (so volume averages for the cell) at he time point

[2022-07-26 14:50] #348 closed, assigned to liuxiao37k, ShastriPaturi

[2022-07-26 15:18] DeniseWorthen commented on #337
The PR to add the C48-5deg ocean/ice case has been merged.

[2022-07-26 15:31] #337 closed, assigned to hyunchul386, DeniseWorthen, kestonsmith-noaa

[2022-07-26 15:40] #361 closed, assigned to ShastriPaturi

[2022-07-26 16:47] #342 closed, assigned to guillaumevernieres

[2022-07-26 17:05] guillaumevernieres commented on #360
@kestonsmith-noaa will be added to `ng-godas` ... somehow.

[2022-07-26 17:05] #360 closed, assigned to ShastriPaturi

[2022-07-26 18:48] guillaumevernieres commented on #354
@hyunchul386 it all sounds good.
Please double check, but it seems that `(u,v)` are saved on the native grid, but are marked as "mean" because they have been rotated (meridional/zonal as opposed to following the logical grid). Can you confirm?

[2022-07-27 13:59] guillaumevernieres commented on #354
@hyunchul386 , I generated the diag files for the period specified in the description using your diag_table. I was also able to read them with `soca` after modifying the layer thickness field.

[2022-07-28 15:09] liuxiao37k commented on #302
@guillaumevernieres Some "progress":
1. I was wrong about those soca `parameters_bump_cov_*.ymls` being maintained/updated. No, they are not, and outdated.
2. I updated the ymls using saber ctest ymls as templates, and was able to run.
3. I am still using the regular instead of small grid at this point since small is not that small, and small grid ensemble files are not being generated by prior ct

[2022-07-28 15:37] guillaumevernieres commented on #302
@liuxiao37k :

1. Not surprised, that test has been commented out for a long while.
3. We'll have to add a "ctest" that interpolates the ensemble members to the coarser grid or just simply generate new members at the needed resolution
4. yes, rh/rv should be spatially varying, `stddev` seems fine
5. We can compare to what we had in these yamls when Orion comes back to life.

I'll arrange a meeting

[2022-07-28 15:57] guillaumevernieres commented on #302
As a ref, this is where we left of that work a while back: [bump yaml](https://github.com/JCSDA-internal/soca-science/blob/feature/bump3d-gv/configs/soca/static-b_var-hdiag.yaml.sh)

[2022-07-29 15:08] hyunchul386 commented on #354
@guillaumevernieres I am checking the native grid representation and will update it

[2022-07-29 15:42] hyunchul386 commented on #354
@guillaumevernieres, in my view,
- the (u,v) fields are only converted in the units from L_T-2 ~> m s-1 at c-grid of (U,V) points, which are the native grids.
- the "mean" is the finite-volume representation of (u,v) in MOM6, in which "zonal" and "meridional" is referring the native grid, not the real East and North.
- it seems that there is no the rotational process from the native grid to the Ca

[2022-07-30 00:03] mjhossen commented on #298
Please see the report as slide of this work:
https://docs.google.com/presentation/d/1flMpOQcItisGs5S6QNgrlM6FSbWpBAgiyDBF6azpWao/edit#slide=id.p

[2022-07-30 02:51] liuxiao37k commented on #298
Would you mind giving me access? Looking forward to seeing the results! thank you!

[2022-07-30 12:58] guillaumevernieres commented on #298
Thanks for sharing the figures @mjhossen, however, it's missing most of the critical figures (bare one) ... Here's my advice:
1 - Limit your work to **Exp 4** for now, this will make it a lot easier to interpret the results.
2 - We care about the stats for insitu obs. There's only 1 figure in your google doc for salinity profiles. We need to see the stats for the other insitu obs spaces.

[2022-08-02 20:15] hyunchul386 commented on #354
- create feature/ocn_da_diag_table to add the diag_table as ~/parm/soca/mom6/diag_table

[2022-08-02 20:36] guillaumevernieres commented on #354
Sounds good @hyunchul386 . Create a pull request when ready.

[2022-08-03 15:34] hyunchul386 commented on #354
@guillaumevernieres There was the confirmation from Jiande, modeling group that the diag_table provide fields at the MOM6 native grid without rotational process.
A PR was created.

[2022-08-03 20:47] #354 closed, assigned to hyunchul386

[2022-08-04 21:31] guillaumevernieres commented on #321
Note to self: ioda-converters branch is `feature/query_cxx`

[2022-08-22 16:33] mjhossen commented on #298
Here is the plot of the absolute value of the difference between insitu (within 10 m depth, salt_profile) and remote (sss_smos) obs value. The obs value is the mean over the year from 1st Jan 2019 to 30th Dec, 2019 (calculated by ioda-plot).
![Screen Shot 2022-08-22 at 12 25 01 PM](https://user-images.githubusercontent.com/65732322/185972255-c4fc28e5-0d21-4898-a03f-9443ccf1eae5.png)

[2022-08-22 16:34] mjhossen commented on #298
Next, I will calculate mean absolute error by reading each date files (both insitu and remote obs).

[2022-08-22 17:23] guillaumevernieres commented on #298
Thanks @mjhossen .
Could you change the color scale to [0, 0.5] ? ... anything larger than 0.2 psu is going to be quite useless. What about the std dev?

[2022-08-22 17:24] guillaumevernieres commented on #298
@mjhossen Before you do anything else, you might want to stop for a bit and try to think why these differences are so large ...

[2022-08-22 17:43] liuxiao37k commented on #298
@mjhossen beside the diffs being too large, any chance there is a mapping/plotting issue? there are obs all over Japanese land, and is that Gulf of California invading Oregon?

[2022-08-22 17:49] mjhossen commented on #298
@liuxiao37k that is a good question? I will recheck. Here is the plot using second moment (m2 values). It looks more weird.
![Screen Shot 2022-08-22 at 1 46 33 PM](https://user-images.githubusercontent.com/65732322/185986171-1d664827-16d9-463b-b826-8a4ab3757fd3.png)

[2022-08-22 17:58] liuxiao37k commented on #298
@mjhossen ~~My gut feeling is that your NaNs have some values (zeros? -999?) so that your differences are some large values instead of NaNs. Note those dark red spots in the middle of the ocean? I suspect those are islands that should be NaNs. Also everywhere there should be NaNs (coasts, poles, islands, etc.) are dark red. My 2 cents.~~
Never mind. I don't think I can really make a guess.

[2022-08-22 18:56] guillaumevernieres commented on #298
We're using 2 deg bins @liuxiao37k , that's probably why.
Could you plot the standard deviation instead of the variance @mjhossen ?

[2022-08-22 20:01] mjhossen commented on #298
Yes, please see the plot of the standard_deviation.
![Screen Shot 2022-08-22 at 3 58 30 PM](https://user-images.githubusercontent.com/65732322/186008087-e7a5c0d2-4277-48cb-b749-b67999fcd184.png)

[2022-08-22 21:20] guillaumevernieres commented on #298
@mjhossen , so the plots above are the mean and std dev of `sss_error=|binned insitu S - binned SSS|`, where you have computed `sss_error` for every 24 hour cycle?

[2022-08-23 13:06] guillaumevernieres opened #367 "1/4 deg 41 level MOM6 configuration"
@ShastriPaturi , can you point us to that configuration?

[2022-08-23 13:19] ShastriPaturi commented on #298
@mjhossen the SSS data used in the plots are SMOS+SMAP, right?
Can you do the plots with SMOS and SMAP separately?
Are the insitu salinity and SSS values co-located?

[2022-08-23 16:27] mjhossen commented on #298
Here is plot of MAE over cycles. The plot looks good. I will look into more.  Max value is  2.7643 which is large.
![Screen Shot 2022-08-23 at 12 25 08 PM](https://user-images.githubusercontent.com/65732322/186211628-f1105b99-a9e6-4826-a0a1-c265b0d105ad.png)

[2022-08-23 16:45] guillaumevernieres commented on #298
@mjhossen , nope, that plot does not make sense. You've set the error to 0 when it should have been "undef".

[2022-08-23 17:38] mjhossen commented on #298
Here is plot only for smos. I will do smap.

[2022-08-23 18:51] guillaumevernieres commented on #302
@liuxiao37k , could you point me to one of your coupled forecasts that failed?

[2022-08-23 20:04] mjhossen commented on #298
Here is the plot of MAE over cycles (latest)
![Screen Shot 2022-08-23 at 3 59 31 PM](https://user-images.githubusercontent.com/65732322/186254802-ed962115-d69c-452e-aa57-487b5a5cc127.png)
![Screen Shot 2022-08-23 at 4 03 04 PM](https://user-images.githubusercontent.com/65732322/186255113-3f1c924d-9c00-427d-b701-ed7591869323.png)

[2022-08-23 20:10] ShastriPaturi commented on #298
Can you make the color scales the same for the two plots? Say: 0.0 to 0.2 psu?

[2022-08-23 20:12] guillaumevernieres commented on #298
Your analysis is wrong @mjhossen ... I made the comment above a few hours ago ... Please read! It doesn't strike you as suspicious to have an error of 0 in most places?

[2022-08-24 13:40] guillaumevernieres commented on #333
Mostly done. We're not going to directly use the DART utilities, instead, some of the features will be adapted to our need within the existing code.

[2022-08-24 13:40] #333 closed, assigned to guillaumevernieres

[2022-08-24 13:57] guillaumevernieres opened #368 "Ana to model change of var in existing python utility"
## Description
As a first step towards #306 , implement/develop the required science/engineering for the the change of variable within `soca_seaice.py`
Add the following features:
- Allow for increments that result in 0 sea-ice fraction when the background fraction is not 0
- Allow for increments that result in non-zero fraction when the background fraction is 0

[2022-08-24 14:48] mjhossen commented on #298
Binning with 10m depth (applicable for insitu). Here is the plot after co-locating insitu and remote sensing observations:
![Screen Shot 2022-08-24 at 10 46 09 AM](https://user-images.githubusercontent.com/65732322/186449630-7bf2ccf2-ae2b-4d5b-81d0-4062a52016c6.png)

[2022-08-24 15:28] liuxiao37k commented on #298
@ShastriPaturi @mjhossen do we have an idea about the expected magnitude of obs error for these MW SSS? Out of curiosity I took a quick look at the obs_out files, and plotted out the histogram distributions of obs error values (below). It strikes me how large the errors are... are they supposed to be that bad? but maybe I just plotted it wrong. thanks!

<img width="468" alt="image" src="https://us

[2022-08-24 15:34] guillaumevernieres commented on #298
@liuxiao37k , nope, your plots are probably correct. SSS retrievals are bad in the high latitude.

[2022-08-24 15:48] mjhossen commented on #298
It seems obs_error is consistent with my mae. I got higher mae for smos than smap.

[2022-08-24 15:51] liuxiao37k commented on #302
Yes, give me a few hours this afternoon. Earlier I noticed a version difference between the DATM and coupled executables. I am not sure if that contributed to ice crash typically a few days into the coupled forecasts. I rebuilt the coupled version just to be consistent. I plan to re-test this afternoon and will send you both paths if problem still exists.
One of the old coupled forecasts that fail

[2022-08-24 16:01] mjhossen commented on #298
Salinity obs: MAE of remote sensing and Insitu obs (binning with 5 m water depth). There is no significant difference. Here I use the same scale [0, 1]. All are red if use [0, .2]
![Screen Shot 2022-08-24 at 11 58 27 AM](https://user-images.githubusercontent.com/65732322/186466257-4f50cc32-cffb-4ec6-8833-d0d7607d039b.png)

[2022-08-24 16:37] ShastriPaturi commented on #298
Adding to @guillaume, the smos errors are typically much larger than smap.

Sent from my iPhone

[2022-08-24 17:29] mjhossen commented on #298
Here is the obs error plot (20190101)
![Screen Shot 2022-08-24 at 1 28 29 PM](https://user-images.githubusercontent.com/65732322/186484756-d3ddcdbf-9e99-459d-995e-ecaaf44bef18.png)

[2022-08-25 19:02] mjhossen commented on #298
ObsError Plot (temperature):
![ObsError_temp](https://user-images.githubusercontent.com/65732322/186747165-c256526c-6c53-49f6-94f5-5bc59b9e8966.png)

[2022-08-25 19:03] mjhossen commented on #298
Temperature: MAE of remote sensing and insitu obs (binning with 5 m depth)
![MAE_temp](https://user-images.githubusercontent.com/65732322/186747454-2772aa7d-834b-4bfe-8dd4-609da63ffcba.png)

[2022-08-26 14:05] liuxiao37k commented on #298
It is interesting that smos sensor has much larger error along the edge of the scans even at low latitudes. I wonder if it is due to the angle of the downward mirror (e.g. more sunglint and other contamination if you look at the ocean surface from the side with an angle instead of straight down)?

[2022-08-26 14:14] guillaumevernieres commented on #298
@liuxiao37k It looks like smap has the opposite behavior, larger error in the middle of the swath ...
@mjhossen , the smos plot might indicate that we are missing 1/2 of the obs again? Can you plot 48 hours of obs by any chance?

[2022-08-26 14:26] liuxiao37k commented on #298
Mirrors of the two sensors apparently look very different, but I no longer have any clue any more how that may explain the error behaviors. Never mind! Sorry.

![](https://www.salinity-pimep.org/images/overview-fig1.png)

[2022-08-28 17:21] YongzuoLi-NOAA opened #371 "convert RTOFS obs binary to IODA v2"
This issue is linked to [PR #370 ](https://github.com/NOAA-EMC/godas/pull/370)

[2022-08-28 17:28] YongzuoLi-NOAA commented on #371
(1) Should converted IODA v2 be global ?
(2) Is IODA v2 data for 24-h time window centered at 12Z ?

[2022-08-29 12:50] guillaumevernieres commented on #368
Some work/development/testing was done, but we really need to make use of icepack to move forward, which isn't going to happen from python (I have zero interest in building the icepack python bindings).

[2022-08-29 12:50] #368 closed, assigned to guillaumevernieres

[2022-08-29 13:45] mjhossen commented on #298
As suggested, I apply a filter that rejects the observation whose obs_error is higher than the value <.2, .4, .6, .8> :
[code]
For SSS (smap and smos):
- obs_error higher than .2 (all obs are rejected)
- obs_error higher than .4 (all obs are rejected)
- obs_error higher than .6
![SSS_gt 6](https://user-images.githubusercontent.com/65732322/187214423-badc8370-e589-4431-8506-836ab5f03189.png)
- obs_

[2022-08-29 14:08] mjhossen commented on #298
SMOS 48 hours of obs plot.
![Screen Shot 2022-08-29 at 10 06 48 AM](https://user-images.githubusercontent.com/65732322/187220594-9ee931cc-0df9-49dc-b91f-196807a8b360.png)

[2022-08-29 14:17] liuxiao37k commented on #298
So we indeed missed about half of the obs? It looks like both ascending and descending passes should be available.
https://coastwatch.noaa.gov/cw/satellite-data-products/sea-surface-salinity/miras-smos.html

[2022-08-29 15:15] guillaumevernieres commented on #298
Yes @liuxiao37k , a recurring problem unfortunately ... @ShastriPaturi , could you keep track of the obs that are missing orbits in a dedicated issue?

[2022-08-29 15:36] ShastriPaturi commented on #298
@guillaumevernieres, I am looking into it.
I am going to make the scatter plots of the raw and ioda-converted plots as well for ObsValue & ObsError.

[2022-08-29 16:51] ShastriPaturi commented on #298
@liuxiao37k, The SMOS data you have linked to above, is L3 product from STAR/NESDIS which is daily/3-day composite. The ones we are using are the L2 from European Space Agency (ESA) which is most often not complete and is the NRT (Near Real Time) data. These data are also being used operationally by RTOFS-v2 and are the ones that are stored in the NCEP data tank.

[2022-08-29 17:08] liuxiao37k commented on #298
@ShastriPaturi thanks! yes, I was just browsing some random images available online to see if the original orbits were complete. I didn't look into the linked products.

[2022-08-29 18:07] mjhossen commented on #298
After applying obs_error filter (higher than .5), the followings (MW) obs are used in the assimilation. Not shown which are rejected by filter
![Screen Shot 2022-08-29 at 2 03 59 PM](https://user-images.githubusercontent.com/65732322/187268725-ca2b3f32-9ac7-48f4-8e11-ab4911571a14.png)

[2022-08-29 18:42] guillaumevernieres commented on #298
Thanks @mjhossen , looks good to me.

[2022-08-29 18:42] ShastriPaturi commented on #298
@mjhossen did you assimilate these?

[2022-08-29 18:42] guillaumevernieres opened #372 "Missing ascending or descending orbits for SMOS, AMSR2 and GMI"
After applying obs_error filter (higher than .5), the followings (MW) obs are used in the assimilation. Not shown which are rejected by filter
![Screen Shot 2022-08-29 at 2 03 59 PM](https://user-images.githubusercontent.com/65732322/187268725-ca2b3f32-9ac7-48f4-8e11-ab4911571a14.png)

_Originally posted by @mjhossen in https://github.com/NOAA-EMC/godas/issues/298#issuecomment-1230676206_

[2022-08-29 18:44] guillaumevernieres commented on #372
Something to remember to look into @ShastriPaturi . Not high priority.

[2022-08-29 18:47] ShastriPaturi commented on #298
Also, I noticed a bug in my SMOS download script. It was only saving "descending" passes and deleting the ascending passes.
I am redownloading but these data are now reprocessed  (REPR) and not operational products (OPER).

[2022-08-29 19:13] liuxiao37k commented on #298
Banks et al.: "ESA Level 2 SSS data are known to have significant spatially and temporally varying biases between measurements from ascending passes (SSSA) and measurements from descending passes (SSSD)."
https://www.sciencedirect.com/science/article/pii/S0034425716300633
Perhaps not a wrong thing to only keep SSSA or SSSD without bias corrections? :slightly_smiling_face:

[2022-08-29 19:31] ShastriPaturi commented on #298
We will have to do similar plots with the ascending as well.

Sent from my iPhone

[2022-08-29 19:39] mjhossen commented on #298
Yes, I have run the experiment 1 with those observations i.e applying the filter. Thank you, @guillaumevernieres  and @ShastriPaturi .

[2022-08-29 19:49] guillaumevernieres commented on #298
A bit old but somewhat relevant:
https://agupubs.onlinelibrary.wiley.com/doi/full/10.1002/2014JC010006
We did split by orbits and beams.

Is the run done already @mjhossen ? Or did you mean you started it?

[2022-08-29 19:55] mjhossen commented on #298
I have just started. I might take 24 hours. Thanks @guillaumevernieres for sharing the paper.

[2022-08-29 21:06] ShastriPaturi commented on #298
Nice work @mjhossen.

[2022-08-31 19:22] liuxiao37k commented on #302
@guillaumevernieres I don't think I know enough about b-matrix to interpret these results, so I am asking for your help:
Please see figure attached blow. This is for `Temp`.
1) this was generated by using a 9-mem ensemble of coupled forecasts, initialized on 1/16/2019, 1/31/2019, ... 05/16/2019 every 15 days, with a 10-day lead time. i.e. the ensemble input is composed of 9 `MOM.res.nc` files for

[2022-08-31 19:53] guillaumevernieres commented on #302
Thanks for the figures @liuxiao37k .

1. I think 20 is fine, but I don't know if it is used when estimating length scales. We need to talk to Benjamin when he gets back from pto.
2. I don'r remember on top of my head but the vertical interpolation can be specified in the "state read" part of the yaml.  I'll dig it out and post the solution here later today.
3. units for `cor-rh` are in meters and

[2022-08-31 20:18] guillaumevernieres commented on #302
@liuxiao37k , it looks like that part of the code isn't tested anymore ... Oops.
The `yaml` snippet below for the ensemble part of your `parameters_bump_cov_new.yml` should do the trick ...
[code]

[2022-08-31 20:34] liuxiao37k commented on #302
First, pinging @ShastriPaturi here for easy follow-up.

Sorry, the ensemble part should do what trick? Vertical interpolation? @guillaumevernieres

[2022-08-31 20:52] guillaumevernieres commented on #302
@liuxiao37k , ~yes,~ all the members will be mapped to the vertical coordinate in `./INPUT_large/MOM.res.nc`

[2022-08-31 20:55] liuxiao37k commented on #302
Yay! Nice. What about subtracting global mean from `h`? Is it needed? You mentioned something about it yesterday, but I don't remember if it was related to bump training.

[2022-08-31 20:58] guillaumevernieres commented on #302
we need to remove the global area weighted mean from `ssh`. It's not in soca yet ... Lets just ignore the issue for now.

[2022-09-02 14:58] guillaumevernieres opened #373 "Towards the assimilation of L1 observations relevant to ocean color"
# Description
This Epic will build on prior biogeochemistry DA development at EMC and focus primarily on the use of the **Atmosphere Spectral Irradiance Model** (**OASIM**, Gregg and Rousseaux 2017) UFO. Depending on the maturity of the integration of **OASIM** into UFO, this task will develop the elements needed to simulate PACE observations using BLING and document the differences between simula

[2022-09-02 14:59] guillaumevernieres opened #374 "Populate R2D2 with bgc observations"
# Description
Populate the NOAA-EMC R2D2 observation database with:
-  PACE synthetic observations https://oceandata.sci.gsfc.nasa.gov/directdataaccess/Level-1C/PACE_SPEXONE/
- .. @liuxiao37k to fill in

[2022-09-02 15:00] guillaumevernieres opened #375 "Diagnostic tools: EVA for BGC"
# Description
Start making use of EVA for analyzing biogeochemistry in observation and state space.

**Current location:** [https://github.com/danholdaway/eva/](https://github.com/danholdaway/eva/)

**Documentation:** https://danholdaway.github.io/eva/#/

**HPC modules:** EVA/orion or EVA/hera

# Definition of done
Basic use of EVA with `SNPP`, `AQUA`, 'NOAA20`, `DINEOF3` ioda output example to pl

[2022-09-02 15:04] guillaumevernieres opened #376 "Use of the OASIM UFO with SOCA-UFS"
# Description
Add the necessary variables and possibly change of variable operators to the UFS (MOM6 and BLING) JEDI interface (soca) to allow for the use of the OASIM UFO.

OASIM repository: [https://github.com/JCSDA-internal/oasim/tree/feature/oasim](https://github.com/JCSDA-internal/oasim/tree/feature/oasim)

UFO draft pull request: [https://github.com/JCSDA-internal/ufo/pull/2231](https://gith

[2022-09-06 19:52] liuxiao37k commented on #373
@mjhossen thanks for helping to test existing evaluation tools for BGC. Some `obs_out` files you could use:
old runs on Orion (only one OC obs was used, snpp): /work/noaa/ng-godas/xliu/sandbox/27oct21/test_run_bgc2/obs_out/
ongoing runs on Gaea (four OC obs products were used, snpp, aqua, noaa20, dineof3): /lustre/f2/dev/ncep/Xiao.Liu/sandbox/27jun2022/PSL_scout_BGC/obs_out/

[2022-09-06 20:01] liuxiao37k commented on #375
@mjhossen thanks for helping to test existing evaluation tools for BGC. Some `obs_out` files you could use:
old runs on Orion (only one OC product was used, snpp):
[code]
ongoing runs on Gaea (four OC obs products were used, snpp, aqua, noaa20, dineof3):
[code]

[2022-09-08 15:15] guillaumevernieres commented on #375
I'm closing this issue and will create a new one more specifically targeted to adding a feature to `eva`.

[2022-09-08 15:15] #375 closed, assigned to mjhossen

[2022-09-08 15:20] guillaumevernieres opened #377 "EVA: add an x log scale option"
# Description
1 - fork `eva`
2 - work on adding an option for the type of x scale to be used in the figure
3 - submit PR into the develop branch of the original eva repository

[2022-09-08 15:38] mjhossen commented on #375
To use EVA:
[code]

[2022-09-12 14:42] guillaumevernieres commented on #298
@ShastriPaturi & @mjhossen That project has dragged on long enough. We need some closure by the end of the week so we can move on to more pressing matters!

[2022-09-12 14:43] guillaumevernieres opened #379 "Establish a new reference analysis"
# Description
Similar to what was done for the EMC studies and PSL, establish a new reference analysis (time period TBD) using the latest version of `soca` and the `UFS` (p8 and ~~cice6 c-grid~~).

## UFS:
- new config (ask @ShastriPaturi)
- **DO NOT** ~~trigger c-grid for CICE6~~ (ask @ShastriPaturi)
   - https://github.com/ufs-community/ufs-weather-model/blob/develop/tests/parm/ice_in_template#L

[2022-09-12 16:06] guillaumevernieres commented on #377
PR was merged. Thanks @mjhossen !

[2022-09-12 16:06] #377 closed, assigned to mjhossen

[2022-09-12 18:42] ShastriPaturi commented on #372
AMSR-2, Raw and in r2d2 (the day and night passes are present) Issue with date?
![image](https://user-images.githubusercontent.com/26145004/189731315-a748b88b-6ced-414c-8833-4892fa8d45c5.png)
![image](https://user-images.githubusercontent.com/26145004/189731370-69286ebb-df65-4d54-963d-81a525546a5b.png)

[2022-09-12 19:03] ShastriPaturi commented on #372
SSS SMOS L2 ESA, raw & R2D2 (ascending & descending passes download fixed)
![image](https://user-images.githubusercontent.com/26145004/189735024-643630bf-af0c-490e-9055-36a010a8cf92.png)
![image](https://user-images.githubusercontent.com/26145004/189735094-2f896968-ffdc-4bf3-b798-dba244603e45.png)

[2022-09-12 19:20] ShastriPaturi commented on #372
GMI, Raw and in r2d2 (the day and night passes are present) Issue with date?
![image](https://user-images.githubusercontent.com/26145004/189737766-0081af82-66ea-4c02-836c-8c7ab9b3034b.png)
![image](https://user-images.githubusercontent.com/26145004/189737849-c7572c81-6630-4021-bdd3-55411dffc52f.png)

[2022-09-12 19:51] mjhossen commented on #372
Update SMOS data shows both ascending and descending swath. Here is a plot of Obserror for sss_smos:
![Screen Shot 2022-09-12 at 3 48 58 PM](https://user-images.githubusercontent.com/65732322/189742997-70ace05a-bb10-4345-b5f9-ae70baf9eedc.png)

[2022-09-12 20:13] mjhossen commented on #372
However, GMI and AMSR2 (ObsError) shows something different from what @ShastriPaturi shows. I use the database as
[code]
@ShastriPaturi what do you mean by issue with date?
![Screen Shot 2022-09-12 at 3 58 45 PM](https://user-images.githubusercontent.com/65732322/189747916-80e7bad2-fc2c-4110-a078-bc9f6b8feece.png)
![Screen Shot 2022-09-12 at 4 00 03 PM](https://user-images.githubusercontent.com/65

[2022-09-12 20:28] ShastriPaturi commented on #372
@mjhossen are you plotting these from obs_out?

[2022-09-12 20:34] mjhossen commented on #372
Yes, from obs_out in EXP1 without any filter.

[2022-09-12 20:41] ShastriPaturi commented on #372
Can you plot the AMSR-2 and GMI from R2D2 as a second check?

[2022-09-12 20:43] mjhossen commented on #372
Yes. I will.

[2022-09-12 21:09] mjhossen commented on #372
I copied the file from /work2/noaa/ng-godas/r2d2/gdas_marine/ob/s2s_v1/P1D/2019-01-01/gdas_marine.s2s_v1.ob.P1D and got the same figure as @ShastriPaturi
![Screen Shot 2022-09-12 at 4 54 16 PM](https://user-images.githubusercontent.com/65732322/189757962-bdbf58ca-702a-4501-b12b-b98487b6b143.png)
But in obs_out I found the following:
![Screen Shot 2022-09-12 at 4 56 57 PM](https://user-images.githu

[2022-09-12 21:17] mjhossen commented on #372
I think the problem is Z12 in start date we use in exp_config. We should have start our exps with start date as 20190101Z00.  I do not know whether it could be a problem for SSS or other data.

[2022-09-12 21:25] guillaumevernieres commented on #372
@mjhossen , No, you should be able to start your experiment whenever. If there is a bug it is:
1 - the obs date is shifted in the file by 12 hours (12 hours of the previous day + 12 hours of the current day)
2 - something is wrong in the processing, but I doubt it since it's been working with other obs type so far, so check 1 above ... ncdump of the date of the file will tell you if 1 is the issue

[2022-09-12 21:28] mjhossen commented on #372
I got your point.

[2022-09-12 21:35] mjhossen commented on #372
Here is a snapshot:
![Screen Shot 2022-09-12 at 5 33 25 PM](https://user-images.githubusercontent.com/65732322/189762641-2d0c693e-9551-4282-852d-91b5917f490b.png)
In the data file, I see the date is around 12 hours (+- 12)

[2022-09-12 22:46] ShastriPaturi commented on #372
@mjhossen can plot a time-series of the datetime?

[2022-09-13 12:18] guillaumevernieres opened #380 "Sub-sample bufr file"
Subsample Marine insitu BUFR data for 20180415 to be added to the GDASApp obsdb.

[2022-09-13 16:20] ShastriPaturi opened #381 "Add missing/required groups/variables/values for marine obs through bufr2ioda.x"
Through the bufr2ioda.x (BUFR to IODA-v2) converter, add the missing/required groups/variables to marine IODA converter.

1. ObsError - Add a constant value
2. PreQC - Add a constant value of 0.0

Discuss with Ron Maclaren

[2022-09-13 17:25] mjhossen commented on #298
I have extracted obs_error (mean over all cycles) after binning within 10m depth.
![Screen Shot 2022-09-13 at 1 20 07 PM](https://user-images.githubusercontent.com/65732322/189967826-77942cf9-b280-40e7-8e4f-3dd44e0933a3.png)
![Screen Shot 2022-09-13 at 1 20 32 PM](https://user-images.githubusercontent.com/65732322/189967829-503667ad-7750-4ba3-be1c-8cc304b29b58.png)

[2022-09-13 17:37] guillaumevernieres commented on #298
@mjhossen , we are interested in the obs error of the sss retrieval ...

[2022-09-13 17:58] liuxiao37k commented on #298
@mjhossen I am curious to know what the actual values are for these binned obs errors (since they're all in red and beyond the color range)? thanks!

[2022-09-13 19:35] mjhossen commented on #298
MW SSS (smos) obs_error
![expt1_smos_obserr](https://user-images.githubusercontent.com/65732322/189992728-11a09487-5813-4065-a02d-334cdf5a6e57.png)
MW SSS (smap) (they are all red. There is something wrong, I will figure out the reason)
![Screen Shot 2022-09-13 at 3 33 36 PM](https://user-images.githubusercontent.com/65732322/189993209-ebc48341-de9c-4e30-b69a-5ff2512e1ab9.png)

[2022-09-13 19:47] guillaumevernieres commented on #298
@mjhossen for SMAP, can you adjust your scales to something meaningful ... The same as SMOS or whatever will show the spatial pattern of the errors.

[2022-09-14 12:56] ShastriPaturi commented on #380
The marine BUFR data for 20180415 were subsampled and the files have been provided to be added to the obsdb.
surface (daily):
ships (restricted)
shipsu (unrestricted)
surface and profile (daily):
dbuoy, dbuoyb (drifting buoy:  old and new)
mbuoy, mbuoyb (fixed/moored buoy:  old and new)
Profile (monthly):
tesac, trkob (thermosalinograph), bathy (XBT, AXBT, etc)

[2022-09-14 12:56] #380 closed, assigned to ShastriPaturi

[2022-09-14 13:26] mjhossen commented on #298
Here is the plot of obserror mean (Jan 1 to Nov 2). smos has larger error than smap. Both have smaller error in low mid latitude (around equator) and larger error in the high latitude.
![Screen Shot 2022-09-14 at 10 07 09 AM](https://user-images.githubusercontent.com/65732322/190177615-2ee5d556-4529-43ee-adba-da1a40f7e0a9.png)
![Screen Shot 2022-09-14 at 10 08 23 AM](https://user-images.githubuser

[2022-09-14 13:38] liuxiao37k commented on #298
@mjhossen looks like the previous plot [here](https://github.com/NOAA-EMC/godas/issues/298#issuecomment-1230359918) shows the obserr for SMOS is around 0.6-0.8 (20190101) in the low-mid latitudes, but much larger in the binned plot (long-term mean, 0.85 and above). Is it because January's obserr is typically low, or something else? thanks!

[2022-09-15 18:29] guillaumevernieres opened #382 "Run a canned 1/4 c384 S2S forecast"
# Description
- clone/build the global-workflow
- setup an experiment
- document the steps from build to running a test case

See documentation: https://github.com/NOAA-EMC/global-workflow/wiki/Run-Global-Workflow

[2022-09-15 18:30] JessicaMeixner-NOAA commented on #382
If you want to use already staged canned -ICs for S2S, use IC date of 2013010100 (there are others too)

[2022-09-16 15:07] guillaumevernieres opened #383 "Update obs yaml"
# Description
This PR https://github.com/JCSDA-internal/ioda/pull/776 was merged and will break our systems.

# Todo
Update the `obs yaml` files here:
- https://github.com/NOAA-EMC/godas/tree/develop/soca/obs
- https://github.com/NOAA-EMC/GDASApp/tree/develop/parm/soca/obs/config

# Tools
About the script to convert the old obs yamls:
https://github.com/JCSDA-internal/ioda/issues/713#issuecomment-

[2022-09-19 16:43] guillaumevernieres commented on #382
Tested here:
[code]
Thanks @AndrewEichmann-NOAA

[2022-09-19 16:43] #382 closed, assigned to AndrewEichmann-NOAA

[2022-09-19 16:44] guillaumevernieres opened #385 "Add low-res static files for MOM6 and CICE6"
# Description
- Identify what the `fix` files are within the global-workflow for MOM6 and CICE6 (look under ..../fix?)
- Look at the low-res regression test in the UFS to locate the low-res fix files, make a copy somewhere?
- Create an issue in the global-workflow to and ask @KateFriedman-NOAA to copy them to the appropriate place on Orion and Hera

[2022-09-19 17:09] guillaumevernieres opened #386 "Add L4 daily sea-ice concentration to R2D2"

[2022-09-19 17:09] guillaumevernieres opened #387 "Add L4 sea-ice concentration to R2D2"

[2022-09-19 18:15] ShastriPaturi commented on #379
1. Provided the ufs_config on orion.
2. The insitu FNMOC profiles with PreQC filter has been added to R2D2 (/work2/noaa/ng-godas/r2d2). Please check for few cycles (1 week) from 20190101.

[2022-09-19 21:43] ShastriPaturi commented on #386
20190101: ICEC from NSIDC L4

![image](https://user-images.githubusercontent.com/26145004/191124945-d32ecbd9-fccd-4721-90ee-783fae7f4a5f.png)

I will push to R2D2

[2022-09-19 22:16] guillaumevernieres commented on #386
Thanks @ShastriPaturi ... that would be very helpful!

[2022-09-19 22:18] guillaumevernieres commented on #386
@ShastriPaturi : Is the converter correct in the arctic? it seems that obs are missing ... Also, where are the 0 values? Are these the obs that you are using @jieshunzhu ?

[2022-09-19 23:28] ShastriPaturi commented on #386
I did a quick conversion and plot. I will double check with Jieshun tomorrow and get the converter from him.

Sent from my iPhone

[2022-09-20 12:14] #383 closed, assigned to guillaumevernieres

[2022-09-20 12:18] guillaumevernieres commented on #379
@hyunchul386 : The CICE consortium is advising against the use of the c-grid for CICE (thanks for the head's up @JessicaMeixner-NOAA) ... So lets revert back.

[2022-09-20 12:21] hyunchul386 commented on #379
Okay, the reference run will be CICE-B.

[2022-09-20 12:38] ShastriPaturi commented on #386
![image](https://user-images.githubusercontent.com/26145004/191259158-4ca201c6-687d-45f7-a322-634cf3694d9f.png)
Looks fine.
But will compare this against the one from @jieshunzhu as well.

[2022-09-20 13:13] jieshunzhu commented on #386
Very occasionally, either ice fraction or obs error in original NSIDC data
is 0. In that case, there will be no records in converted data.

On Tue, Sep 20, 2022 at 8:38 AM Shastri Paturi ***@***.***>
wrote:

[2022-09-20 17:02] ShastriPaturi commented on #386
@guillaumevernieres, the difference between the two plots is that plot 1 has obs removed when the error is 0, the second one does not. I will plot for few other days. Definitely we need the IODA files with error != 0.

[2022-09-20 19:00] ShastriPaturi commented on #386
All obs
![image](https://user-images.githubusercontent.com/26145004/191341571-e29208ad-43d6-43c7-88b0-80d36895e8ba.png)
With err=0 removed
![image](https://user-images.githubusercontent.com/26145004/191342303-3d6f10ac-f135-45fd-9de4-336c27c7c6bc.png)

[2022-09-20 19:30] ShastriPaturi commented on #386
![image](https://user-images.githubusercontent.com/26145004/191347512-bfb65b8c-ee45-4a88-9f0d-baf909327791.png)
![image](https://user-images.githubusercontent.com/26145004/191347796-bdcddbd2-6f86-47da-af95-e0d661c2bafe.png)

[2022-09-20 20:01] guillaumevernieres opened #388 "Process MODIS obs for August 2021"
- Develop an L1 converter based on @liuxiao37k L2 MODIS converter
- Process August 2021
- Push to R2D2

[2022-09-20 20:31] guillaumevernieres commented on #386
@ShastriPaturi , @jieshunzhu , you need to keep the obs where the estimated error is 0 ... It makes sense too, 0 errors seems to be where the ice concentration is most likely 0 or 1. Add a small offset to the processing of the error, or a filter to the ufo. I vote for adding a small offset to the original obs error.

[2022-09-20 20:53] ShastriPaturi commented on #386
I added a 0.01 offset where the error is 0.
![image](https://user-images.githubusercontent.com/26145004/191362319-129a4f01-35b8-4cac-b9bf-8f23e4e60613.png)

[2022-09-20 21:00] ShastriPaturi commented on #386
0.01 has conflicts. Will use 0.0001

[2022-09-21 12:03] ShastriPaturi commented on #386
Pushed to R2D2 3 months of data from 2019-01-01 till 2019-03-31.
Will complete till rea-time.
Closing this issue as complete.

[2022-09-21 12:52] guillaumevernieres commented on #386
@ShastriPaturi , time is set to "undef" ... Set it to 0.

[2022-09-21 16:06] liuxiao37k commented on #302
some `rh` and `rv` plots here:
https://drive.google.com/drive/folders/1Qn4riV6LbvGo6HYr--j5jZt956EWoBAC?usp=sharing
It's beyond my expertise to interpret the results for `h`. I cannot tell if we are looking at the effects of `we need to remove the global area weighted mean from ssh` above.
For other states, large effects from eddies/local circulation?
@guillaumevernieres

[2022-09-21 16:11] liuxiao37k commented on #301
@guillaumevernieres we can start evaluating the ensemble based vs. `setscale` based 3D BUMP for 1/4 deg, although both need to be reinitialized and compared again at certain point. I can branch off two additional runs from my ongoing analysis (2D BUMP) using these two approaches.

[2022-09-21 16:16] liuxiao37k commented on #388
@guillaumevernieres per our discussion on Sept 20, @mjhossen will start working on the L1 converter based on the existing L2 converter, and @liuxiao37k will provide help as needed. For August 2021, we can either use soca-science or simple terminal windows scripting.

In order to fetch OB.DAAC MODIS data from NOAA HPC (Hera is the only machine that has been tested), one need to follow `OB.DAAC cred

[2022-09-21 16:38] ShastriPaturi opened #389 "Process L2 sea-ice concentration from AMSR-2 (available in NCEP Data tanks)"
[code]

[2022-09-21 16:55] guillaumevernieres commented on #388
Sounds good @liuxiao37k , feel free to edit the issue description. Let me know if you need write permission ...

[2022-09-21 17:41] ShastriPaturi opened #390 "Process L3U SST from Geostationary satellites (GOES-<16,17>) and HIMAWARI-08 (NCEP Data Tanks)"
[code]

[2022-09-21 17:58] liuxiao37k commented on #302
To revise what I did wrong:
1. initialize forecasts according to the amazing schematic diagram below, to get fcst1, fcst2, ... (n=n_ens);
2. do a `diffstate` call, with vertical remapping, between each lag-pair to generate (n_ens-1) pairs of "difference of states" as pert1 (fcst1-fcst2), pert2 (fcst2-fcst3), ...;
3. repeat what I did but replacing the files below with what come from step 2:
[code]

[2022-09-21 20:02] mjhossen commented on #388
Thanks @liuxiao37k for putting a link. I downloaded just one day observations from https://oceandata.sci.gsfc.nasa.gov/directdataaccess/Level-1A/SNPP-VIIRS/2021/213/. It is 73G. For 30 days, it would be at least 200G for just snpp.

[2022-09-22 03:51] liuxiao37k commented on #302
@guillaumevernieres figures have been updated [link](https://drive.google.com/drive/folders/1Qn4riV6LbvGo6HYr--j5jZt956EWoBAC?usp=sharing)
I still cannot make much sense of these, but I did notice that 1) `h` for all files are now identical; 2) length scales are smaller without temporal variability; 3) magnitude of difference between each pair seems reasonable, e.g. `Temp` has a global mean absolu

[2022-09-22 12:41] guillaumevernieres commented on #302
That was fast! Thanks @liuxiao37k .

[2022-09-22 12:46] guillaumevernieres commented on #302
@liuxiao37k the length scales are definitely not what we would have expected. Out of curiosity, what does the std. dev. looks like for Temp, Salt, ssh and your biogeochem fields?

[2022-09-22 12:53] guillaumevernieres commented on #302
@liuxiao37k , as a ref. , in case I didn't share the link already, similar work from a while back: https://events.ecmwf.int/event/199/contributions/1947/attachments/1164/2144/OceanDA-WS_Menetrier.pdf

Done at 1 deg resolution.

[2022-09-22 13:00] guillaumevernieres opened #391 "Update filters for MW SSS"
## Description
Update the filters in the SMAP and SMOS yaml files based on the finding of the OSE's.

## Deliverable
Update of the develop branch with the latest and greatest smos/smap yamls (PR).

[2022-09-22 13:39] ShastriPaturi commented on #386
@guillaumevernieres, time is variable added by the ioda-upgrade.x, since the converter uses the old format. Will update the converter to IODA-v2.
Closing this issue.

[2022-09-22 13:39] #386 closed, assigned to ShastriPaturi

[2022-09-22 20:17] liuxiao37k commented on #302
@guillaumevernieres sure. here are the plots for `stddev` generated from the 11 lag pairs (12 forecasts, 11 pairs). I don't have 24 forecasts yet. I'll squeeze in additional 24 forecasts, initialized every 5 days, between 20190101-20190630, to make 36 forecasts, and compare each pair at day 5 and day 10. so we will have (36-1) degree of freedom. yes, I've seen your plots based off the 1deg configu

[2022-09-24 13:01] guillaumevernieres commented on #379
@hyunchul386 , please note that the start date changed to **2021-07-01-00**

[2022-09-24 13:02] guillaumevernieres commented on #387
@ShastriPaturi , note for Monday: Usable to plot and compare but cannot be processed in the preqc step in soca-sci ... Needs investigation.

[2022-09-24 13:05] guillaumevernieres opened #393 "EnVAR with static perturbations"
# Description
Follow #379 's setup and start date (... if possible, to be discussed with @liuxiao37k).
Use the fcst lag differences prepared by @liuxiao37k as a static ensemble for a hybrid envar.

The use of static perturbations will be a testbed for:
  - profile in more detail the envar
  - quantify the quality of the static ensemble ... We're currently unsure of the drift influence on the pertu

[2022-09-26 18:23] guillaumevernieres commented on #391
changed estimate to 5 to reflect time needed to setup exp and analyse results ...

[2022-09-26 18:24] #391 closed, assigned to mjhossen

[2022-09-26 21:06] ShastriPaturi commented on #387
@guillaumevernieres, I have updated the nsidc L4 converter, converted and pushed to R2D2 for 20190101. I need to test it on my side as well.

[2022-09-26 23:18] guillaumevernieres commented on #387
looks like we're posting on the wrong issue ... this is supposed to be about ice thickness, I suppose you are referring to ice concentration?

[2022-09-26 23:20] guillaumevernieres opened #394 "Add L4 sea-ice thickness to R2D2"
- Download L4 sea ice thickness from Copernicus for the period of 2019-present ... TBD, size dependent
- Create a ioda converter
- Convert, check obs and push to R2D2

[2022-09-26 23:53] ShastriPaturi commented on #394
@guillaumevernieres does this include the ice freeboard?

[2022-09-27 12:26] guillaumevernieres commented on #379
@hyunchul386 , could you give us an update on the status of this experiment?

[2022-09-27 12:28] hyunchul386 commented on #379
I will update it in the meeting

[2022-09-27 12:31] guillaumevernieres opened #395 "Process simulated PACE observations"
Download, convert to ioda and push a 6 hour window of PACE simulated observations in R2D2.

[2022-09-27 12:33] #280 closed, assigned to hyunchul386

[2022-09-27 12:35] guillaumevernieres opened #396 "Comparison of EMC4 and PSL"
Provide a detailed comparison in observation space of PSL and EMC4 during their period of overlap. Use `ioda-plots` to generate the statistics.

[2022-09-27 12:43] #371 closed, assigned to YongzuoLi-NOAA

[2022-09-27 12:45] #372 closed, assigned to ShastriPaturi

[2022-09-27 12:51] guillaumevernieres opened #397 "Randomizing the static B for sea-ice"
Generate perturbations for ice thickness, concentration and snow depth. Run an ensemble forecast started from the perturbed IC's.

[2022-09-27 13:19] guillaumevernieres opened #398 "L4 ADT from Copernicus"
Check if we can get ADT from 2019-present. If so, download, convert and push to r2d2.

[2022-09-27 14:49] guillaumevernieres opened #399 "Check if we have insitu/sst/ic/adt obs for the period of 2021-03-01 to 2021-09"
A quick check of the stus of the obs database for the period in the title.

[2022-09-27 14:54] guillaumevernieres commented on #399
Database status, figure courtesy of @mjhossen :
![image](https://user-images.githubusercontent.com/14031856/192560745-610b843d-e961-4534-acbc-ded8b24ab40c.png)

[2022-09-27 15:18] #399 closed, assigned to mjhossen

[2022-09-27 20:43] ShastriPaturi commented on #387
The IODA converter has been updated.
The NSIDC CDR L4 for 2019 is converted and pushed to r2d2.
A PR is underway.

[2022-09-28 13:51] guillaumevernieres commented on #298
Not 100% done, but FYI @ShastriPaturi , I'm closing this issue.

[2022-09-28 13:51] #298 closed, assigned to ShastriPaturi, mjhossen

[2022-09-28 20:22] liuxiao37k commented on #302
Pinging @ShastriPaturi here as he would like to follow updates on this task. @ShastriPaturi : Currently I am working on generating more forecasts in order to obtain more lagged perturbations. I'll rerun bump training and update results/figures once I have 36 members (35 degree of freedom) initialized every 5 days from 6-month analysis.

[2022-09-29 00:17] guillaumevernieres opened #400 "Run a canned S2SW forecast"
# Description

What the title say, with the global workflow. Gotta start somewhere!

# Howto

Stolen from the `global-workflow` wiki and @JessicaMeixner-NOAA

### Build stuff

[code]

Edit
[code]
and change the below to what works for you …
[code]

There’s got to be a better way to do this!

### Prepare a canned experiment
Exiting stuff!!!
Don't run what's below unless your name is **Andy** or **G

[2022-09-29 00:37] guillaumevernieres commented on #400
43 nodes ... that's why #337 exist!
[code]

[2022-09-29 00:47] ShastriPaturi opened #401 "L2 CryoSat-2 ice freeboard data from NESDIS"
L2 CryoSat-2 ice freeboard data from NESDIS is available from October 2018 - March 2019.

1. Create a script to download from:
    ftp://ftp.star.nesdis.noaa.gov/pub/socd/lsa/aegido/ffsar_Arctic_2018_2019/L2_80Hz
2. Update existing ice freeboard IODA-converter and convert to IODA-v2 format
    https://github.com/JCSDA-internal/ioda-converters/blob/develop/src/marine/cryosat_ice2ioda.py
3. The QC f

[2022-09-29 00:58] ShastriPaturi opened #402 "Upgrade to IODA-v2: L2 CryoSat-2 GDR ice freeboard from ESA and push to R2D2"
1. Upgrade to IODA-v2 existing ice freeboard IODA-v1 files from 2019-2021.
2. Remove the redundant variables:

- record_number
- time
- VarMetaData

ncks -O -x -C -g MetaData -v <record_number, time> icefb_cryosat2_YYYYMMDD.nc icefb_GDR_YYYYMMDD.nc
ncks -O -x -C -g VarMetaData icefb_cryosat2_YYYYMMDD.nc icefb_GDR_YYYYMMDD.nc

3. Push to R2D2

[2022-09-29 13:02] AndrewEichmann-NOAA commented on #400
@guillaumevernieres Did this run?

[2022-09-29 13:11] guillaumevernieres commented on #400
kind of, it failed in the forecast ... the traceback might remind you of our old jobs:
[code]
@JessicaMeixner-NOAA , any idea what I did wrong?

[2022-09-29 13:39] AndrewEichmann-NOAA commented on #400
@guillaumevernieres Was the script provided specifically for Hera, as opposed to Orion?

[2022-09-29 13:41] guillaumevernieres commented on #400
I changed things to make it work on Hera.

[2022-09-29 13:43] ShastriPaturi commented on #389
IODA converter is ready. The converted file for 20210801 needs to be tested.

[2022-09-29 13:44] AndrewEichmann-NOAA commented on #400
Ok, your run got further than mine, so I'll try it

[2022-09-29 13:50] ShastriPaturi commented on #390
@mjhossen, the data are on hera. Please start with 20210801.
/scratch2/NCEPDEV/marine/Shastri.Paturi/DATA_realtime/20210801/sst

Example files (Data are hourly):
GOES-<16,17> (ABI is the sensor - Advanced Baseline Imager)
20210801230000-STAR-L3C_GHRSST-SSTsubskin-ABI_G16-ACSPO_V2.70-v02.0-fv01.0.nc
20210801230000-STAR-L3C_GHRSST-SSTsubskin-ABI_G17-ACSPO_V2.71-v02.0-fv01.0.nc
Himawari-08 (AHI is th

[2022-09-30 13:58] ShastriPaturi commented on #402
ice freeboard from ESA is upgraded to IODA-v2 for 20190101 and pushed to R2D2.
The redundant groups/variables (from ioda-v1): record_number, time and VarMetaData have been removed.

The file needs to be checked through h(x)/3dvar.

[2022-09-30 16:04] mjhossen commented on #401
There is something wrong in the data file. I am converting 2018-10-02 data file
The reference time is given 1985-01-01
        double time(time) ;
                time:long_name = "UTC time [s]" ;
                time:units = "seconds since 1985-01-01 00:00:00" ;
and the time is given in the second.
After converting into date format, we got 2048 though the data file's date is 2018:
datetime = "204

[2022-09-30 17:05] guillaumevernieres opened #403 "Add ocean sea-ice DA to the g-w"

[2022-09-30 18:03] mjhossen commented on #401
I need to put a reftime as 1955-01-02 23:59:24 that provides consistent time and date.

[2022-09-30 18:06] ShastriPaturi commented on #401
Thanks @mjhossen .
We will have to contact the provider.

Could you generate spatial plots of ObsValue : raw and convertered?

[2022-10-03 14:52] mjhossen commented on #398
@ShastriPaturi Can you please put the ftp link for downloading the copernicus level 4 data?

[2022-10-03 15:04] mjhossen commented on #398
I downloaded the data from the link:
[code]

[2022-10-03 16:28] ShastriPaturi commented on #402
Tested through 1deg hofx for 20190101.
The file is named as icefb_GDR_YYYYMMDD.nc since already a obs yaml (icefb_GDR.yaml) exists.
Data is upgraded to IODA-v2 from 2019-20200829 and pushed to R2D2.

[2022-10-03 21:03] mjhossen commented on #398
Data is available until 2022-02-09. Conversion is completed. Data is located in the Orion at /work2/noaa/ng-godas/jhossen/adt_coperl4

[2022-10-03 21:17] ShastriPaturi commented on #398
Thank you @mjhossen.
Spatial plots of ObsError, ObsValue between raw and IODA-v2 converted data for a day or two will helpful.
Also, having a download script will be helpful.

[2022-10-03 21:28] mjhossen commented on #398
![Screen Shot 2022-10-03 at 5 27 25 PM](https://user-images.githubusercontent.com/65732322/193686542-117098c6-e765-4667-afff-95d8bff93227.png)

[2022-10-03 21:38] mjhossen commented on #398
Raw data plotted by ncview:
![Screen Shot 2022-10-03 at 5 37 44 PM](https://user-images.githubusercontent.com/65732322/193689844-9707475b-ef9e-427b-9fa8-d95a6b12e826.png)

[2022-10-03 21:56] mjhossen commented on #394
Can you please put the link from where I can download the data?

[2022-10-03 22:24] guillaumevernieres commented on #394
You'll have to navigate the Copernicus page @mjhossen. I do remember seeing a L4 ice thickness product but not 100% sure.

[2022-10-03 22:30] ShastriPaturi commented on #394
@mjhossen Copernicus page does have the ice thickness.
https://cds.climate.copernicus.eu/cdsapp#!/dataset/satellite-sea-ice-thickness?tab=form

[2022-10-04 13:14] guillaumevernieres commented on #385
I think this done. Closing this @AndrewEichmann-NOAA

[2022-10-04 13:14] #385 closed, assigned to AndrewEichmann-NOAA

[2022-10-04 13:15] #387 closed, assigned to ShastriPaturi

[2022-10-04 13:16] #381 closed, assigned to ShastriPaturi

[2022-10-04 13:20] guillaumevernieres opened #404 "ESA ice freeboard"
Process the same period as what was given by NESDIS

[2022-10-04 13:30] guillaumevernieres opened #405 "PT1H obs database"
~~Concatenate and/or split obs into 6 hours chunks.~~
Add hourly superobed geostationary SST data to R2D2.

[2022-10-04 13:34] #345 closed, assigned to hyunchul386

[2022-10-04 13:34] #344 closed, assigned to hyunchul386

[2022-10-04 13:38] guillaumevernieres commented on #305
Not going to happen!

[2022-10-04 13:38] #305 closed, assigned to kestonsmith-noaa

[2022-10-04 20:43] ShastriPaturi commented on #389
Raw obs: 20210801
![image](https://user-images.githubusercontent.com/26145004/193923729-5d530518-aefa-4d4c-8137-797749f38264.png)

[2022-10-04 21:14] guillaumevernieres commented on #389
That's 24hrs of obs @ShastriPaturi ?

[2022-10-04 21:25] ShastriPaturi commented on #389
Yes @guillaumevernieres

[2022-10-05 15:21] mjhossen commented on #394
Downloaded data from CryoSat-2 for 2019-present. CDR covers Oct 2002 - Apr 2020 for version 2.0 and ICDR from Oct 2020 to present for version 2.0

[2022-10-05 21:15] mjhossen commented on #390
@ShastriPaturi  Which script we can use?

[2022-10-05 21:18] ShastriPaturi commented on #389
IODA-v2: 20210801
![image](https://user-images.githubusercontent.com/26145004/194165666-36df229f-4312-45ac-a6fb-192a067ca6c7.png)
No QC filter is applied. There is no error estimate provided, applied 0.1.

[2022-10-05 21:19] ShastriPaturi commented on #389
I did not apply any qc filter

[2022-10-05 22:35] ShastriPaturi commented on #390
@mjhossen you can use gds2_sst2ioda.py .Sent from my iPhoneOn Oct 5, 2022, at 5:15 PM, mjhossen ***@***.***> wrote:﻿
@ShastriPaturi  Which script we can use?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-10-06 18:22] mjhossen commented on #395
Since data files are very large, we initially decided to create a 6hr window data. Again, we are facing problem when concatenating files because of time limit in job submission. We then decided to create every 10 min data by concatenating two consecutive files as each file contains 5 min coverage data.